/* 2017-03-13 by 梁丹 */
/*2017-05-16修改 by 曹磊*/
.search2 .pl-30{
    padding: 0 0.3rem!important;
}
/*..................................共用................................*/
.ps-r{
    position: relative;
}
.ps-a{
    position: absolute;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.font-w{
    font-weight: normal;
}
.color-f7{
    color: #f75e46;
}
.bg-f7{
    background-color: #f75e46;
}
.pt-40{
    padding-top: .4rem;
}
.dis-no{
    display: none;
}
.border-r{
    border-right: 1px solid #e8e8e8;
}
.border-l{
    border-left: 1px solid #e8e8e8;
}
.border-t{
    border-top: 1px solid #e8e8e8;
}
.border-b{
    border-bottom: 1px solid #e8e8e8;
}
.border-x{
    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}
.dis-b{
    display: block;
}
.dis-in{
    display: inline-block;
}
.line-110{
    line-height: 1.1rem;
}
.line-100{
    line-height: 1rem;
}
/*..................................正文................................*/
.search2{
    background-color: #f1f1f1;
}
.search2 .header{
    line-height: .76rem;
    padding: .16rem 0.3rem!important;
    width: 100%;
}
.search2 .header .header-l{
    float: left;
    width: 86%;
}

.search2 .header h3{
    width: 14%;
    height: .76rem;
    text-align: right;
    float: left;
}
.search2 .header input{
    height: .76rem;
    line-height: .76rem;
    outline: none;
    border: none;
    background:url(../../images/common/search.jpg) 3% no-repeat;
    background-size:0.29rem;
    padding-left: 0.66rem;
    background-color: #fff;
    width: 100%;
}
.search2 .header .header-l-ico{
    line-height: 0.76rem;
    width: 0.6rem;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;

}
.search2 .header .header-l img{
    height: .3rem;
    width: .3rem;
}

.search2 .header .header-r{float: right}
/*...................................搜索历史...................................*/
.search2 .his{
    line-height: 1.1rem;
    height: 1.1rem;
}


.search2 .his input{
    border: none;
    outline: none;
    line-height: 1.1rem;
    height: 1.1rem;
    background-color: transparent;
}
.search2 .his img{
    height: .3rem;
    width: .3rem;
    right: 0;
    top: 0.4rem;
    position: absolute;
}
.search2 .his .del-icon{
    height: 1.1rem;
    width: .8rem;
    text-align: center;
    line-height: 1.1rem;
    position: relative;
}
.search2 .Warrior{
    height: 1.1rem;
    line-height: 1.1rem;
}
.search2 .Warrior-l h3{
    padding-left: .6rem;
    background:url(../../images/common/com.png) 3% no-repeat;
    background-size:.35rem;
}
.search2 .Warrior-r img{
    width: .17rem;
    height: .29rem;
}
/*......................................热门搜索.........................*/
.search2 .hot h4{
    height: 1.1rem;
    line-height: 1.1rem;
}
.search2 .game-n{
    height: 1.1rem;
    line-height: 1.1rem;
}
.search2 .game-n a{
    width: 50%;
}
.search2 .game-n i{
    display: block;
    position: absolute;
    height: .56rem;
    width: 1px;
    left: 50%;
    top: .27rem;
    background-color: #ddd;
}
.search2 .game-n a span{
    margin-left:.3rem;
}
/*................................搜索框中打字出现的效果...........................*/
.search2 .rake-con{
    height: 1.1rem;
    line-height: 1.1rem;
}
.search2 .rake-con a{
    width: 100%;
    height: 100%;
}
.search2 .rake-con .rake-con-l{
    left: 0;
    height: 1.1rem;
}
.search2 .rake-con-l i{
    display: inline-block;
    width: 0.5rem;
    height: 1.1rem;
    background:url(../../images/common/com.png) left no-repeat;
    background-size: 60%;
    vertical-align: text-bottom;
    position: absolute;
    left: 0;
    top: 0!important;
}
.search2 .rake-con-l i.ph{
    background:url(../../images/common/ph.png) left no-repeat;
    background-size: 50%;
}

.search2 .rake-con-l h4{
    float: left;
    line-height: 1.1rem;
}

.search2 .rake-con img{
    right: 0;
    width: 0.17rem;
    height: 0.29rem;
    margin-top:.4rem
}