/*2017-05-11添加修改 by 曹磊*/
input{border: none}

input:disabled{background: #fff}

.to-right{width:0.8rem;height:100%;background: url("../../images/right2.png")right no-repeat;position: absolute;right: 0.3rem;background-size: 0.18rem 0.32rem}

.icon-close{width: 0.8rem;height:0 }

i{display: inline-block}

.maskBox{width: 100%;height: 100vh;background: rgba(0,0,0,0.5);position: fixed;top: 0;z-index: 99;max-width: 768px}

.f-arial{font-family: "Arial"}

.fixedFill-lg{width: 100%;height: 1.96rem;}

.fixedFill-mx{width: 100%;height: 0.96rem;}

.fixed-box{width: 100%;height: auto;z-index: 500}

.p-sp{padding: 0.36rem 0.24rem}

.pt-40{padding-top: 0.4rem}

.pb-40{padding-bottom: 0.4rem}

.pt-60{padding-top: 0.6rem}

.pb-60{padding-bottom: 0.6rem}

.pt-80{padding-top: 0.8rem}

.pb-80{padding-bottom: 0.8rem}

.lh110 {  line-height: 1.1rem;  }

.lh130 {  line-height: 1.3rem;  }

.lh82 {  line-height: .82rem;  }

.w25 {  width: 25%;  }

.w50{width: 50%}

.w70 {  width: 70%;  }

.w80 {  width: 80%;  }

.mt-40 {  margin-top: .4rem;  }

.mt-100 {  margin-top: .97rem;  }

.miw160 {  min-width: 1.6rem;  }

.box4 {  height: 1.1rem;  padding: 0 .3rem;  }

.coin-msg li {  width: 33.33%;  }

.coin-msg li a {  height: 1.26rem;  line-height: 1.6;  border: 1px solid #ddd;  border-radius: .1rem;  }

.mx-5 {  margin-left: .08rem;  margin-right: .08rem;  }

.bg-f75e46 {  background-color: #f75e46;  }

.bg-ccc {  background-color: #ccc;  }

.color-f75e46 {  color: #f75e46;  }

.mt-25 {  margin-top: .25rem;  }

.pt-200 {  padding-bottom: 2rem;  }

.bg-op0 {  background: rgba(0, 0, 0, .3) !important;  }

.coin-input { width: 60%;  border: none;  left: 30%;  vertical-align: top !important;  }

.color-010101 {  color: #010101;  }

.js-msg img {  width: .5rem;  height: .5rem;  }

.coin-kc img {  width: .34rem;  height: .34rem;  }

.bg-f6 {  background-color: #f6f6f6;  }

.tab-2 li {  width: 50%;  }

.or-title { background-color: #fffbfa;  }

.or-title img {  top: 0;  left: 0;  }

.or-title span {  border-left: .06rem solid #f75e46;  }

.coin-kf button {  width: 2rem;  border: 1px solid #f75e46;  }

.tab3 li {  width: 33.333333%;  }

.tab3 li a { display: block;  width: 100%;  line-height: .94rem;  }

.tab3 li a.on {  border-bottom: 2px solid #f75e46; }

.bg-f5 {  background-color: #f5f5f5;  }

.tab4 li {  position: relative;  width: 25%;  }

.tab4 li:after {  content: '';  display: block;  position: absolute;  top: 50%;  right: 0;  transform: translateY(-50%);  width: 1px;  height: 80%;  background-color: #ddd;  }

.tab4 li:last-child:after {  content: '';  height: 0;  visibility: hidden;  clear: both;  }

.tab4 li a {  display: block;  width: 100%;  font-size: .27984rem;  color: #888;  margin: .24rem 0;  line-height: .432rem;  }

.tab4 li.on {  background-color: #fff;  }

.tab4 li.on a {  color: #f75e46;  }

.tab4 li.on:after {  content: '';  height: 0;  visibility: hidden;  clear: both;  }

.coin-goods img {  width: 1.28rem;  height: 1.28rem;  }

.goods-btn button {  width: 1.5rem;  height: .6rem;  line-height: .6rem;  }

.border-f75e46 {  border: 1px solid #f75e46;  }

.bl {  border-left: .06rem solid #f75e46;  }

.coinx img {  width: .7rem;  height: .7rem;  }

.showlist {  display: none;  top: 1.27rem;  left: 0;  z-index: 51;  }

#coin-close {  top: 50%;  transform: translateY(-50%);  right: .3rem;  }

#coin-close img {  width: .33rem;  height: .33rem;  }

.shade {  position: fixed;  display: none;  top: 2.24rem;  left: 0;  width: 100%;  height: 100%;  z-index: 50;  background: #000;  opacity: .5;  }

.va15 {  vertical-align: -12%;  }

.bi {  top: 0;  right: 0;  width: .33rem;  height: .33rem;  font-size: .2rem;  color: #fff;  line-height: .33rem;  text-align: center; background-color: #f75e46;  z-index: 10;  }

.coinok {  top: 50%;  right: .3rem;  transform: translateY(-50%);  width: .44rem;  height: .28rem;  z-index: 52;  background: url(../../images/coins/coin-ok.png) no-repeat 80% center;  background-size: 100% 100%;  }

.coin-num {  left: 30%;  }

.coin-btn {  width: 4.04rem;  top: .2rem;  right: .3rem;  }

.t01 {  top: -.1rem !important;  }

.coin-s2 img {  width: .34rem;  height: .34rem;  }

.coin-e1 {  vertical-align: middle;  }

.box {  width: 100%;  padding: 0.4rem 0.3rem;  background: #fff;  position: relative;  }

.count2 {  width: 3.1rem;  height: 0.8rem;  position: absolute;  right: 1rem; top: 0.25rem;  }

.add,
.reduce {  width: 0.8rem;  height: 0.8rem;  border: 1px solid #e8e8e8;  font-family: arial;  background: #fff;  cursor: pointer;  }

.num {  width: 1.4rem;  height: 0.8rem;  border: none;  border-bottom: 1px solid #e8e8e8;  border-top: 1px solid #e8e8e8;  text-align: center;  }

.r30 {  right: .3rem;  }

.brl {  border-left: .06rem solid #f75e46;  }

.dialog-box2 {  width: 88%;  max-width: 7.2rem;  height: auto;  border-radius: .2rem;  background-color: rgba(0, 0, 0, .8);  display: none;  left: 50%;  opacity: .6;  top: 30%;  position: fixed;  transform: translate(-50%, -30%);  z-index: 1001;  }

.tip{display: inline-block;height: 0.35rem;line-height: 0.35rem}

.icon-bao{display: inline-block;width: 0.34rem;height: 0.34rem;background: url(../../images/Icon/ketoubao.png) center no-repeat;background-size: 100%;}

.icon-che{display: inline-block;width: 0.34rem;height: 0.34rem;background: url(../../images/Icon/icon-pei.png) center no-repeat;background-size: 100%;}

.icon-pei{display: inline-block;width: 0.34rem;height: 0.34rem;background: url(../../images/Icon/icon-che.png) center no-repeat;background-size: 100%;}

.icon-yibao{display: inline-block;width: 0.34rem;height: 0.34rem;background: url(../../images/Icon/yitoubao.png) center no-repeat;background-size: 100%;}
.icon-anximmai{display: inline-block;width: 0.34rem;height: 0.34rem;background: url(../../images/Icon/axm-icon.png) center no-repeat;background-size: 100%;}
.mai-axm{display: inline-block;width: 0.34rem;height: 0.34rem;background: url(../../images/Icon/mai-axm.png) center no-repeat;background-size: 100%;}
/*筛选，排序*/
.list-select{ width:100%; max-width:768px; position: relative; z-index:32;  }

.list-select .select-main{ background-color:#fbfbfb;  width:100%; position: relative; line-height:0.96rem; font-size:.32rem;}

.list-select .select-left{z-index:2; float:left; width:100%; box-sizing:border-box; border-right:1px solid #e8e8e8; }

.list-select .select-dlleft{z-index:2; float:left; width:33.3%; box-sizing:border-box;  border-right:1px solid #e8e8e8; }

.list-select .select-dlright{z-index:2; float:right; width:33%;}

.list-select #divselect{ float:left; width:100%; margin:0 auto; position:relative; z-index:4;}

.list-select #divselect2{ float:left; width:100%; margin:0 auto; position:relative; z-index:4;}

.list-select .select-main span{display:block; box-sizing:border-box; width:100%; height:0.96rem;line-height:0.96rem; text-align:center; cursor:pointer; background: #fff; outline: 0; color:#fff;}

.list-select .select-main span cite{font-style:normal; color:#000;}

.list-select .select-main span img{padding-left:.2rem; width:0.5rem;}

.list-select .showcata, .list-select .showcata2, .list-select .showcata3 ul{width:100%; position:relative; font-size:.32rem; }

.list-select .showcata ul li, .list-select .showcata2 ul li, .list-select .showcata3 ul li{line-height:0.96rem; border-bottom:1px solid #e8e8e8;  }

.list-select .showcata ul li a, .list-select .showcata2 ul li a, .list-select .showcata3 ul li a{color:#333; text-decoration:none; }

.list-select .showcata, .list-select .showcata2, .list-select .showcata3{ z-index:31; position:absolute; top:1rem; width:100%; background:#fbfbfb; display:none; text-align:center;}


.list-main2{ width:100%; padding-top: 2.22rem;overflow: hidden}

.list-main .lists{ width:100%; margin-bottom: 0.6rem; background:#fff; }

.list-main div.topc{margin:0.6rem auto 0.96rem auto;  width:60%; height:0.96rem; line-height:1rem; background:#f75e46; font-size:.32rem; text-align:center; clear:both;  }

.list-main div.topc a{ color:#fff; display:block;  width:100%; height:0.96rem;}

.list-main{width:100%; position: relative; }

.list-main a{color: #000; }

.list-main .pro-list{padding:.3rem .3rem; width:100%; box-sizing:border-box; border-bottom:1px solid #e8e8e8; background:#fff;  height:2rem; overflow:hidden; }

.list-main .pro-list .pro-pic{float:left; width:1.3rem !important; overflow:hidden; position: relative; height:1.3rem; line-height:1.3rem; background:#f1f1f1; }

.list-main .pro-list .pro-pic img{ height:1.3rem; vertical-align:top; }

.list-select .select-midd {z-index: 2;float: left;width: 25%;box-sizing: border-box;}

.list-select .select-main .fith{width: .26rem; height: .26rem; display: inline-block; background: url(../../images/Icon/gn_fli.png) center center no-repeat ; margin: 0px auto;background-size: .25rem;}

.list-select .select-main .new_px{width: .24rem; height: .24rem; display: inline-block; background: url(../../images/Icon/newgray.png) center center no-repeat ; margin: 0px auto;background-size: .24rem;}

.list-select .select-main .new_sx{width: .26rem; height: .26rem; display: inline-block; background: url(../../images/sx-ico.png) center center no-repeat ; margin: 0px auto;background-size: .24rem;}

.list-select .active cite{color: #f75e46 !important;}

.list-select .active .fith{width: .26rem; height: .26rem; display: inline-block; background: url(../../images/Icon/redgn_fli.png) center center no-repeat ; margin: 0px auto;background-size: .24rem;}

.list-select .active .new_px{width: .24rem; height: .24rem; display: inline-block; background: url(../../images/common/px-red.png) center center no-repeat ; margin: 0px auto;background-size: .24rem;}

.list-select .active .new_sx{width: .24rem; height: .24rem; display: inline-block; background: url(../../images/sx-ico-hov.png) center center no-repeat ; margin: 0px auto;background-size: .24rem;}

/*筛选排序*/
.default_numb{z-index: 31;position: fixed;top: 1.93rem;width: 100%;text-align: left;height: 100%;max-width: 768px}

.default_numb ul{position: relative;z-index: 999;}

.default_numb ul li{line-height: .96rem;border-bottom: 1px solid #e8e8e8;padding-left: .5rem;font-size: .3rem;background: #fbfbfb;}

.default_numb ul li.active a{color:#f75e46; }

.default_numb ul li.active{background: url(../../images/ok.png) 6.8rem center no-repeat #fbfbfb;background-size: .35rem;}

.mstfiv{position: fixed;left: 0;top: 1.92rem;right: 0;bottom: 0;background: #000;filter: alpha(opacity=50);opacity: .5;}

.filter-mask{width: 100%;height: 100%;position: fixed;top: 0;background: rgba(0,0,0,0.5);z-index: 999;max-width: 768px;overflow: hidden}

.filter-content{width: 90%;margin-left: 10%;height: 100%;}

.filter-content .filter-list{}

.filter-content .filter-list ul{height:100%;padding:0 0.4rem;position: relative}

.filter-content .filter-list ul li{border-bottom: 1px solid #e8e8e8; }

.filter-content .filter-list ul li:last-of-type{border-bottom: none}

.filter-content .filter-list ul li .filter-item a{display: inline-block;width: 45%;height: 0.9rem;border: 1px solid #e8e8e8;line-height: 0.9rem;text-align: center;font-size: 0.3rem;color: #000;float: left}

.filter-content .filter-list ul li .filter-item a.active{border: 1px solid #f75e46;background: url("../../images/check.png") right bottom no-repeat;background-size: 0.48rem;color: #f75e46}

.filter-content .filter-list ul li .filter-item span{display: inline-block;width: 0.4rem;height: 0.66rem;line-height: 0.6rem;font-weight: 900}

.filter-content .filter-list ul li .filter-item input{display: inline-block;width: 44%;height: 0.66rem;float: left;text-align: center}

.filter-confirm{width: 100%;padding:0.3rem 0.4rem;background: #fff;position:absolute;bottom:0;right: 0}

.filter-confirm a{display: inline-block;width: 50%;height: 0.92rem;line-height: 0.92rem;border: 1px solid #f75e46}

@keyframes layerIn {
    from{left: 100%}
    to{left: 0}
}

/*公用的弹窗*/

.mask-content{width: 80%;margin-left: 10%;padding:0 0.4rem;position: absolute;top: 50%;margin-top: -2.4rem;border-radius: 0.2rem;z-index: 100;max-width: 768px}

.mask-content h2{line-height: 0.5rem}

.mask-content ul li{line-height: 0.5rem;margin: 0.2rem 0}

.mask-content ul li a{color: #0079fe;text-decoration: underline }

.mask-confirm a{display: inline-block;padding: 0.3rem 0}

.mask-confirm a.sure{color: #338dfe;width: 100%;}

/*无背景弹窗*/

.popup{background: rgba(0,0,0,0.8);width: 80%;margin-left: 10%;height: 2rem;line-height: 2rem;text-align: center;position: fixed;top: 40%;margin-top: -1.2rem;border-radius: 0.2rem}

.popup img{width: 0.7rem;height: 0.7rem;margin-top: -0.1rem}

/*左右切换按钮*/
.button-switch{ display: block; width: 1.18rem; height: .59rem}

.label-switch {display: inline-block;vertical-align: middle;width: 100%;border-radius:.4rem;box-sizing: border-box;height: 100%;position: relative;cursor: pointer;-webkit-align-self: center;align-self: center;}

.label-switch .checkbox {width: 100%;border-radius: .4rem;box-sizing: border-box;height: 100%;background: #9f9d9d;z-index: 0;margin: 0;padding: 0;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;appearance: none;border: none;cursor: pointer;position: relative;}

.label-switch .checkbox:before {content: ' ';position: absolute;left: 0px;top: 0px; margin:2%; width:96%;border-radius: .4rem;box-sizing: border-box;height: 98%;background: #9f9d9d;z-index: 1;-webkit-transition-duration: 300ms;transition-duration: 300ms;-webkit-transform: scale(1);transform: scale(1);}

.label-switch .checkbox:after {content: ' ';height: 92%;width: 50%;border-radius: .4rem;background: #fff;position: absolute;z-index: 2;top: 0px;left: 0px;margin:2%;box-shadow: 0 .05rem 0.12rem rgba(0, 0, 0, 0.4);-webkit-transform: translateX(0px);transform: translateX(0px);-webkit-transition-duration: 300ms;transition-duration: 300ms;}

.label-switch input[type="checkbox"] {display: none;}

.label-switch input[type="checkbox"]:checked + .checkbox {background: #4cd964;}

.label-switch input[type="checkbox"]:checked + .checkbox:before {-webkit-transform: scale(0);transform: scale(0);}

.label-switch input[type="checkbox"]:checked + .checkbox:after {-webkit-transform: translateX(92%);transform: translateX(92%);}

.label-switch input[type="checkbox"] + .checkbox {-webkit-transition-duration: 0;transition-duration: 0;}

.label-switch input[type="checkbox"] + .checkbox:after,html.android .label-switch input[type="checkbox"] + .checkbox:before {-webkit-transition-duration: 0;transition-duration: 0;}

/*底部提交*/
.order-submit{padding: 0.2rem 0.3rem}

.order-submit span{display: inline-block;height: 0.9rem;line-height: 0.9rem;text-align: center}

.order-submit .submits{display: inline-block;width: 100%;height: 0.9rem;line-height: 0.9rem;background: #f75e46}

/*安心买公用样式*/
.axm-box{width: 100%;background: #fff;height: 1.2rem;}

/*.axm-box span{display: inline-block;height: 1.2rem;line-height: 1.2rem}赵岩修改*/
.axm-box>span{display: inline-block;height: 1.2rem;line-height: 1.2rem}
.axm-box .axm-tip{display: inline-block;width: 1.2rem;height: 1.2rem;background: url("../../images/Icon/icon-axm-tip.png") left no-repeat;background-size: 0.34rem 0.34rem}

.mine{width: 1.1rem;height: 1.1rem;background: url("../../images/Icon/icon-mine.png") right no-repeat;background-size: 0.42rem 0.42rem}

/*选择收货角色名*/
.js-msg ul li{position: relative;border-bottom: 1px solid #e8e8e8;line-height: 1.1rem}

.select-buyer{position: absolute;width: 100%;margin-left: -0.3rem;z-index: 500;}

.select-buyer ul{height: 4.4rem;overflow-y: scroll}

.select-buyer ul li{padding:0 0.3rem;border-bottom: 1px solid #e8e8e8;}

.select-buyer ul li.active a{color: #f75e46}

.select-buyer ul li.active{background: url(../../images/ok.png)96% center no-repeat;background-size: .35rem;}

/*底部选择区服弹窗*/
.fadeUp{position: fixed;bottom: 0;z-index: 999;width: 100%;max-width: 768px}

.fadeUp .title{padding: 0.3rem 0.3rem;font-size: 0.36rem;text-align: center;color: #000;position: relative}

.icon-close{width:0.8rem;height:100%;position: absolute;right: 0.3rem;top:0;background: url("../../images/tran-close.png")right no-repeat;background-size: 30%}

.select-area{padding: 0 0.3rem}

.select-area .line1{width: 10%;height: 1.2rem;}

.select-area .line2{width: 55%;height: 1.2rem;}

.select-area .select-left,.select-right{width: 45%;}

.select-name{width: 100%;height: 1.2rem;line-height: 1.2rem;border-bottom: 2px solid #f75e46}

.select-item ul li{padding: 0.36rem 0;max-width: 100%;}

.select-left .select-item ul li{text-align: left}

.select-left .select-item ul li.active {background: url("../../images/ok.png")right center no-repeat;background-size: 12%}

.select-right .select-item ul li{text-align: center;}

.select-right .select-item ul li span{padding-right: 1rem}

.select-right .select-item ul li.active span{display:inline-block;background: url("../../images/ok.png")right center no-repeat;background-size: 0.38rem 0.3rem;color: #f75e46}

.select-item ul{max-height:4.36rem;overflow-y: scroll}

.friendly-tip ul li{line-height: 0.5rem;margin: 0.3rem 0}

.friendly-tip .sure{width: 100%;height: 0.96rem;background: #f75e46;color: #fff;text-align: center;line-height: 0.96rem}

/*商品保障险，购买须知，交易险*/
.risk-header{padding-top:0.7rem;padding-bottom:0.8rem;text-align: center}

.risk-title{width:56%;margin-left: 22%;line-height: 0.5rem;font-weight:600}

.risk-body{padding: 0 0.3rem}

.risk-body .title{padding-top: 0.8rem;font-weight:600}

.risk-item{line-height: 0.4rem;padding:  0.25rem 0;word-spacing: 4px}

table{border-collapse: collapse;width: 100%}

table td{border: 1px solid #666;height: 0.7rem;}

.risk-item img{width: 0.36rem;height: 0.36rem}

table.special tr td:nth-child(1){width: 40%}
table.special tr td:nth-child(2){width: 30%}
table.special tr td:nth-child(3){width: 30%}

.spot{width: 0.12rem;height: 0.12rem;display: inline-block;border-radius: 100%;background: #999;margin-left: 0.12rem;margin-top: 0.1rem}

.box2{width: 100%;  padding: 0.2rem 0.3rem;  background: #fff;  position: relative;}
/*07-10金币2期*/
.w40{width: 40%;}
.w60{width: 60%;}
.h-90{height: 0.9rem}
.lh-90{line-height: 0.9rem}
.lh-48{line-height: 0.48rem}
.lh-50{line-height: 0.5rem}
.mt-6{margin-top: 0.06rem}
.mt-50{margin-top: 0.5rem}
.mt-140{margin-top: 1.4rem}
.pl-50{padding-left: 0.5rem}
.lh-36{line-height: 0.36rem!important;}
.lh-48{line-height: 0.48rem!important;}
.lh-70{line-height: 0.7rem!important;}

.list-select .new-select-midd {z-index: 2;float: left;width: 25%;box-sizing: border-box;}

.list-select .new-select-midd a span cite{color: #666}

.list-select .new-select-midd .icon-top{width: .26rem; height: .26rem; display: inline-block; background: url(../../images/Icon/mold-sv.png) center center no-repeat ; margin: 0px auto;background-size: .22rem 0.13rem;}

.list-select .active .icon-top{width: .26rem; height: .26rem; display: inline-block; background: url(../../images/Icon/mold-sv-hov.png) center center no-repeat; margin: 0px auto;background-size: .22rem .13rem;}

.icon-new-bao{display: inline-block;width: 0.34rem;height: 0.34rem;background: url(../../images/Icon/icon-new-bao.png) center no-repeat;background-size: 100%;}

.icon-new-ji{display: inline-block;width: 0.34rem;height: 0.34rem;background: url(../../images/Icon/icon-new-ji.png) center no-repeat;background-size: 100%;}

.icon-new-xian{display: inline-block;width: 0.34rem;height: 0.34rem;background: url(../../images/Icon/icon-new-xian.png) center no-repeat;background-size: 100%;}
.maijia{display: inline-block;width: 0.34rem;height: 0.34rem;background: url(../../images/Icon/maijia.png) center no-repeat;background-size: 100%;}
.icon-new-pei{display: inline-block;width: 0.34rem;height: 0.34rem;background: url(../../images/Icon/icon-new-pei.png) center no-repeat;background-size: 100%;}
.icon-chaoshi{display: inline-block;width: 0.34rem;height: 0.34rem;background: url(../../images/Icon/chaoshi.png) center no-repeat;background-size: 100%;}
.icon-new-axm{display: inline-block;width: 0.34rem;height: 0.34rem;background: url(../../images/Icon/icon-new-axm.png) center no-repeat;background-size: 100%;}
.icon-ketbao{display: inline-block;width: 0.34rem;height: 0.34rem;background: url(../../images/Icon/ketbao.png) center no-repeat;background-size: 100%;}
.icon-jishou{display: inline-block;width: 0.34rem;height: 0.34rem;background: url(../../images/Icon/icon-new-ji.png) center no-repeat;background-size: 100%;}
.icon-danbao{display: inline-block;width: 0.34rem;height: 0.34rem;background: url(../../images/Icon/icon-new-bao.png) center no-repeat;background-size: 100%;}


.gmnav-list{ position:absolute; top:0.96rem; left:0; width:100%; background:#fbfbfb; }
.gmnav-list .gmvst-mold ul li{ height:0.98rem; line-height:0.98rem;}
.gmnav-list .gmvst-mold ul li.active span{ display:block; background:url(../../images/recharge/choice-ico.png) no-repeat right center; height:0.98rem; background-size:0.31rem 0.23rem; color:#f75e46;}

.gmvst-profile{ position:absolute; top:0rem; left:0; width:100%; background:#fbfbfb;z-index: 10}
.gmvst-server{ width:40%; height:auto; display:block; z-index:10;overflow: hidden;}
.gmvst-server ul{overflow:hidden;overflow-y: scroll;height: 9.4rem}
.gmvst-server ul li{ height:1.1rem; line-height:1.1rem; text-align:center;border-right:1px solid #e8e8e8}
.gmvst-server ul li.curren{ background-color:#fff;}
.gmvst-server ul li.curren a{display:block; width:101%; height: 100%; background-color:#fff;}
.gmvst-server ul li.curren span{ color:#f75e46;}
.gmvst-server ul li.choice{ background:#fbfbfb;}
.gmvst-server ul li.choice a{ display: block; width:85%; height: 0.82rem;  position:relative; background-color:#fff; margin:0.2rem auto;}
.gmvst-server ul li.choice span{ display:block; width:100%; line-height:0.8rem; text-align:center;border:1px solid #f75e46; border-radius:0.12rem;  color:#f75e46;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;padding: 0 6%;}
.gmvst-server ul li.choice a i.close{ position:absolute; right:0px; bottom:0px; background:url(../../images/Icon/gmvst-close.png) no-repeat left bottom; display:block; background-size:100% 100%; width:0.30rem; height:0.30rem;}


.gmvst-area{  display:block; overflow:hidden; overflow-x:scroll; width:60%; height:9rem; position:relative;}
.gmvst-area .gmvst-server{position:absolute; top:0; left:0; width:100%;}
.gmvst-area ul{ margin-top:1.1rem; height: 8rem; overflow-y: auto;}
.gmvst-area ul li{ height:1.1rem; line-height:1.1rem; padding-right: 0.3rem; }
.gmvst-area ul li.active span{ display:block; background:url(../../images/recharge/choice-ico.png) no-repeat right center; height:1.1rem; background-size:0.31rem 0.23rem; color:#f75e46;}


.gvst-seach{ height:auto; display:block; overflow:hidden;border-radius:0.1rem; }
.gvst-seach .server-input{ width:100%; height:0.38rem; line-height:0.38rem; outline: none; border:none; background:url(../../images/Icon/seach-ico.png) no-repeat left center; background-size:0.25rem; padding-left:0.45rem; }

.new-filter-mask{width: 100%;height:100%;position: fixed;top: 0;z-index: 999;max-width: 768px;}

.new-filter-list{overflow: hidden;height: 78%;overflow-y: scroll}

.new-filter-list ul li{border-bottom: 1px solid #e8e8e8; }

.new-filter-list ul li:last-of-type{border-bottom: none}

.new-filter-list ul li .new-filter-item a{display: inline-block;width: 31.3%;height: 0.9rem;line-height: 0.9rem;text-align: center;font-size: 0.3rem;color: #000;float: left;overflow: hidden}

.new-filter-list ul li .new-filter-item a.active{border: 1px solid #f75e46;background: url("../../images/check.png") right bottom no-repeat;background-size: 0.48rem;color: #f75e46}

.new-filter-list ul li .new-filter-item span.span-zhi{display: inline-block;width: 12%;height: 0.9rem;line-height: 0.9rem;font-weight: 900}

.new-filter-list ul li .new-filter-item input{display: inline-block;width: 44%;height: 0.9rem;line-height:0.9rem;}

.new-filter-confirm a.reset{display: inline-block;width: 30%;height: 0.92rem;margin-right:5%;line-height: 0.92rem;}
.new-filter-confirm a.sure{display: inline-block;width: 65%;height: 0.92rem;line-height: 0.92rem;}

@keyframes layerIn {
    from{left: 100%}
    to{left: 0}
}

.fwbz-tip-list{width: 80%;}
.w-180{width: 1.8rem}
.span-icon-right{padding-left: 0.36rem;height: 0.4rem;line-height:0.4rem;display: inline-block;background: url("../../images/Icon/firm-ico.png") no-repeat left;background-size: 0.28rem}
.icon-more{width: 0.4rem;height: 0.28rem;display: inline-block;background: url("../../images/Icon/mbgames-ico.png") no-repeat center;background-size: 0.4rem 0.08rem}

.count3{width: 3.1rem;  height: 0.8rem;  position: absolute;  right: 0.26rem; top: 0.25rem; }

.order-submit .submit{display: inline-block;width: 100%;height: 0.9rem;padding: 0.1rem 0.45rem}

.friend-tip {height: 0.76rem;line-height: 0.76rem}
.friend-tip .icon-right{width: 0.76rem;height: 0.76rem;display: inline-block;background: url("../../images/Icon/out-ico.png") no-repeat right;background-size: 0.14rem 0.23rem}



