.lh110 {
	line-height: 1.1rem;
}

.lh130 {
	line-height: 1.3rem;
}

.lh82 {
	line-height: .82rem;
}

.w25 {
	width: 25%;
}

.w70 {
	width: 70%;
}

.w80 {
	width: 80%;
}

.mt-40 {
	margin-top: .4rem;
}

.mt-100 {
	margin-top: .97rem;
}

.miw160 {
	min-width: 1.6rem;
}

.box4 {
	height: 1.1rem;
	padding: 0 .3rem;
}

.coin-msg li {
	width: 33.33%;
}

.coin-msg li a {
	height: 1.26rem;
	line-height: 1.6;
	border: 1px solid #ddd;
	border-radius: .2rem;
}

.mx-5 {
	margin-left: .08rem;
	margin-right: .08rem;
}

.bg-f75e46 {
	background-color: #f75e46;
}

.bg-ccc {
	background-color: #ccc;
}

.color-f75e46 {
	color: #f75e46;
}

.mt-25 {
	margin-top: .25rem;
}

.pt-200 {
	padding-bottom: 2rem;
}

.bg-op0 {
	background: rgba(0, 0, 0, .3) !important;
}

.coin-input {
	width: 70%;
	border: none;
	left: 30%;
	vertical-align: top !important;
}

.color-010101 {
	color: #010101;
}

.js-msg i {
	right: 0;
	width: 1rem;
	text-align: center;
}

.js-msg img {
	width: .5rem;
	height: .5rem;
}

.coin-kc img {
	width: .34rem;
	height: .34rem;
}

.bg-f6 {
	background-color: #f6f6f6;
}

.tab-2 li {
	width: 50%;
}

.or-title {
	background-color: #fffbfa;
}

.or-title img {
	top: 0;
	left: 0;
}

.or-title span {
	border-left: .06rem solid #f75e46;
}

.coin-kf button {
	width: 2rem;
	border: 1px solid #f75e46;
}

.tab3 li {
	width: 33.333333%;
}

.tab3 li a {
	display: block;
	width: 100%;
	line-height: .94rem;
}

.tab3 li a.on {
	border-bottom: 2px solid #f75e46;
}

.bg-f5 {
	background-color: #f5f5f5;
}

.tab4 li {
	position: relative;
	width: 25%;
}

.tab4 li:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 1px;
	height: 80%;
	background-color: #ddd;
}

.tab4 li:last-child:after {
	content: '';
	height: 0;
	visibility: hidden;
	clear: both;
}

.tab4 li a {
	display: block;
	width: 100%;
	font-size: .27984rem;
	color: #888;
	margin: .24rem 0;
	line-height: .432rem;
}

.tab4 li.on {
	background-color: #fff;
}

.tab4 li.on a {
	color: #f75e46;
}

.tab4 li.on:after {
	content: '';
	height: 0;
	visibility: hidden;
	clear: both;
}

.coin-goods img {
	width: 1.28rem;
	height: 1.28rem;
}

.goods-btn button {
	min-width: 1.5rem;
	height: .6rem;
	/*line-height: .6rem;*/
	/*line-height: .48rem;*/
	/*padding: .15rem;*/
}

.border-f75e46 {
	border: 1px solid #f75e46;
}

.bl {
	border-left: .06rem solid #f75e46;
}

.coinx img {
	width: .7rem;
	height: .7rem;
}

.showlist {
	display: none;
	/*top: 1.27rem;*/
	top: 2.37rem;
	left: 0;
	z-index: 51;
}

#coin-close {
	top: 50%;
	transform: translateY(-50%);
	right: .3rem;
}

#coin-close img {
	width: .33rem;
	height: .33rem;
}

.shade {
	position: fixed;
	display: none;
	/*top: 2.24rem;*/
	top: 3.34rem;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
	background: #000;
	opacity: .5;
}

.va15 {
	vertical-align: -12%;
}

.bi {
	top: 0;
	right: 0;
	width: .33rem;
	height: .33rem;
	font-size: .2rem;
	color: #fff;
	line-height: .33rem;
	text-align: center;
	background-color: #f75e46;
	z-index: 10;
}

.coinok {
	top: 50%;
	right: .3rem;
	transform: translateY(-50%);
	width: .44rem;
	height: .28rem;
	z-index: 52;
	background: url(../../images/coins/coin-ok.png) no-repeat 80% center;
	background-size: 100% 100%;
}

.coin-num {
	left: 30%;
}

.coin-btn {
	width: 4.04rem;
	top: .2rem;
	right: .3rem;
}

.t01 {
	top: -.1rem !important;
}

.coin-s2 img {
	width: .34rem;
	height: .34rem;
}

.coin-e1 {
	vertical-align: middle;
}

.box {
	width: 100%;
	padding: 0.4rem 0.3rem;
	background: #fff;
	position: relative;
}

.count2 {
	width: 3.1rem;
	height: 0.8rem;
	position: absolute;
	right: 1rem;
	top: 0.25rem;
}

.add,
.reduce {
	width: 0.8rem;
	height: 0.8rem;
	border: 1px solid #e8e8e8;
	font-family: arial;
	background: #fff;
	cursor: pointer;
}

.num {
	width: 1.4rem;
	height: 0.8rem;
	border: none;
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	text-align: center;
}

.r30 {
	right: .3rem;
}

.brl {
	border-left: .06rem solid #f75e46;
}

.dialog-box2 {
	width: 88%;
	max-width: 7.2rem;
	height: auto;
	border-radius: .2rem;
	background-color: rgba(0, 0, 0, .8);
	display: none;
	left: 50%;
	opacity: .6;
	top: 30%;
	position: fixed;
	transform: translate(-50%, -30%);
	z-index: 1001;
}

.problem {
	display: inline-block;
	width: .65rem;
	height: 1.1rem;
	line-height: 1.1rem;
	text-align: center;
}

.problem img {
	width: .3rem;
	height: .3rem;
	margin-top: -.1rem;
}


/*四期修改*/

.border-000 {
	border: 1px solid #000;
}

.list-empty p img {
	height: auto;
}

.top-right a {
	display: block;
	text-align: center;
}

.top-right img {
	width: .45rem;
}