/*common*/
td {
    background: #fff;
}

.active-red {
    border-bottom: 2px solid #f65e46;
    color: #f65e46;
}

.fixedFill-lg {
    width: 100%;
    height: 1.92rem;
}

.fixedFill-mx {
    width: 100%;
    height: 0.96rem;
}

.fixed-box {
    width: 100%;
    height: auto;
    z-index: 500
}

.common-color {
    color: #f65e46;
}

.display-none {
    display: none
}

.display-block {
    display: block
}

.rent-img {
    width: 0.3rem;
    height: 0.3rem;
    margin: -0.08rem 0.1rem 0 0
}


/*支付页面*/
.pay-money {
    width: 100%;;
    padding: 0.2rem 0.3rem;
    background: #fff;
    line-height: 1rem
}

.pay-money span {
    font-size: 0.36rem;
}

#pay-money {
    font-size: 0.42rem
}

.WeChat-pay {
    padding: 0.2rem 0.3rem;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    position: relative
}

.WeChat-pay img:first-child {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0
}

.WeChat-pay img:last-child {
    width: 0.2rem;
    height: 0.4rem;
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
}

.WeChat-pay a {
    display: inline-block;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    position: relative
}

.Alipay-pay {
    padding: 0.2rem 0.3rem;
    background: #fff;
    position: relative
}

.Alipay-pay img:first-child {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0
}

.Alipay-pay img:last-child {
    width: 0.2rem;
    height: 0.4rem;
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
}

.Alipay-pay a {
    display: inline-block;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    position: relative
}

.Alipay-pay a span {
    padding-left: 1rem
}

.WeChat-pay a span {
    padding-left: 1rem
}

