/*公用*/
.padding-b4 {padding-bottom: 1.92rem !important;  }
.border-top {border-top: 1px solid #e8e8e8; }
.border-bottom {border-bottom: 1px solid #e8e8e8; }
.border-left {border-left: 1px solid #e8e8e8; }
.border-right {border-right: 1px solid #e8e8e8; }
.margin-bottom{margin-bottom: 0.2rem}
.border-bottom2{border-bottom:.2rem solid #f1f1f1 !important;}
.tabPc{ background:#fff;}
.tabPc a{display:block; float:left; width:50%; text-align:center; height:0.912rem; line-height:0.912rem; color:#000; border-bottom:.1rem solid #fff;}
.tabPc a.active{ border-bottom:2px solid #f75e46; color:#f75e46 ;}
.tabM{ background:#fff;}
.tabM a{display:block; float:left; width:33.3%; text-align:center; height:0.912rem; line-height:0.912rem; color:#000; border-bottom:.1rem solid #fff;}
.tabM a.active{ border-bottom:2px solid #f75e46; color:#f75e46 ;}
.fixedFill-lg{width: 100%;height: 1.92rem;}
.fixedFill-mx{width: 100%;height: 0.96rem;}
.fixedspace {width: 100%;height: 0.96rem;margin-top: 1px;}
.fixedspace2 {width: 100%;height: 2.06rem;margin-top: 1px;}
/*选项标签*/
.member-tab .tab{float:left; width:100%;}
.member-tab .tab .tab-head{float:left; width:100%; z-index:2; background:#fff;}
.member-tab .tab .tab-head{float:left;list-style:none; width:100%;}
.member-tab .tab .tab-nav li{float:left; width:50%; text-align:center;}
.member-tab .tab .tab-head .tab-nav li a{display:block;border-bottom:none; font-size:.3rem; color:#333; line-height:1rem;}
.member-tab .tab .tab-head .tab-nav .active{background-color:#fff;}
.member-tab .tab .tab-head .tab-nav .active a{cursor:default; border-bottom:2px solid #f75e46; color:#f75e46;  }
.member-tab .tab .tab-body{ float:left; width:100%; position:relative; border-top:solid 1px #e8e8e8;margin-top:0;padding-top:0;}
.member-tab .tab .tab-body .tab-panel{display:none;}
.member-tab .tab .tab-body .active{display:block;}

.member-tab .tab .tab-head .navTo2 li{float:left; width:50%; text-align:center; box-sizing:border-box; background:#f6f6f6;  }
.member-tab .tab .tab-head .navTo2 li a{ display:block; color:#888;  line-height:.9rem; font-size:.28rem; }
.member-tab .tab .tab-head .navTo2 li.active{background:#fff; color:#f75e46; border-bottom:none;  }
.member-tab .tab .tab-head .navTo2 li.active a{border-bottom:none;  border-right:none}
.member-tab .tab .tab-head .navTo2 li.active a span{color:#f75e46; }
.member-tab .tab .tab-head .navTo2 li a span{ display:block; line-height: .4rem; color:#555; }
.member-tab .tab .tab-head .navTo2 li a em{ float:right; height:0.96rem;}

.list-empty{float:left;  width:100%; text-align:center; background:#f1f1f1; }
.list-empty p { display:block; padding:1.3rem 0 0 0 ; }
.list-empty p img{ width:1.72rem; }
.list-empty p.empby img{ width:1.5rem;}
.list-empty span{ font-size:0.3rem;}


.member-tab .pro-list{float:left; padding:.3rem .3rem; width:100%; height:1.92rem; box-sizing:border-box; border-bottom:1px solid #e8e8e8;  background:#fff;  }
.member-tab .pro-list a{float:left; width:100%;}
.member-tab .pro-col{float:left; width:100%; position: relative;  }
.member-tab .pro-list .pro-pic{float:left; width:1.28rem; margin-right:.2rem ;overflow:hidden; position: relative; height:1.28rem; line-height:1.28rem; background:#f1f1f1; z-index:3; }
.member-tab .pro-list .pro-pic img{height:1.28rem; width:100%; vertical-align:top; }
.member-tab .pro-list .pro-title{float:left; position:relative; padding-left:1.48rem; width:100%; top:-1.32rem; box-sizing:border-box; font-size:.3rem;  overflow: hidden; line-height:.44rem; }
.member-tab .pro-list .pro-title p{color:#333; }
.member-tab .pro-list .pro-title p.catagory{font-size:.26rem; color:#888; height:.4rem; line-height:.4rem; white-space:nowrap; overflow:Hidden;}
.member-tab .pro-list .pro-title p.title{font-size:.3rem; color:#333; height:.44rem; line-height:.44rem; white-space:nowrap; overflow:Hidden;}
.member-tab .pro-list .pro-title p.title i.ji{ display:inline-block; width:.34rem; height:.34rem; line-height:.34rem; margin-right:.1rem; text-align:center; color:#fff;  background:#f75e46; }
.member-tab .pro-list .pro-title p.title i.bao{ display:inline-block; width:.34rem; height:.34rem; line-height:.34rem; margin-right:.1rem; text-align:center; color:#fff;  background:#5ecf2c; }
.member-tab .pro-list .pro-title p.price{font-size:.325rem; clear:both;  color:#000; line-height:.5rem; padding-top:.05rem;}
.member-tab .pro-list .pro-title p.red{ color:#f75e46; }
.member-tab .pro-list .pro-title p.price span{float:right;}
.member-tab .pro-list .pro-title p.price span.kc{float:none; }
.member-tab .pro-list .pro-title p.price em{float:right; height:.48rem; width:.96rem; margin-left:.18rem; background: url(../../images/header-member-top.png) center center no-repeat; background-size:.5rem; text-indent:-9999px; border:1px solid #e8e8e8; }
.member-tab .pro-list .pro-title p.price i{ float:right; width:1.44rem; height:.5rem; text-indent:-9999px; background:url(../../images/axm.png) center center no-repeat; background-size:1.14rem;}
.member-tab .pro-list .pro-title p.price em{float:right; height:.48rem; width:.96rem; margin-left:.18rem; background: url(../../images/header-member-top.png) center center no-repeat; background-size:0.5rem; text-indent:-9999px; border:1px solid #e8e8e8; }
.member-tab .pro-list .pro-title p.price b{font-weight:normal; }

.member-tab .pro-list4{float:left; padding:.15rem .3rem; width:100%; position: relative; box-sizing:border-box; background:#fff;}
.member-tab .pro-list4 .status{ display:inline-block; padding-left:.2rem; font-size:.3rem; vertical-align:middle; color:#000; background:url(../../images/curent.jpg) left .3rem no-repeat; line-height:.938rem; background-size: .0624rem; box-sizing:border-box;  }
.member-tab .pro-list4 a.ared{display:inline-block; padding:0 0.3rem;margin:0.1rem;background:#f75e46;height: 0.74rem;line-height: 0.74rem; text-align:center; color:#fff;}
.member-tab .pro-list4 a.awhite{display:inline-block; padding:0 0.3rem; margin:0.1rem; height:0.74rem;line-height:0.74rem;  border:1px solid #d5d5d5; background:#fff; text-align:center; color:#000;}
.member-tab .pro-list4 a.ared-cl { padding: 0; width: 30%;}
.btn-img {width: 0.384rem;margin-right: 0.144rem;}

.pro-col .pro-list-cl{height: 1.92rem}
.btn-img{width: 0.384rem;margin-right: 0.144rem}
.member-tab .pro-list4 a.ared-cl{padding:  0;width: 25.5%}
.member-tab .tab .tab-head .navTo4-cl li{background: #fff;}

.member-tab .tab .tab-head .navTo4 li{float:left; width:25%; text-align:center; box-sizing:border-box; background:#f6f6f6;  }
.member-tab .tab .tab-head .navTo4 li a{ display:block; color:#333; margin:.24rem 0; line-height:.432rem; font-size:0.28rem; border-right:1px solid #dedede;}
.member-tab .tab .tab-head .navTo4 li.active{background:#fff; color:#f75e46; border-bottom:none;  }
.member-tab .tab .tab-head .navTo4 li.active a{border-bottom:none; border-right:none }
.member-tab .tab .tab-head .navTo4 li.active a span{color:#f75e46; }
.member-tab .tab .tab-head .navTo4 li a span{ display:block; line-height: .4rem; color:#555; }
.member-tab .tab .tab-head .navTo4 li a em{ float:right; height:0.96rem;}

.member-tab .tab .tab-head .navTo4-cl li a {border-right: 1px solid #e8e8e8}
.member-tab .tab .tab-head .navTo4-cl li:nth-last-child(1) a {border: none}
.member-tab .tab .tab-head .navTo4-cl li.active a{border-right: 1px solid #e8e8e8}
.member-tab .tab .tab-head .navTo4-cl li:nth-last-child(1).active a {border: none}
/*首，代，续，精*/
.pro-list .pro-pic .cata-shou{ z-index:1; position:absolute; top:0; left:0.95rem; width:.33rem; height:.33rem; text-align:center; font-size:.22rem; color:#fff; background:#ef83ee; line-height:.33rem;}
.pro-list .pro-pic .cata-dai{ z-index:1; position:absolute; top:0; left:.95rem; width:.33rem; height:.33rem; text-align:center; font-size:.22rem; color:#fff; background:#66c6fb; line-height:.33rem;}
.pro-list .pro-pic .cata-xu{ z-index:1; position:absolute; top:0; left:.95rem; width:.33rem; height:.33rem; text-align:center; font-size:.22rem; color:#fff; background:#7dd662; line-height:.33rem;}
.pro-list .pro-pic .cata-a{ z-index:1; position:absolute; top:0; left:.95rem; width:.33rem; height:.33rem; text-align:center; font-size:.22rem; color:#fff; background:#8fabf5; line-height:.33rem;}
.pro-list .pro-pic .cata-jin{ z-index:1; position:absolute; top:0; left:.95rem; width:.33rem; height:.33rem; text-align:center; font-size:.22rem; color:#fff; background:#e7b955; line-height:.33rem;}

.pro-list .pro-pic .pro-cata{ z-index:1; position:absolute; top:0; left:.95rem; width:.33rem; height:.33rem; text-align:center; font-size:.22rem; color:#fff; background:#4bd934; line-height:.33rem; }
.pro-list .pro-pic .pro-cata2{ z-index:1; position:absolute; top:0; left:.95rem; width:.33rem; height:.33rem; text-align:center; font-size:.22rem; color:#fff; background:#d7663f; line-height:.33rem;}
.pro-list .pro-pic .pro-cata3{ z-index:1; position:absolute; top:0; left:.95rem; width:.33rem; height:.33rem; text-align:center; font-size:.22rem; color:#fff; background:#356fcc; line-height:.33rem;}
.pro-list .pro-pic .pro-cata4{ z-index:1; position:absolute; top:0; left:.95rem; width:.33rem; height:.33rem; text-align:center; font-size:.22rem; color:#fff; background:#a266f5; line-height:.33rem;}
.pro-list .pro-pic .pro-cata5{ z-index:1; position:absolute; top:0; left:.95rem; width:.33rem; height:.33rem; text-align:center; font-size:.22rem; color:#fff; background:#ee4844; line-height:.33rem;}


.member-tab .pro-list4 .buyer-status6{ display:inline-block; padding-left:.2rem;  margin:.15rem 0; font-size:.3rem; vertical-align:middle; background:url(../../images/curent.jpg) left .05rem no-repeat; line-height:.45rem; box-sizing:border-box; background-size: .0624rem;}
.member-tab .pro-list4 .buyer-status5{ display:inline-block; padding-left:.2rem;  margin:.15rem 0; font-size:.3rem; vertical-align:middle; color:#f75e46; background:url(../../images/curent.jpg) left .06rem no-repeat; line-height:.45rem; box-sizing:border-box; background-size: .0624rem;}
.member-tab .pro-list4 .buyer-status4{ display:inline-block;  line-height:0.76rem; font-size:.32rem; vertical-align:middle; color:#f75e46; }
.member-tab .pro-list4 .buyer-status3{ display:inline-block;  margin:.15rem 0; font-size:.32rem; vertical-align:middle; color:#f75e46; }
.member-tab .pro-list4 .buyer-status2{ display:inline-block; color:#f75e46; line-height:.65rem; font-size:.33rem; vertical-align:middle; }

.member-tab .pro-list4 .buyer-chat{background:url(../../images/right.png) right center no-repeat; width:1.25rem; height:.65rem;  float:right; text-indent:-9999px; background-size:.13rem; }
.member-tab .pro-list4 .buyer-operation{background:url(../../images/header-member-top.png) center center no-repeat; width:1.2rem; height:0.65rem; vertical-align:middle; border:1px solid #e8e8e8; box-sizing:border-box;  float:right; text-indent:-9999px; background-size:0.5rem;margin: 0.1rem }

.member-tab .pro-list4 a.butt-white{ float:right; padding:0 .3rem; height:0.74rem;line-height:0.74rem;  border:1px solid #f75e46; background:#fff; text-align:center; color:#f75e46;margin: 0.1rem}
.member-tab .pro-list4 a.butt-red{ float:right; padding:0 .3rem; height:0.74rem;line-height:0.74rem;  background:#f75e46; text-align:center; color:#fff;margin: 0.1rem}
/* 新增 */
.member-tab .pro-list4 a.ahbef{display:inline-block; padding:0 0.3rem;margin:0.1rem;height: 0.74rem;line-height: 0.74rem; text-align:center; color:#f75e46;border:1px solid #f75e46;}










