/*confirm 提示框*/
.mint-msgbox{border-radius: .2rem; font-size: 0.36rem;}
.mint-msgbox-header{ height: auto;display: block;; overflow: hidden; padding-top: 0.3rem;}
.mint-msgbox-title{ font-size: 0.36rem}
.mint-msgbox-content{ padding: .3rem .4rem .6rem;}
.mint-msgbox-message{text-align: center; font-size: .36rem; line-height: .56rem; color: #000;}
.mint-msgbox-btns{ height:1rem; text-align:center; line-height:1rem;}
.mint-msgbox-btns button{color:#007aff;}



.pswp__top-bar{height: 0.96rem !important;}



.weui-cell__ft{width:1.03rem; height:0.58rem;}
.weui-switch{width: 100%!important; height: 100%!important; border-radius: .4rem!important; border:none;}
.weui-switch:before, .weui-switch-cp__box:before  {content: ' ';position: absolute;left: 0px;top: 0px; margin:2%; width:96%;border-radius: .4rem;box-sizing: border-box;height: 98%;z-index: 1;-webkit-transition-duration: 300ms;transition-duration: 300ms;-webkit-transform: scale(1);transform: scale(1);}
.weui-switch:after, .weui-switch-cp__box:after  {content: ' ';height: 93%;width: 50%;border-radius: .4rem;background: #fff;position: absolute;z-index: 2;top: 0px;left: 0px;margin:2%;box-shadow: 0 .05rem 0.12rem rgba(0, 0, 0, 0.4);-webkit-transform: translateX(0px);transform: translateX(0px);-webkit-transition-duration: 300ms;transition-duration: 300ms;}
.weui-switch:checked:after,
.weui-switch-cp__input:checked ~ .weui-switch-cp__box :after{
  transform: translateX(92%);
}
