/* 2017-03-06  by 陈逍遥 */

/*..................................会员中心主功能................................*/
.input-file input[type="file"] {position: absolute;top: 0;right: 0;font-size: 14px;background-color: #fff;transform: translate(-300px, 0px) scale(4);height: 40px;opacity: 0;filter: alpha(opacity=0);}
input[type="text"] {-webkit-appearance: none;outline: none;cursor: pointer;border: 0;}
input[type="tel"] {-webkit-appearance: none;outline: none;cursor: pointer;border: 0;}
input[type="number"] {-webkit-appearance: none;outline: none;cursor: pointer;border: 0;}
.po-re{position: relative;}
.mb192{margin-bottom: 1.92rem;}
.member-list-user{box-sizing: border-box;line-height: 1.3rem;padding: .3rem;}
.member-list-user .list-left-user img{float: left;width: 1.3rem;height: 1.3rem;}
.member-list-user .list-left-user span{float: left;padding-left: .27rem;line-height: 1.3rem;padding-top: .16rem;}
.member-list-user .list-left-user span em{display: block;font-size: .3rem;line-height: 1.6;}
.member-list-user .list-right-user{width: .48rem;}
.member-list-user .list-right-user span{display: block;background: url(../../images/right.png) right center no-repeat;height:1.3rem;width: .48rem;background-size: .13rem;}
.member-list{line-height: 1.1rem;clear: both;}
.member-list .list-left{width: 60%;}
.member-list .list-left .m-icon01{padding-left: .7rem;background: url(../../images/m-icon01.png) left center no-repeat;line-height: 1.1rem;background-size: .4rem;}
.member-list .list-left .m-icon02{padding-left: .7rem;background: url(../../images/m-icon02.png) left center no-repeat;line-height: 1.1rem;background-size: .4rem;}
.member-list .list-left .m-icon03{padding-left: .7rem;background: url(../../images/m-icon08.png) left center no-repeat;line-height: 1.1rem;background-size: .4rem;}
/*.member-list .list-left .m-icon04{padding-left: .7rem;background: url(../../images/m-icon04.png) left center no-repeat;line-height: 1.1rem;background-size: .4rem;}*/
.member-list .list-left .m-icon10{padding-left: .7rem;background: url(../../images/m-icon10.png) left center no-repeat;line-height: 1.1rem;background-size: .4rem;}
.member-list .list-left .m-icon12{padding-left: .7rem;background: url(../../images/m-icon12.png) left center no-repeat;line-height: 1.1rem;background-size: .4rem;}
.member-list .list-left .m-icon13{padding-left: .7rem;background: url(../../images/m-icon13.png) left center no-repeat;line-height: 1.1rem;background-size: .51rem;}
.member-list .list-left span i{color: #f75e46;padding-left: .2rem;}
.member-list .list-right{width: 40%;}
.member-list .list-right span{background: url(../../images/right.png) right center no-repeat;margin-right: .3rem;padding-left: .45rem;background-size: .13rem;}

/*..................................用户信息................................*/
.member-setup .setup-list-tx{line-height: 1rem;padding: .3rem;box-sizing: border-box;margin-bottom:.2rem;}
.member-setup .setup-list-tx .list-left-tx span{display: block;font-size: .32rem;color: #333;line-height: 1rem;}
.member-setup .list-right-tx span img{height: 1rem;width: 1rem;margin-right: .48rem;}
.member-setup .list-right-tx span{background: url(../../images/right.png) right center no-repeat;background-size: .13rem;}
.member-setup .setup-list{line-height:1rem;}
.member-setup .setup-list .list-left span{display: block;padding-left: .3rem;font-size: .32rem;color: #333;line-height: 1rem;}
.member-setup .list-right span{display: block;background: url(../../images/right.png) right center no-repeat;margin-right: .3rem;padding-right: .48rem;background-size: .13rem;font-size: .32rem;}
.fixed-button5 a{display: block;line-height: 1.08rem;background: #fff;color: #f75e46;font-size: .36rem;text-align: center;}

/*..................................信息................................*/
.top-right a{ display: inline-block;padding-right: .3rem;}
.top-right a img{font-size: 0;width: .45rem;}
.messge-tuis{padding: .2rem .3rem;box-sizing: border-box;}
.messge-tuis .tuis-titl{height: .48rem;line-height: .48rem;}
.messge-tuis .tuis-titl span{font-size: .26rem;color: #999999;float: right;}
.messge-tuis .tuis-conn{height: auto;display: block;overflow: hidden;}
.messge-tuis .tuis-conn p{font-size: .3rem;line-height: .45rem;color: #333333;}
/*竞技场买家消息*/
.border-bottom2{border-bottom: .2rem solid #f1f1f1 !important;}
.member-tab {float: left;width: 100%;}
.member-tab .pro-col {float: left;width: 100%;}
.member-tab .pro-list {padding: .3rem;width: 100%;box-sizing: border-box;}
.member-tab .pro-list .pro-pic {width: 1.28rem;overflow: hidden;height: 1.28rem;line-height: 1.28rem;z-index: 3;float: left;}
.member-tab .pro-list .pro-pic img {height: 1.28rem;width: 100%;vertical-align: top;}
.pro-list .pro-pic .cata-jin {z-index: 1;position: absolute;top: 0;left: .95rem;width: .33rem;height: .33rem;background: #e7b955;line-height: .33rem;}
.member-tab .pro-list .pro-title {box-sizing: border-box;overflow: hidden;line-height: .44rem;}
.member-tab .pro-list .pro-title p.catagory {height: .4rem;line-height: .4rem;white-space: nowrap;overflow: Hidden;}
.member-tab .pro-list .pro-title p.title4 {display: block;line-height: .4rem;padding-top: .072rem;}
.member-tab .pro-list .pro-title p.title {display: block;overflow: hidden;}
.member-tab .pro-list2 {padding: .15rem .3rem;width: 100%;box-sizing: border-box;}
.member-tab .pro-list2 .buyer-status6 {display: inline-block;padding-left: .2rem;margin: .15rem 0;vertical-align: middle;background: url(../../images/curent.jpg) left .104rem no-repeat;line-height: .45rem;box-sizing: border-box;background-size: .06rem;}
.member-tab .pro-list2 .buyer-chat {background: url(../../images/right.png) right center no-repeat;width: 1.25rem;height: .65rem;text-indent: -9999px;background-size: .13rem;}
/*M站买家消息*/
.pro-list .pro-pic .cata-a{z-index: 1;position: absolute;top: 0;left: .95rem;width: .33rem;height: .33rem;background: #8fabf5;line-height: .33rem;}
.pro-list .pro-pic .cata-xu{z-index: 1;position: absolute;top: 0;left: .95rem;width: .33rem;height: .33rem;background: #7dd662;line-height: .33rem;}
.pro-list .pro-pic .cata-dai{z-index: 1;position: absolute;top: 0;left: .95rem;width: .33rem;height: .33rem;background: #66c6fb;line-height: .33rem;}
.pro-list .pro-pic .cata-shou{z-index: 1;position: absolute;top: 0;left: .95rem;width: .33rem;height: .33rem;background: #ef83ee;line-height: .33rem;}
.pro-list .pro-pic .pro-cata3{z-index: 1;position: absolute;top: 0;left: .95rem;width: .33rem;height: .33rem;background: #356fcc;line-height: .33rem;}
.pro-list .pro-pic .pro-cata2{z-index: 1;position: absolute;top: 0;left: .95rem;width: .33rem;height: .33rem;background: #d7663f;line-height: .33rem;}
.pro-list .pro-pic .pro-cata{z-index: 1;position: absolute;top: 0;left: .95rem;width: .33rem;height: .33rem;background: #4bd934;line-height: .33rem;}
.member-tab .pro-list2 .buyer-btn-zf {display: inline-block;font-size: .3rem;vertical-align: middle;color: #2d70ff;height: .76rem;line-height: .76rem;}
.member-tab .pro-list2 .buyer-btn-zf a {color: #2d70ff;}
/*修改头像*/
#clipArea{height: 6.48rem;}
#clipBtn {display: inline-block;float: left;margin: .48rem .96rem;background: #f75f47;width: 5.76rem;height: .96rem;line-height: .96rem;text-align: center;font-size: .3rem;color: #fff;font-family: "微软雅黑";}
.member-main .input-file {display: inline-block;float: left;position: relative;overflow: hidden;margin: 0 .96rem .48rem .96rem;background: #fff;width: 5.76rem;height: .96rem;line-height: .96rem;text-align: center;font-size: .3rem;color: #000;font-family: "微软雅黑";border: 1px solid #dedede;box-sizing: border-box;}
/*用户名*/
.member-setup2 .setup-input {padding: .2rem 0;}
.member-setup2 .setup-input input {padding: 0 .3rem;height: .8rem;line-height: .8rem;border: 0;box-sizing: border-box;}
.fixed-button {z-index: 3;}
.fixed-button .redbutton a {margin: .3rem .3rem;display: block;line-height: .82rem;background: #f75e46;color: #fff;font-size: .36rem;text-align: center;}
/*换绑手机*/
.login-mobile .login-content {box-sizing: border-box;padding: 0 .3rem;clear: both;}
.login-mobile .login-content .login-bt {width: 20%;}
.login-mobile .login-content .login-bt span {display: block;font-size: .32rem;color: #000;line-height: 1.64rem;}
.login-mobile .login-content .login-input2 {width: 70%;}
.login-mobile .login-content .login-input2 input {height: 1.64rem;line-height: .6rem;border: 0;}
.login-mobile .login-content .login-del {width: 10%;}
.login-mobile .login-content .login-del a {float: right;width: 100%;height: 1.64rem;background: url(../../images/del.png) right center no-repeat;text-indent: -9999px;background-size: .41rem;}
.login-mobile .login-content .login-del a img {width: .41rem;}
#slider {margin: .3rem .48rem;height: 1.06rem;position: relative;border-radius: 2px;background-color: #ddd;overflow: hidden;text-align: center;user-select: none;-moz-user-select: none;-webkit-user-select: none;}
#slider_bg {position: absolute;left: 0;top: 0;height: 100%;background-color: #7AC23C;z-index: 1;}
#label {width: .96rem;position: absolute;left: 0;top: 0;height: 1.06rem;line-height: 1.04rem;border: 1px solid #cccccc;background: #fff;z-index: 3;cursor: move;color: #ddd;font-size: .36rem;font-weight: 900;font-family: none;box-sizing: border-box;}
#labelTip {position: absolute;left: .48rem;width: 100%;height: 100%;font-size: .36rem;font-family: 'Microsoft Yahei', serif;color: #000;line-height: 1.06rem;text-align: center;z-index: 2;}
.withdrawal{font-family: "Microsoft Yahei",'Arial',sans-serif;}
.withdrawal .list-left5{line-height:.6rem;padding: .48rem 0;  }
.withdrawal .list-left5 span {color: #f75e46;padding: 0 10px;}
.withdrawal .list-left3 {width: 65%;font-size: 0px;letter-spacing: normal;word-spacing: normal;line-height: 1.2rem;}
.withdrawal .list-left3 span {float: left;font-size: .32rem;padding-right: .2rem;}
.withdrawal .list-left3 input {float: left;width: 60%;font-size: .32rem;color: #000;height: 1.2rem;line-height: 1.2rem;border: 0;}
.withdrawal .list-right3 {width: 35%;line-height: 1.2rem;height: 1.2rem;text-align: right;}
.withdrawal .list-right3 .countdown {border: 1px solid #ccc; color: #000;}
.withdrawal .list-right3 span {display: inline-block;width: 2.08rem;text-align: center;color: #f75e46;border: 1px solid #f75e46;line-height: .8rem;}
/*提现*/
.top-right .wtihdr img{width: .33rem;}
.order-pay {height: auto;display: block;overflow: hidden;}
.order-pay .pay-money {height: auto;display: block;overflow: hidden;}
.order-pay .pay-money ul li {height: 1.1rem;line-height: 1.1rem;background-color: #fff;border-bottom: 1px solid #e8e8e8;padding: 0 .3rem;}
.order-pay .pay-money ul li span {display: block;float: left;line-height: 1.1rem;font-size: .32rem;color: #000;width: 1.7rem;}
.order-pay .pay-money ul li em {font-size: .36rem;color: #f75e46;font-family: "Arial";}
.order-pay .pay-money ul li em i {font-size: .32rem;font-family: "Microsoft Yahei";}
.order-pay .pay-money ul li .paon-input {display: inline-block; border: 0; width: 4.78rem;height: 1.1rem;line-height: 1.1rem;padding: .25rem 0;}
.order-pay .pay-conn {height: auto;display: block;overflow: hidden;}
.order-pay .pay-conn ul li {height: 1.4rem;border-bottom: 1px solid #e8e8e8;padding: 0 .3rem;}
.order-pay .pay-conn ul li i.lease-ico {display: block;width: .18rem;height: .32rem;background: url(../../images/pay-ico.png) no-repeat 0 0px;margin-top: .56rem;background-size: .18rem;}
.order-pay .pay-conn ul li span {display: block;float: left;width: 4rem;line-height: 1.4rem;font-size: .32rem;color: #000;}
.order-pay .pay-conn ul li span i.pay-weix {width: .9rem;height: .9rem;background: url(../../images/pay-weix.png) no-repeat 0 0;display: inline-block;float: left;margin-top: .28rem;margin-right: .25rem;background-size: .9rem;}
.order-pay .pay-conn ul li span i.pay-zfb {width: .9rem;height: .9rem;background: url(../../images/pay-zfb.png) no-repeat 0 0;display: inline-block;float: left;margin-top: .28rem;margin-right: .25rem;background-size: .9rem;}
.order-pay .pay-conn ul li span i.pay-cup {width: .9rem;height:.9rem;background: url(../../images/pay-cup.png) no-repeat 0 0;display: inline-block;float: left;margin-top: .28rem;margin-right: .25rem;background-size: .9rem;}
/*支付宝提现*/
.withdrawal .list-left4{line-height: 1.2rem;}
.withdrawal .list-left4  em{color: #f75e46;font-size: .38rem;}
.withdrawal .list-left {width: 35%;line-height: 1.2rem;box-sizing: border-box;}
.withdrawal .list-right {width: 65%;box-sizing: border-box;line-height: 1.2rem;}
.withdrawal .list-right p {line-height: 1.2rem;}
.change-alipay {line-height: 1.2rem;}
.change-alipay a {display: inline-block;color: #0043ec;}
.change-alipay span {display: inline-block;color: #ccc;padding: 0 .24rem;}
.withdrawal .list-right input.code {float: left;box-sizing: border-box;width: 50%;height: 1.2rem;line-height: .6rem;border: 0;font-size: .3rem;color: #000;}
.withdrawal .list-right a {box-sizing: border-box;width: 50%;text-align: right;display: block;float: right;}
.withdrawal .list-right em {display: inline-block;text-align: center;width: 85%;margin: 15px 0;font-size: .3rem;color: #f75e46;border: 1px solid #f75e46;line-height: .8rem;}
/*银行卡提现*/
.top-header .mycard{position: absolute;right: .3rem;}
.withdrawal .list-left2 {width: 50%;font-size: 0px;letter-spacing: normal;word-spacing: normal;line-height: 1.2rem;}
.withdrawal .list-left2 span {vertical-align: middle;display: inline-block;font-size: .3rem;width: .8rem;text-align: center;}
.withdrawal .list-left2 img {float: left;width: .8rem;}
.withdrawal .list-left2 em {vertical-align: middle;display: inline-block;font-size: .3rem;}
.withdrawal .list-right2 {width: 50%;line-height: 1.2rem;height: 1.2rem;text-align: right;}
.withdrawal .list-right2 span { background: url(../../images/right2.png) center right no-repeat;color: #999;padding-right: .5rem;background-size: .18rem;}
.withdrawal .list-left2 .add {background: url(../../images/add.png) center center no-repeat;height: 1.2rem;background-size: .61rem;}
/*添加银行卡*/
.branch{display: none;}
.withdrawal .withdrawal-list2 {line-height: 1.2rem;}
.withdrawal .withdrawal-list2 section {color: #000;}
.withdrawal .withdrawal-list2 section font {float: left;width: 35%;height: 1.2rem;line-height: 1.2rem;font-size: .3rem;}
.withdrawal .withdrawal-list2 section label {float: right;width: 65%;text-align: left;height: 1.2rem;cursor: pointer;}
.withdrawal .withdrawal-list2 section label em {display: inline-block;line-height: 1.2rem;font-size: .3rem;color: #000;}
.withdrawal .withdrawal-list2 section label i {display: block;float: right;width: .18rem;height: 1.2rem;background: url(../../images/right3.png) no-repeat right center;margin-left: .4rem;background-size: .18rem !important;}
.withdrawal .withdrawal-list2 section label em input {line-height: 1rem;font-size: .3rem;color: #000;font-family: "微软雅黑";}
/*提现明细*/
.list-empty2 span {display: block;padding-top: .25rem;font-size: .32rem;color: #666;}
.withdrawal .withdrawal-detail {box-sizing: border-box;height: 1.4rem;}
.withdrawal .detail-time {width: 25%;color: #999;line-height: .45rem;vertical-align: middle;height: 1.4rem;}
.withdrawal .detail-add {background: url(../../images/cny-red.png) right center no-repeat;background-size: .74rem;}
.withdrawal .detail-reduction {background: url(../../images/cny-green.png) right center no-repeat;background-size: .74rem;}
.withdrawal .detail-time .week {padding-top: .25rem;}
.withdrawal .detail-info { width: 75%;padding-left: .4rem;box-sizing: border-box;line-height: .5rem;}
/*验证手机号*/
.top-header .top-close {position: absolute;left: 0;min-width: 10%;height: .96rem;}
.top-header .top-close a {display: block;background: url(../../images/close.png) .3rem center no-repeat;height: .96rem;padding: 0 0 0 .3rem;text-indent: -9999px;background-size: .33rem;}
/*提现成功*/
.withdrawal .list-left6 {padding: .7rem 0;}
.withdrawal .list-left6 span img {width: 1.82rem;}
.withdrawal .list-left6 p {font-size: .36rem;color: #000;padding: .4rem 0 0 0;}
.withdrawal .list-left7 {width: 40%;line-height: 1.1rem;height: 1.1rem;}
.withdrawal .list-left7 span {color: #000;font-size: .3rem;}
.withdrawal .list-right7 {width: 60%;line-height: 1.1rem;}
.withdrawal .list-right7 span {padding-left: .1rem;}


/*新增2017-04-13 吴建荣 */
/*卖家列表 */

.seller-list{ height:auto; display:block; overflow:hidden;}
.seller-list .selist-manage{ height:0.78rem; line-height:0.87rem;}
.seller-list .selist-tegory{ height:auto; display:block; overflow:hidden;}
.seller-list .selist-tegory ul li{ width:25%;}
.seller-list .selist-tegory ul li .gory-main{ display:block; height:auto; overflow:hidden; text-align:center;}
.seller-list .selist-tegory ul li .gory-main i{ display:block; height:0.78rem;}
.seller-list .selist-tegory ul li .gory-main i.tngory-01{ background:url(../../images/Icon/tngory-01.png) no-repeat center center; background-size:0.54rem;}
.seller-list .selist-tegory ul li .gory-main i.tngory-02{ background:url(../../images/Icon/tngory-02.png) no-repeat center center; background-size:0.44rem;}
.seller-list .selist-tegory ul li .gory-main i.tngory-03{ background:url(../../images/Icon/tngory-03.png) no-repeat center center; background-size:0.50rem;}
.seller-list .selist-tegory ul li .gory-main i.tngory-04{ background:url(../../images/Icon/tngory-04.png) no-repeat center center; background-size:0.59rem;}
.seller-list .selist-tegory ul li .gory-main i.tngory-05{ background:url(../../images/Icon/tngory-05.png) no-repeat center center; background-size:0.53rem;}
.seller-list .selist-tegory ul li .gory-main i.tngory-06{ background:url(../../images/Icon/tngory-06.png) no-repeat center center; background-size:0.46rem;}
.seller-list .selist-tegory ul li .gory-main i.tngory-07{ background:url(../../images/Icon/tngory-07.png) no-repeat center center; background-size:0.49rem;}
.seller-list .selist-tegory ul li .gory-main i.tngory-08{ background:url(../../images/Icon/tngory-08.png) no-repeat center center; background-size:0.50rem;}
.seller-list .selist-tegory ul li .gory-main p{ height:0.36rem; line-height:0.36rem;}

/*5-04我是买家新增类似的分类页面BY caolei*/
.seller-list .selist-tegory ul li .gory-main i.tngory-09{ background:url(../../images/Icon/tngory-09.png) no-repeat center center; background-size:0.44rem;}/*待付款*/
.seller-list .selist-tegory ul li .gory-main i.tngory-10{ background:url(../../images/Icon/tngory-10.png) no-repeat center center; background-size:0.44rem;}/*已付款*/
.seller-list .selist-tegory ul li .gory-main i.tngory-11{ background:url(../../images/Icon/tngory-11.png) no-repeat center center; background-size:0.48rem;}/*交易成功*/
.seller-list .selist-tegory ul li .gory-main i.tngory-12{ background:url(../../images/Icon/tngory-12.png) no-repeat center center; background-size:0.50rem;}/*交易取消*/

/*商品管理*/
.sellmanage-main{ height:auto; display:block; overflow:hidden;}

.sellnage-nav{height:auto; display:block; overflow:hidden; background-color:#f5f5f5;}
.sellnage-nav ul li{ width:25%; height:1.1rem; text-align:center;}
.sellnage-nav ul li a{display:block; width:auto; height:0.62rem; line-height:0.62rem; border-right:1px solid #dddddd; margin:0.25rem 0;}
.sellnage-nav ul li.active{ background-color:#fff; border-right:none;}
.sellnage-nav ul li.active a{ color:#f75e46; border-right:none;}

.sellnage-connt{ height:auto; display:block; overflow:hidden;}

.manage-caption{height:auto; display:block; overflow:hidden;}
.manage-caption .mancon-img{ width:1.28rem; height:1.28rem; position:relative;}
.manage-caption .mancon-img img{ vertical-align:middle; width:100%; height:100%;}
.manage-caption .mancon-img i{ display:block; width:0.33rem; height:0.33rem; text-align:center; line-height:0.33rem; position:absolute; top:0; right:0;}

.manage-caption .mancon-tn{ margin-left:1.52rem; height:auto; display:block;}
.manage-caption .mancon-tn .tn-title{ height:0.35rem;}
.manage-caption .mancon-tn .tn-equal{ height:auto; line-height:0.56rem;}
.manage-caption .mancon-tn .tn-money{ height:0.37rem; line-height:0.45rem;}
.manage-caption .mancon-tn .tn-money .tnico{height:0.37rem;}
.manage-caption .mancon-tn .tn-money em.axm{ display:inline-block; width:0.34rem; height:0.37rem; background:url(../../images/axm-icon.png) no-repeat right center; background-size:0.34rem;}

.mancon-titl{ height:auto; display:block; overflow:hidden;}
.mancon-titl span{ display:block; height:0.9rem; line-height:0.9rem;}
.mancon-btn{ height:auto; display:block; overflow:hidden; text-align:right;}
.mancon-btn a{ display:inline-block; width:19%; height:0.75rem; line-height:0.75rem; text-align:center; margin-left:5%;}

.saleso-btn{ height:auto; display:block; overflow:hidden;}
.saleso-btn span{ display:inline-block;height:0.75rem; line-height:0.75rem;}
.saleso-btn a{ display:inline-block; width:28%; height:0.75rem; line-height:0.75rem; text-align:center;}
.badge2{ position:absolute; padding:0; width:.2rem; height:.2rem; margin:0.09rem 0 0 1.24rem;white-space:nowrap;vertical-align:baseline;background-color:#f75e46;border-radius:.2rem .2rem; text-indent:-9999px;}



/*新增2017-04-14 陈逍遥 */
/* 填补fixed留下的下方空块 */
.fixedspace{width: 100%;height: 0.96rem;margin-top: 1px;}
/*申诉退款*/
.order-container {padding: 0.24rem 0.3rem;position: relative;}
.order-container span {display: inline-block;height: 0.6rem;line-height: 0.6rem;}
.order-container input {height: 0.6rem;width: 60%;border: none;position: absolute;font-size: 0.30rem;top: 0.24rem;left: 2.2rem;}
.miaoshu{width: 100%;height: 2rem;border: none;line-height: 1.3;}
.upload-img {padding: 0.4rem 0.4rem;}
.upload-img .add_photo {width: 1.5rem;height: 1.5rem;}
.upload-img .photo_img {width: .54rem;height: .44rem;margin-top: .5rem;background: url(../../images/Icon/photo.png) no-repeat center;display: inline-block;cursor: pointer;background-size: .54rem;}
.upload-img div input {visibility: hidden;}
.upload-img2 {height: auto;}
.upload-img2 .img_add {width: 1.5rem;height: 1.5rem;border: 1px solid #e8e8e8;background: url(../../images/expo-increase-hov.png)no-repeat center;background-size: cover;display: inline-block;}
.upload-img2 .img_ad {position: relative;padding-top: 0.3rem;}
.upload-img2 .img_ad a {width: 1.5rem;height: 1.5rem;display: inline-block;}
.upload-img2 .img_ad a img {width: 1.5rem;height: 1.5rem;}
.upload-img2 .img_ad .close-img {width: 0.36rem;height: 0.36rem;position: absolute;top: 0.12rem;left: -0.18rem;}
/*申诉成功*/
.mt-80{margin-top: .8rem;}
.mb-80{margin-bottom: .8rem;}
.p-40 {padding: 0.40rem 1rem;}
.bg-f60{background: #ff6600}
.bg-f90{background: #ff9900}
.subit_suc{width: 1.52rem;height: 1.52rem;background: url(../../images/Icon/pay_success.png) no-repeat center;display: inline-block;background-size: 1.52rem;}
.color-2a{color: #05942a;}
.order-container{padding: 0.24rem 0.4rem;position: relative}
.order-container .appeal-all{}
.appeal-left{width:32%;height: auto;text-align: right; }
.appeal-right{width:64%;}
.appeal-right .li_miaoshu{line-height: 1.5;}
.success-continue{box-sizing: border-box;width: 100%}
.success-continue a{display: inline-block;width: 48%;height: 1.1rem;border-radius: 0.2rem;line-height: 1.1rem;box-sizing: border-box}
.success-continue a:first-of-type{margin-right: 4%}
.succ_pay p{width: 78%;display: inline-block;text-align: left;line-height: 1.5;}
.succ_pay a{border-radius: 0.1rem !important;}
/*新增2017-04-14 陈逍遥 */
/*新版用户中心修改*/
.member-main .list-left-user span.notlogin{float: left;padding-left: .27rem; padding-top: .41rem;}
.bordlogin{border: 2px solid #f85e46;}
.member-main .list-left i.zh, .member-main .list-left i.zq {display: inline-block;width: .62rem;height: .34rem;padding: 0;margin-left: .2rem;vertical-align: -.048rem;}
.member-main .list-left i.zq {background: url(../../images/bg-zq.png) 0 center no-repeat;background-size: 100%;}
.member-main .list-left i.zh {background: url(../../images/Icon/bg-zh.png) 0 center no-repeat;background-size: 100%;}
.member-main .list-right i.hd {display: inline-block;width: .2rem;height: .2rem;margin-right: .098rem;background: #f75e46;border-radius: 100%;}
.member-list-user .list-left-user img{border-radius: 50%;}
.member-list .list-left .newm-icon01{padding-left: .7rem;background: url(../../images/Icon/newm-icon01.png) left center no-repeat;line-height: 1.1rem;background-size: .4rem;}
.member-list .list-left .newm-icon02{padding-left: .7rem;background: url(../../images/Icon/newm-icon02.png) left center no-repeat;line-height: 1.1rem;background-size: .4rem;}
.member-list .list-left .newm-icon03{padding-left: .7rem;background: url(../../images/Icon/newm-icon03.png) left center no-repeat;line-height: 1.1rem;background-size: .4rem;}
.member-list .list-left .newm-icon04{padding-left: .7rem;background: url(../../images/Icon/newm-icon04.png) left center no-repeat;line-height: 1.1rem;background-size: .4rem;}
.member-list .list-left .newm-icon05{padding-left: .7rem;background: url(../../images/Icon/newm-icon05.png) left center no-repeat;line-height: 1.1rem;background-size: .4rem;}
.member-list .list-left .newm-icon06{padding-left: .7rem;background: url(../../images/Icon/newm-icon06.png) left center no-repeat;line-height: 1.1rem;background-size: .4rem;}
.member-list .list-left .newm-icon08{padding-left: .7rem;background: url(../../images/Icon/newm-icon08.png) left center no-repeat;line-height: 1.1rem;background-size: .4rem;}
.member-list .list-left .newm-icon12{padding-left: .7rem;background: url(../../images/Icon/newm-icon12.png) left center no-repeat;line-height: 1.1rem;background-size: .4rem;}
.member-list .list-left .newm-icon13{padding-left: .7rem;background: url(../../images/Icon/newm-icon13.png) left center no-repeat;line-height: 1.1rem;background-size: .51rem;}
.member-list .list-left .newm-icon22{padding-left: .7rem;background: url(../../images/Icon/newm-icon22.png) left center no-repeat;line-height: 1.1rem;background-size: .4rem;}



/*新增2017-06-30 曹磊*/
.color-be8600{color: #be8600}
.bg-fffdf4{background: #fffdf4}
.pt-70{padding-top: 0.7rem;}
.pb-70{padding-bottom: 0.7rem}
.f86{font-size: 0.86rem}
.font-bold{font-weight: bold}
.display-block{display: block}
.border-radius{border-radius: 0.1rem}
.member-tip{height: 0.8rem;line-height: 0.8rem;padding-left: 0.6rem}
.member-list .icon_toRight{width: 0.6rem;line-height: 1.1rem;height:1.1rem;display: inline-block;background: url("../../images/right.png") no-repeat center;background-size: .13rem;}
.member-list .list-left .newm-icon25{padding-left: .7rem;background: url("../../images/Icon/newm-icon25.png") left center no-repeat;line-height: 1.1rem;background-size: .51rem;}
.icon_coins{width: 2.08rem;height: 2.08rem;display: inline-block;background: url("../../images/Icon/icon_coins.png") no-repeat center;background-size: 2.08rem}









