.member-setup .setup-list-tx{float:left; width:100%; position: relative; border-bottom:1px solid #e8e8e8; background-color:#fff; line-height:.3rem; padding:.3rem; box-sizing:border-box; }
.member-setup .setup-list-tx .list-left-tx{float:left;  position: relative; text-align:left; }
.member-setup .setup-list-tx .list-left-tx span{display:block; font-size:.32016rem; color:#333; line-height:1rem;}
.member-setup .setup-list-tx .list-right-tx{float:right; position: relative; text-align:right;  font-size:36px; color:#333;}
.member-setup .list-right-tx  span{ background:url(../../images/right.png) right center no-repeat;  background-size:.13rem;  }
.member-setup .list-right-tx  span img{ height:1rem; width:1rem; margin-right:.48rem; }

.top-header .top-bt,.top-header .top-bt2{max-width:80%; margin-left:auto; margin-right:auto;  box-sizing:border-box; height:.96rem; line-height:.96rem;  font-size:.36rem; color:#333; text-align:center; white-space:nowrap ; overflow:hidden;}
#member-tx{border-radius:50%;}
.margin-bottom{margin-bottom:.2rem}
.member-setup .setup-list{float:left; width:100%; position: relative; border-bottom:1px solid #e8e8e8; background-color:#fff; line-height:.99rem;}
.member-setup .setup-list .list-left{float:left;  position: relative; text-align:left; }
.member-setup .setup-list .list-left span{display:block; padding-left:.3rem; font-size:.32rem; color:#333; line-height:.99rem;}
.member-setup .list-right{float:right; position: relative; text-align:right;  font-size:36px; color:#333;}
.member-setup .list-right  span{display:block; background:url(../../images/right.png) right center no-repeat; margin-right:.3rem; padding-right:.48rem; background-size:.13rem; font-size:.32rem; }


.fixed-button5 {float:left; width:100%;  z-index:3}
.fixed-button5 a{ display:block; line-height:1.08rem;  background:#fff; color:#f75e46; font-size:.36rem; text-align:center;}


/*弹窗-通用*/
.dialog-box { width:88%; max-width:720rem ;height: auto; border-radius: .20rem; position: relative; opacity:1; background:#fff;left: 207px; opacity: 1; top: 368px; margin-left: -182px; margin-top: -73px; position: fixed; z-index: 1001; display: block;}
.dialog-main{ height:auto; display:block; overflow:hidden; }
.dialog-main .dialog-body {text-align: center; font-size: .36rem; padding: .6rem .424rem; line-height: .267rem;}
.dialog-main .dialog-foot {height: 1rem;border-top: 1px solid #e8e8e8;text-align: center}
.dialog-main .dialog-foot a {display: inline-block;height: 1rem;line-height: 1rem;color: #007aff; font-size: .34rem; width: 49%;}

.fortunel-main{ height:auto; display:block; overflow:hidden;}
.fortunel-main  .fortun-conn{height:auto; display:block; overflow:hidden;}
.fortunel-main .fortun-conn .rtun-plo {text-align: center; font-size: .36rem; padding: .6rem 0; line-height: .56rem;}
.fortunel-main .fortun-conn .rtun-btn {height:.94rem;border-top: 1px solid #e8e8e8;text-align: center}
.fortunel-main .fortun-conn .rtun-btn a {display: inline-block;height: 1rem;line-height: 1rem;color: #007aff;font-size: 0.3rem;width: 49%;}
.fortunel-main .fortun-conn .rtun-btn a.bordrht{border-right: 1px solid #e8e8e8;}
.fortunel-main .fortun-conn .rtun-btn a.closeSmb{border-right: 1px solid #e8e8e8;}
.fortunel-main .fortun-conn .rtun-btn a#isSure_form{border-right: 1px solid #e8e8e8;}

/*用户昵称*/

.top-header .top-back2{ position: absolute; left: 0; min-width:10%; height:.96rem; }
.top-header .top-back2 a{display:inline-block; min-width:.55rem; width:100%; height:.96rem; text-indent:-9999px; background:url(../../images/left.png) .3rem center no-repeat; background-size: .21rem; }
.member-setup2{float:left; width:100%;}
.border-top{border-top:1px solid #e8e8e8}
.member-setup2 .setup-input{ float:left; width:100%; height:1.2rem; padding:.2rem 0; position: relative; background:#fff;}
.border-bottom{border-bottom:1px solid #e8e8e8}
.member-setup2 .setup-input input{ float:left; width:100%; padding:0 .3rem; height:.8rem; line-height:.8rem; border:0; font-size:.3rem;  box-sizing:border-box;}
.fixed-button .redbutton a{ margin:.3rem .3rem; display:block; line-height:.82rem;  background:#f75e46; color:#fff; font-size:.36rem; text-align:center;}
.fixed-button{width: 100%;float: left;background: #fff}


#wrapper{ height:auto; display:block; max-width:768px;  margin:0 auto; position:relative;  }
.top-header{ width:100%; max-width:768px; margin:0 auto; position: relative; background-color:#f6f6f6; line-height:.96rem; z-index:80; }
.fixed-top{position:fixed !important; top:0; max-width:768px; }
.top-header .top-back{ position: absolute; left: 0; min-width:10%; height:.96rem; }
.top-header .top-back a{display:inline-block; min-width:.55rem; width:100%; height:.96rem; text-indent:-9999px; background:url(../../images/left.png) .3rem center no-repeat; background-size: .21rem; }
.top-header h2{ max-width:80%; margin-left:auto; margin-right:auto; height:.96rem; font-weight: normal; line-height:.96rem; text-align:center; white-space:nowrap ; overflow:hidden; -webkit-margin-before: 0; -webkit-margin-after: 0; }
.top-header .top-right{position: absolute; top:0; right: 0; min-width:10%; font-size: 0; height:.96rem; line-height:.96rem; -webkit-text-size-adjust:none; text-align: right;}
.recharge-tx{
    height: 7.5rem;
    left: 187.5px;
    opacity:1;
    top:333.5px;
    margin-left: -187.5px;
    margin-top: 183px;
    position: fixed;
    z-index: 1001;
}
.recharge-tx img{
    width: 100%;
    box-sizing: border-box;
}