@charset "utf-8";
input,
label,
select {
	border: none;
	vertical-align: middle
}

a,
a:link {
	text-decoration: none
}

a,
div,
input {
	background-color: transparent;
	-webkit-tap-highlight-color: transparent;
	outline: 0
}

:focus,
a,
a:focus,
div,
input {
	outline: 0
}

.sidebarBack,
.sidebarBack-01,
.sidebarBack-02,
.sidebarBack-03,
.sidebarBack-04,
.sidebarBack-05,
.sidebarMove,
.sidebarMove-01,
.sidebarMove-01-hov,
.sidebarMove-02,
.sidebarMove-03,
.sidebarMove-03-hov,
.sidebarMove-04,
.sidebarMove-04-hov,
.sidebarMove-05,
.sidebarMove-05-hov,
.sidebarMove-hov {
	position: relative
}

.plcheck .plcheck01,
input,
label,
select {
	vertical-align: middle
}

.top-header h2,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-weight: 400
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
li,
ol,
p,
td,
textarea,
ul {
	margin: 0;
	padding: 0
}

html {
	height: 100%
}

body {
	font-size: 12px;
	font-family: "Microsoft Yahei", Arial, sans-serif;
	background: url(../../images/bodybj.png) center 0 repeat-y #f1f1f1
}

label,
select {
	font-family: "Microsoft Yahei"
}

input {
	font-family: Arial
}

button,
img {
	background: 0 0;
	border: 0
}

li,
ol,
ul {
	list-style: none
}

em,
i {
	font-style: normal
}

a {
	color: #333
}

table {
	border-spacing: 0;
	border-collapse: collapse
}

.lf {
	float: left
}

.fr,
.kf2 img,
.rt {
	float: right
}

.fuwenpage {
	clear: both
}

input[type=button],
input[type=submit],
input[type=text],
input[type=number],
input[type=tel] {
	-webkit-appearance: none;
	outline: 0;
	cursor: pointer;
	border-radius: 0
}

.clearfix:after,
.clearfix:before {
	content: "";
	display: table
}

.clearfix:after {
	clear: both;
	overflow: hidden
}

.clearfix {
	zoom: 1
}

.clear,
.clearer {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden
}

.sidebarBack,
.sidebarBack-01,
.sidebarBack-02,
.sidebarBack-03,
.sidebarBack-04,
.sidebarBack-05,
.sidebarMove,
.sidebarMove body,
.sidebarMove-01,
.sidebarMove-01 body,
.sidebarMove-01-hov,
.sidebarMove-02,
.sidebarMove-02 body,
.sidebarMove-03,
.sidebarMove-03 body,
.sidebarMove-03-hov,
.sidebarMove-04,
.sidebarMove-04 body,
.sidebarMove-04-hov,
.sidebarMove-05,
.sidebarMove-05 body,
.sidebarMove-05-hov,
.sidebarMove-hov {
	height: 100%;
	overflow: hidden
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none!important;
	margin: 0
}

.conhv,
.conhv-01,
.conhv-02,
.conhv-03,
.conhv-04,
.conhv-05 {
	margin: 0 -50%
}

input[type=number] {
	-moz-appearance: textfield
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #c7c4c4;
	font-family: "Microsoft Yahei"
}

input::-moz-placeholder,
textarea:-moz-placeholder {
	color: #c7c4c4;
	font-family: "Microsoft Yahei"
}

input::-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #c7c4c4;
	font-family: "Microsoft Yahei"
}

.sidebarMove {
	animation: sidebar-body-move .5s ease;
	-webkit-animation: sidebar-body-move .5s ease;
	left: -100%
}

.sidebarBack {
	animation: sidebar-body-back .5s ease;
	-webkit-animation: sidebar-body-back .5s ease;
	left: 0
}

.sidebarMove-hov {
	left: -100%
}

.sidebarMove-01 {
	animation: sidebar-body-move-01 .5s ease;
	-webkit-animation: sidebar-body-move-01 .5s ease;
	left: -200%
}

.sidebarBack-01 {
	animation: sidebar-body-back-01 .5s ease;
	-webkit-animation: sidebar-body-back-01 .5s ease;
	left: -100%
}

.sidebarMove-01-hov {
	left: -200%
}

.sidebarMove-02 {
	animation: sidebar-body-move-02 .5s ease;
	-webkit-animation: sidebar-body-move-02 .5s ease;
	left: -300%
}

.sidebarBack-02 {
	animation: sidebar-body-back-02 .5s ease;
	-webkit-animation: sidebar-body-back-02 .5s ease;
	left: -200%
}

.sidebarMove-02-hov {
	height: 100%;
	overflow: hidden;
	position: relative;
	left: -300%
}

.sidebarMove-03 {
	animation: sidebar-body-move-03 .5s ease;
	-webkit-animation: sidebar-body-move-03 .5s ease;
	left: -400%
}

.sidebarBack-03 {
	animation: sidebar-body-back-03 .5s ease;
	-webkit-animation: sidebar-body-back-03 .5s ease;
	left: -300%
}

.sidebarMove-03-hov {
	left: -400%
}

.sidebarMove-04 {
	animation: sidebar-body-move-04 .5s ease;
	-webkit-animation: sidebar-body-move-04 .5s ease;
	left: -500%
}

.sidebarBack-04 {
	animation: sidebar-body-back-04 .5s ease;
	-webkit-animation: sidebar-body-back-04 .5s ease;
	left: -400%
}

.sidebarMove-04-hov {
	left: -500%
}

.sidebarMove-05 {
	animation: sidebar-body-move-05 .5s ease;
	-webkit-animation: sidebar-body-move-05 .5s ease;
	left: -600%
}

.sidebarBack-05 {
	animation: sidebar-body-back-05 .5s ease;
	-webkit-animation: sidebar-body-back-05 .5s ease;
	left: -500%
}

.sidebarMove-05-hov {
	left: -600%
}

.gdu,
.rele,
.rele-01,
.rele-02,
.rele-03,
.rele-04,
.rele-05 {
	display: none;
	height: 100%!important;
	background: #f1f1f1!important
}

@keyframes sidebar-body-move {
	0% {
		left: 0
	}
	100% {
		left: -100%
	}
}

@keyframes sidebar-body-back {
	0% {
		left: -100%
	}
	100% {
		left: 0
	}
}

@-webkit-keyframes sidebar-body-move {
	0% {
		left: 0
	}
	100% {
		left: -100%
	}
}

@-webkit-keyframes sidebar-body-back {
	0% {
		left: -100%
	}
	100% {
		left: 0
	}
}

@keyframes sidebar-body-move-01 {
	0% {
		left: -100%
	}
	100% {
		left: -200%
	}
}

@keyframes sidebar-body-back-01 {
	0% {
		left: -200%
	}
	100% {
		left: -100%
	}
}

@-webkit-keyframes sidebar-body-move-01 {
	0% {
		left: -100%
	}
	100% {
		left: -200%
	}
}

@-webkit-keyframes sidebar-body-back-01 {
	0% {
		left: -200%
	}
	100% {
		left: -100%
	}
}

@keyframes sidebar-body-move-02 {
	0% {
		left: -200%
	}
	100% {
		left: -300%
	}
}

@keyframes sidebar-body-back-02 {
	0% {
		left: -300%
	}
	100% {
		left: -200%
	}
}

@-webkit-keyframes sidebar-body-move-02 {
	0% {
		left: -200%
	}
	100% {
		left: -300%
	}
}

@-webkit-keyframes sidebar-body-back-02 {
	0% {
		left: -300%
	}
	100% {
		left: -200%
	}
}

@keyframes sidebar-body-move-03 {
	0% {
		left: -300%
	}
	100% {
		left: -400%
	}
}

@keyframes sidebar-body-back-03 {
	0% {
		left: -400%
	}
	100% {
		left: -300%
	}
}

@-webkit-keyframes sidebar-body-move-03 {
	0% {
		left: -300%
	}
	100% {
		left: -400%
	}
}

@-webkit-keyframes sidebar-body-back-03 {
	0% {
		left: -400%
	}
	100% {
		left: -300%
	}
}

@keyframes sidebar-body-move-04 {
	0% {
		left: -400%
	}
	100% {
		left: -500%
	}
}

@keyframes sidebar-body-back-04 {
	0% {
		left: -500%
	}
	100% {
		left: -400%
	}
}

@-webkit-keyframes sidebar-body-move-04 {
	0% {
		left: -400%
	}
	100% {
		left: -500%
	}
}

@-webkit-keyframes sidebar-body-back-04 {
	0% {
		left: -500%
	}
	100% {
		left: -400%
	}
}

@keyframes sidebar-body-move-05 {
	0% {
		left: -500%
	}
	100% {
		left: -600%
	}
}

@keyframes sidebar-body-back-05 {
	0% {
		left: -600%
	}
	100% {
		left: -500%
	}
}

@-webkit-keyframes sidebar-body-move-05 {
	0% {
		left: -500%
	}
	100% {
		left: -600%
	}
}

@-webkit-keyframes sidebar-body-back-05 {
	0% {
		left: -600%
	}
	100% {
		left: -500%
	}
}

.rele,
.rele-01,
.rele-02,
.rele-03,
.rele-04,
.rele-05 {
	overflow: hidden
}

.conhv,
.conhv-01,
.conhv-02,
.conhv-03,
.conhv-04,
.conhv-05,
.conpl {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	z-index: 120;
	overflow-y: hidden;
	-webkit-transform-origin: 0 0;
	-webkit-transform: scale(1, 1);
	opacity: 1;
	background: #fff;
	display: block;
	max-width: 768px;
	right: 0;
	overflow-x: hidden
}

.conpl {
	left: 0
}

.conhv {
	left: 150%
}

.conhv-01 {
	left: 250%
}

.conhv-02 {
	left: 350%
}

.conhv-03 {
	left: 450%
}

.conhv-04 {
	left: 550%
}

.conhv-05 {
	left: 650%
}

#BackToTop,
.xiaoneng {
	position: fixed;
	z-index: 9
}

.kf2 {
	bottom: 40%;
	width: 2rem;
	max-width: 768px;
	text-align: right;
	position: fixed;
	right: 0
}

.kf2 img {
	width: 2rem
}

#BackToTop,
.xiaoneng,
.xiaoneng em {
	width: 1.896rem;
	height: 1.896rem
}

#BackToTop {
	bottom: .625rem;
	right: .583rem;
	background: url(../../images/totop.png) center center no-repeat;
	background-size: 1.875rem;
	display: none;
	border-radius: 100%
}

.xiaoneng {
	bottom: 2.917rem;
	left: .583rem
}

.dialog-mask,
.pop-share {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0
}

.xiaoneng em {
	display: inline-block;
	border-radius: 100%;
	background: url(../../images/common/icon-xiaoneng.png) 50% no-repeat;
	background-size: 1.875rem
}

.pop-share {
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-size: 100% auto!important;
	opacity: .85;
	filter: alpha(opacity=85);
	-moz-opacity: .85
}

.dialog-mask,
.maskdiv {
	filter: alpha(opacity=50);
	opacity: .5
}

.pop-share3 {
	background: url(../../images/bg_pop.png) center top no-repeat #000
}

.pop-share2 {
	background: url(../../images/android.png) center top no-repeat #000
}

.fl {
	float: left
}

.margin-top {
	margin-top: 20px
}

.dialog-mask {
	background: #000;
	z-index: 2010;
	display: block;
	overflow-x: hidden;
	overflow-y: auto
}

.dialog {
	border: 1px solid #ddd;
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	border-radius: 10px;
	background-color: #fff;
	display: none
}

.dialog .dialog-foot,
.dialog .dialog-head {
	padding: .2rem .5rem
}

.dialog .dialog-head {
	border-bottom: solid 1px #ddd;
	background-color: #f5f5f5;
	border-radius: 4px 4px 0 0
}

.dialog .dialog-head strong {
	font-size: .333rem
}

.dialog .dialog-head .close {
	float: right
}

.dialog .dialog-body {
	padding: .2rem .5rem
}

.dialog .dialog-foot {
	text-align: right;
	border-top: solid 1px #ddd
}

.plcheck {
	font-size: .667rem
}

.plcheck .dialog-head {
	background-color: #fff;
	border-bottom: 0
}

.maskdiv,
.maskdiv2,
.maskdiv3 {
	left: 0;
	bottom: 0;
	background: #000;
	z-index: 30;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	top: 0;
	right: 0
}

.plcheck .plcheck02 {
	float: left;
	width: 100%;
	height: 2.2rem;
	line-height: 2.2rem;
	text-align: center
}

.plcheck .plcheck02 span {
	padding: 0 .4rem;
	color: #f75e46;
	font-size: .833rem
}

.plcheck .plcheck03 {
	float: left;
	width: 100%;
	box-sizing: border-box
}

.plcheck .plcheck03 a {
	float: left;
	width: 50%;
	box-sizing: border-box;
	color: #007aff;
	line-height: 2.1rem;
	text-align: center
}

.plcheck .plcheck01 {
	float: left;
	width: 100%;
	line-height: 1.667rem;
	text-align: center;
	padding-top: 1rem;
	padding-left: 1rem;
	box-sizing: border-box
}

.plcheck .plcheck01 .cart-add {
	display: inline-block;
	float: left;
	width: 1.667rem;
	height: 1.667rem;
	border: 1px solid #f75e46;
	text-align: center;
	line-height: 1.6rem;
	color: #f75e46;
	cursor: pointer;
	font-size: 1rem;
	margin-right: .5rem
}

.plcheck .plcheck01 .cart-reducation,
.plcheck .plcheck01 input {
	display: inline-block;
	height: 1.667rem;
	border: 1px solid #dedede;
	text-align: center;
	float: left
}

.plcheck .plcheck01 .cart-reducation {
	width: 1.667rem;
	line-height: 1.6rem;
	color: #999;
	cursor: pointer;
	font-size: 1rem;
	margin-left: .5rem
}

.plcheck .plcheck01 input {
	margin: 0 .333rem;
	width: 2.95rem;
	font-size: .833rem
}

.maskdiv {
	display: block
}

.maskdiv2 {
	filter: alpha(opacity=0);
	opacity: 0;
	display: block
}

.maskdiv3 {
	filter: alpha(opacity=70);
	opacity: .7;
	display: block
}

html {
	font-size: 20px
}

@media only screen and (min-width:320px) {
	html {
		font-size: 20px
	}
}

@media only screen and (min-width:360px) {
	html {
		font-size: 22.5px
	}
}

@media only screen and (min-width:375px) {
	html {
		font-size: 23.44px
	}
}

@media only screen and (min-width:384px) {
	html {
		font-size: 24px
	}
}

@media only screen and (min-width:412px) {
	html {
		font-size: 25.75px
	}
}

@media only screen and (min-width:414px) {
	html {
		font-size: 25.88px
	}
}

@media only screen and (min-width:600px) {
	html {
		font-size: 37.5px
	}
}

@media only screen and (min-width:760px) {
	html {
		font-size: 48px
	}
}

@media only screen and (min-width:769px) {
	html {
		font-size: 24px
	}
}

.f48 {
	font-size: 1rem!important
}

.f44 {
	font-size: .917rem!important
}

.f42 {
	font-size: .875rem!important
}

.f40 {
	font-size: .833rem!important
}

.f38 {
	font-size: .792rem!important
}

.f36 {
	font-size: .75rem!important
}

.f34 {
	font-size: .708rem!important
}

.f32 {
	font-size: .667rem!important
}

.f30 {
	font-size: .625rem!important
}

.f28 {
	font-size: .583rem!important
}

.f26 {
	font-size: .542rem!important
}

.f24 {
	font-size: .5rem!important
}

.f22 {
	font-size: .458rem!important
}

.f20 {
	font-size: .417rem!important
}

.red {
	color: #f75e46
}

.color000 {
	color: #000
}

.color333 {
	color: #333
}

.color666 {
	color: #666
}

.color888 {
	color: #888
}

.color999 {
	color: #999
}

.border-top {
	border-top: 1px solid #e8e8e8
}

.border-bottom {
	border-bottom: 1px solid #e8e8e8
}

.border-right {
	border-right: 1px solid #e8e8e8
}

.border-left {
	border-left: 1px solid #e8e8e8
}

#navigation {
	position: fixed;
	bottom: .625rem;
	width: 1.896rem;
	height: 1.896rem;
	z-index: 9;
	border-radius: 100%;
	left: .583rem;
	background: url(../../images/nav.png) 50% no-repeat;
	background-size: 1.875rem
}

.navigationList {
	width: 16rem;
	z-index: 1001;
	position: fixed
}

.navigationList .navigationBody a {
	width: 33.33%;
	float: left;
	height: 2.813rem;
	text-align: center;
	color: #fff;
	margin-bottom: 1.5rem
}

.navigationList .navigationBody a span {
	display: block;
	margin: 0 auto .208rem;
	border-radius: 10%;
	width: 1.792rem;
	height: 1.792rem;
	border: 1px solid #555
}

.navigationList .navigationBody a.nav01 span {
	background: url(../../images/nav01.png) center center no-repeat;
	background-size: .958rem
}

.navigationList .navigationBody a.nav02 span {
	background: url(../../images/nav02.png) center center no-repeat;
	background-size: .833rem
}

.navigationList .navigationBody a.nav03 span {
	background: url(../../images/nav03.png) center center no-repeat;
	background-size: .792rem
}

.navigationList .navigationBody a.nav04 span {
	background: url(../../images/nav04.png) center center no-repeat;
	background-size: .979rem
}

.navigationList .navigationBody a.nav05 span {
	background: url(../../images/nav05.png) center center no-repeat;
	background-size: .938rem
}

.navigationList .navigationBody a.nav06 span {
	background: url(../../images/nav06.png) center center no-repeat;
	background-size: .875rem
}

.navigationList .navigationBody a.nav07 span {
	background: url(../../images/nav07.png) center center no-repeat;
	background-size: .875rem
}

.navigationList .navigationBody a.nav08 span {
	background: url(../../images/nav08.png) center center no-repeat;
	background-size: .979rem
}

.navigationList .navigationBuy {
	margin-top: .5rem;
	text-align: center
}

.navigationList .navigationBuy a {
	display: block;
	margin: 0 auto;
	width: 7.396rem;
	height: 1.792rem;
	line-height: 1.792rem;
	border-radius: .18rem;
	border: 1px solid #555;
	text-align: center;
	color: #fff
}

.navigationList .navigationClose {
	margin-top: 1.5rem
}

.navigationList .navigationClose a {
	display: block;
	margin: 0 auto;
	width: .833rem;
	height: .833rem;
	background: url(../../images/del-nav.png) center center no-repeat;
	background-size: .833rem;
	text-indent: -9999px
}

.dialog-box {
	width: 88%;
	max-width: 15rem;
	height: auto;
	border-radius: .417rem;
	position: relative;
	opacity: 1;
	background: #fff
}

.dialog-main {
	height: auto;
	display: block;
	overflow: hidden
}

.dialog-main .dialog-body {
	text-align: center;
	font-size: .75rem;
	padding: 1.25rem .833rem;
	line-height: 1.167rem
}

.dialog-main .dialog-foot {
	height: 2.083rem;
	border-top: 1px solid #e8e8e8;
	text-align: center
}

.dialog-main .dialog-foot a {
	display: inline-block;
	height: 2.083rem;
	line-height: 2.083rem;
	color: #007aff;
	font-size: .708rem;
	width: 49%
}

.dialog_cover {
	width: 100%;
	height: 100%;
	position: fixed;
	background: #333;
	filter: alpha(opacity=50);
	opacity: .5;
	left: 0;
	top: 0;
	display: block;
	z-index: 555
}

.raffle-box {
	width: 80%;
	height: auto;
	border-radius: .417rem;
	margin: .729rem auto .521rem;
	position: relative;
	background-color: #fff;
	opacity: 1
}

.pubhide {
	display: none!important
}

.fortunel-main,
.fortunel-main .fortun-conn {
	height: auto;
	display: block;
	overflow: hidden
}

.fortunel-main .fortun-conn .rtun-plo {
	text-align: center;
	font-size: .75rem;
	padding: 1.25rem 0;
	line-height: 1.167rem
}

.fortunel-main .fortun-conn .rtun-btn {
	height: 1.958rem;
	border-top: 1px solid #e8e8e8;
	text-align: center
}

.fortunel-main .fortun-conn .rtun-btn a {
	display: inline-block;
	height: 2.083rem;
	line-height: 2.083rem;
	color: #007aff;
	font-size: .625rem;
	width: 49%
}

.fortunel-main .fortun-conn .rtun-btn a#isSure_form,
.fortunel-main .fortun-conn .rtun-btn a.bordrht,
.fortunel-main .fortun-conn .rtun-btn a.closeSmb {
	border-right: 1px solid #e8e8e8
}

.fortunel-main .fortun-conn .rtun-ord {
	padding: .792rem .792rem 0;
	text-align: center
}

.fortunel-main .fortun-conn .rtun-ord h2 {
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: .667rem;
	color: #000
}

.fortunel-main .fortun-conn .rtun-ord p {
	line-height: 1.375rem;
	font-size: .75rem;
	color: #000
}

.fortunel-main .fortun-conn .rtun-ord p strong {
	color: #f75e46;
	display: block
}

.fortunel-main .fortun-conn .rtun-ord p strong i {
	font-size: .833rem;
	font-family: Arial
}

.fortunel-main .fortun-conn .ord-btn {
	padding: .625rem .792rem
}

.fortunel-main .fortun-conn .ord-btn a {
	display: block;
	height: 1.917rem;
	line-height: 1.917rem;
	text-align: center;
	font-size: .75rem;
	color: #fff;
	background: #f75e46
}

.fortunel-main .fortun-conn .ord-cxin {
	padding: 0 .792rem .792rem
}

.fortunel-main .fortun-conn .ord-cxin a {
	display: block;
	text-align: right;
	height: 1.042rem;
	line-height: 1.042rem;
	font-size: .625rem;
	color: #464646
}

.top-header {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	position: relative;
	background-color: #f6f6f6;
	line-height: 2rem;
	z-index: 50
}

.index-foot,
.newfooter {
	z-index: 20;
	text-align: center
}

.top-header .top-back {
	position: absolute;
	left: 0;
	min-width: 10%;
	height: 2rem
}

.top-header .top-back a {
	display: inline-block;
	min-width: 1.146rem;
	width: 100%;
	height: 2rem;
	text-indent: -9999px;
	background: url(../../images/left.png) .625rem center no-repeat;
	background-size: .438rem
}

.top-header h2 {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	white-space: nowrap;
	overflow: hidden
}

.top-header .top-right {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0;
	min-width: 10%;
	height: 2rem;
	line-height: 2rem;
	-webkit-text-size-adjust: none;
	text-align: right
}

.top-header .top-right .back-home {
	display: inline-block;
	height: 2rem;
	width: 100%;
	text-indent: -9999px;
	background: url(../../images/Icon/m_home.png) 0 center no-repeat;
	background-size: .938rem;
	box-sizing: border-box
}

.top-header .top-right a {
	padding-right: .625rem;
	box-sizing: border-box;
	width: 100%
}

.index-foot {
	float: left;
	width: 100%;
	line-height: 2.042rem;
	border-top: 1px solid #e8e8e8;
	background: #fcfcfc;
	font-size: .667rem
}

.index-foot ul li {
	float: left;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20%;
	font-weight: 700
}

.index-foot ul li a {
	color: #333;
	display: inline-block;
	width: 100%
}

.index-foot ul li a.cur {
	background: #f75e46;
	color: #fff
}

.newfooter {
	float: left;
	width: 100%;
	border-top: 1px solid #e8e8e8;
	background: #fcfcfc;
	font-size: .54167rem;
	line-height: 0!important
}

.newfooter ul li {
	float: left;
	padding: 0;
	margin: 0;
	border: 0;
	height: 2.083rem;
	width: 25%!important;
	font-weight: 400!important;
	position: relative
}

.newfooter ul li a {
	color: #333;
	display: inline-block;
	width: 100%
}

.newfooter ul li .i_home,
.newfooter ul li .i_message,
.newfooter ul li .i_mysell,
.newfooter ul li .i_tx {
	display: block;
	line-height: 1.04rem;
	padding-top: 1.04rem
}

.newfooter ul .active {
	color: #f75e46
}

.newfooter ul li .i_home {
	background: url(../../images/Icon/m_home.png) center .2rem no-repeat;
	background-size: 1rem
}

.newfooter ul .active .i_home {
	background: url(../../images/Icon/mred_home.png) center .2rem no-repeat;
	background-size: 1rem
}

.newfooter ul li .i_mysell {
	background: url(../../images/Icon/membersell_logo.png) center .2rem no-repeat;
	background-size: 1rem
}

.newfooter ul .active .i_mysell {
	background: url(../../images/Icon/redsell_logo.png) center .2rem no-repeat;
	background-size: 1rem
}

.newfooter ul li .i_message {
	background: url(../../images/Icon/message.png) center .2rem no-repeat;
	background-size: 1rem
}

.newfooter ul .active .i_message {
	background: url(../../images/Icon/redmessage.png) center .2rem no-repeat;
	background-size: 1rem
}

.newfooter ul li .i_tx {
	background: url(../../images/Icon/touxiang.png) center .2rem no-repeat;
	background-size: 1rem
}

.newfooter ul .active .i_tx {
	background: url(../../images/Icon/redtx.png) center .2rem no-repeat;
	background-size: 1rem
}

.newfooter .tsme {
	display: none;
	top: .1rem;
	left: 55%;
	border: 1px solid #fff;
	position: absolute;
	font-size: .4rem;
	line-height: .6rem;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #f75e46;
	border-radius: 2em;
	width: .6rem
}

.fw {
	float: left;
	width: 100%;
	clear: both
}

.bg-f1 {
	background-color: #f1f1f1
}

.po-re {
	position: relative
}

.color-999 {
	color: #999
}

.color-fff {
	color: #fff
}

.hide {
	display: none
}

.mt-30 {
	margin-top: .625rem!important
}

.color-07f {
	color: #007aff
}

.text-center {
	text-align: center!important
}

.login-mobile .newlogin-content {
	box-sizing: border-box;
	clear: both;
	line-height: 1.35rem
}

.phone_tc {
	opacity: .9;
	margin: .625rem;
	position: fixed;
	top: 6.04rem;
	width: 67%;
	background-color: #161616;
	height: 2.29rem;
	border-radius: .42rem;
	line-height: 2.29rem;
	z-index: 9;
	left: 1.98rem
}

.phone_tc .login_close {
	width: 100%;
	height: 2.29rem;
	display: inline-block;
	/*background: url(../../images/close_login.png) left center no-repeat;*/
	background-size: 1.21rem;
	background-position-x: .94rem;
	padding-left: 2.5rem
}


#green{
	position:absolute; left: 0; top:0; width: 0; display: block; line-height:2.167rem; height: 100%; z-index: 5;
	background-color: #7ac23c;
}
#fontSlider{
	position:absolute; left: 0; top:0; width: 100%; display: block; line-height:2.167rem; height: 100%; font-size: 0.75rem; z-index: 7;
}