/**/

.recharge-main{ height:auto; display:block; overflow:hidden;}
.rechdtl-caption{ height:auto; display:block; overflow:hidden; padding:0.26rem 0 0.18rem; position:relative;}
.rechdtl-caption .capt-title{ height:0.52rem; line-height:0.52rem;white-space: nowrap}
.rechdtl-caption .capt-money{ height:0.48rem; line-height:0.48rem;}
.rechdtl-caption .capt-money i{ font-family:"Arial";}
.rechdtl-caption .capt-primary{ height:0.45rem; line-height:0.45rem;}
.rechdtl-caption .capt-primary del{font-family:"Arial";}
.rechdtl-caption .capt-discount{ position:absolute; width:auto; height:0.48rem; right:0.3rem; bottom:0.47rem;}

.recharge-content .rechcon-list ul li .relist-rg span.choice-ico{ width:auto; display:block; background:url(../../images/lease-list-ico.png) no-repeat right center; height:1rem; line-height:1rem; padding-right:0.43rem; background-size:0.13rem 0.24rem;}

.recharge-content .rechcon-list ul li .relist-rg span.list{ width:auto; display:block; margin-top:0.18rem;}
.recharge-content .rechcon-list ul li .relist-rg span.list em{ display:inline-block; width:0.64rem; height:0.64rem; background-color:#ffffff; float:left;}
.recharge-content .rechcon-list ul li .relist-rg span.list em a{float:left; width:0.64rem; height:0.64rem; background-size:40% !important; display:block; border:1px solid #d3d3d3;}
.recharge-content .rechcon-list ul li .relist-rg span.list em a.ch_redu{ background:url(../../images/ch_redu.png) no-repeat center center;background-color:#f4f4f4;}
.recharge-content .rechcon-list ul li .relist-rg span.list em a.ch_redu_hov{ background:url(../../images/ch_redu_hov.png) no-repeat center center;background-color:#f4f4f4;}
.recharge-content .rechcon-list ul li .relist-rg span.list em a.ch_add{ background:url(../../images/ch_add.png) no-repeat center center; background-color:#f4f4f4;}
.recharge-content .rechcon-list ul li .relist-rg span.list .char-fabu{ height:0.64rem; line-height:0.64rem; border:1px solid #d3d3d3; border-left:none; border-right:none; background-color:#fff; color:#000000; width:1.21rem; float:left; text-align:center; -webkit-appearance: none; outline:none; border-radius:0px; opacity:1; font-family:"Arial"; padding:0;}
.recharge-content .rechcon-list ul li .relcon-rg input[disabled],input:disabled{background-color:#fff;}


.rest-fabu{ width:100%; height:0.98rem; line-height:0.98rem; border:none;webkit-appearance: none; outline:none; border-radius:0px; opacity:1; }

.recharge-notes{ line-height:0.38rem;}

.recharge-btn span.btn-payment{ float:left; width:50%; height:0.92rem; line-height:0.92rem;}
.recharge-btn span.btn-payment em{font-family:"Arial"; position:relative; top:0.02rem;}
.recharge-btn a.btn-a{ float:left; width:50%;}

.recharge-btn a span.sheet-ico{ display:inline-block; background:url(../../images/sheet-ico.png) no-repeat left center; height:0.92rem; padding-left:0.58rem; background-size:0.35rem 0.33rem;}


/*支付*/
.recharge-content .rechcon-paying{height:auto; display:block; overflow:hidden;}
.recharge-content .rechcon-paying ul li{height:1.4rem;}
.recharge-content .rechcon-paying ul li .relist-lf{height:1.4rem; line-height:1.4rem; min-width:1.2rem;}
.recharge-content .rechcon-paying ul li .relist-lf span{ display:block; height:1.4rem; padding-left:1.16rem;}
.recharge-content .rechcon-paying ul li .relist-lf span.weix{ background:url(../../images/pay-weix.png) no-repeat left center; background-size:0.9rem;}
.recharge-content .rechcon-paying ul li .relist-lf span.zfb{ background:url(../../images/pay-zfb.png) no-repeat left center; background-size:0.9rem;}

.recharge-content .rechcon-paying ul li .relcon-pay{height:1.4rem; line-height:1.4rem; margin-left:0.30rem;}
.recharge-content .rechcon-paying ul li .relcon-pay i{font-family:"Arial";}
.recharge-content .rechcon-paying ul li .relcon-rg{display:block; overflow:hidden; height:auto;}
.recharge-content .rechcon-paying ul li .relcon-rg .lease-ico{ display:block; height:1.4rem; background:url(../../images/pay-ico.png) no-repeat right center; width:0.18rem; background-size:100%;}

/*快充*/
.rechcon-quick{ height:auto; display:block; overflow:hidden;}
.rechcon-quick ul li{ width:2.22rem; height:0.98rem; text-align:center; line-height:0.98rem;}
.rechcon-quick ul li a{ display:block; height:0.98rem; border:1px solid #fff;}
.rechcon-quick ul li.active{  border:1px solid #f75e46;}
.rechcon-quick ul li.active a{border:1px solid #f75e46;color:#f75e46;}

.recharge-content .rechcon-list ul li .quick-lf{height: 1rem; line-height: 1rem; min-width: 2.7rem;}
.recharge-content .rechcon-list ul li .quick-rg{width:50%; display: block;overflow: hidden; height: 0.98rem; line-height: 0.98rem}

.rechcon-answer p{ line-height:0.42rem;}


/*我是买家*/
.buyer-nav{height:auto; display:block; overflow:hidden;}
.buyer-nav ul li{ width:50%; height:0.98rem; text-align:center; line-height:0.98rem;}
.shop-detail ul li{ width:33.3%;}
.buyer-nav ul li a{display:block; width:auto; height:0.98rem; border-bottom:3px solid #fff;}
.buyer-nav ul li.active{  border-bottom:1px solid #f75e46;}
.buyer-nav ul li.active a{border-bottom:3px solid #f75e46; color:#f75e46;}



/*我是买家-详情*/
.buydetail-head{height:auto; display:block; overflow:hidden;}
.buydetail-head .btailf{ height:auto; display:block; overflow:hidden;}
.buydetail-head .btailf .btailf-img{ width:0.96rem; height:0.96rem; text-align:center; }

.buydetail-head .btailf .btailf-img img{ vertical-align:middle;width:100%; height:100%; border-radius:0.08rem;}
.buydetail-head .btailf .btailf-til{ margin-left:0.23rem;}
.buydetail-head .btailf .til-h2{ height:0.48rem; line-height:0.48rem;}
.buydetail-head .btailf .til-p{ height:0.42rem; line-height:0.42rem;}

.buydetail-head .btairg{ margin-top: 0.09rem;}
.buydetail-head .btairg a.rgpl-tel{ display:block; float:left; width:1.92rem; height:0.78rem; line-height:0.78rem;}
.buydetail-head .btairg a.rgpl-tel i.tel{ display:inline-block; width:1.92rem; height:0.78rem; background:url(../../images/trans-rgpl-tel.png) no-repeat 0.27rem 0.25rem; padding-left:0.72rem; background-size:0.37rem}
.buydetail-head .btairg a i.ltan{ display:inline-block; width:0.78rem; height:0.78rem; background:url(../../images/trans-rgpl-pl.png) no-repeat center center; float:left; margin-left:0.2rem; background-size:100%;}


.buydetail-caption{height:auto; display:block; overflow:hidden; position:relative;}
.buydetail-caption .buycon-img{ width:1.28rem; height:1.28rem; position:relative;}
.buydetail-caption .buycon-img img{ vertical-align:middle; width:100%; height:100%;}
.buydetail-caption .buycon-img i{ display:block; width:0.33rem; height:0.33rem; text-align:center; line-height:0.33rem; position:absolute; top:0; right:0;}
.buydetail-caption .buycon-img i.shou{ background-color:#ef83ee;}
.buydetail-caption .buycon-img i.dan{ background-color:#66c6fb;}
.buydetail-caption .buycon-img i.xun{ background-color:#7dd662;}
.buydetail-caption .buycon-img i.app{ background-color:#8fabf5;}


.buydetail-caption .buycon-tn{ margin-left:1.52rem; height:auto; display:block;}
.buydetail-caption .buycon-tn .tn-title{ height:0.35rem;}
.buydetail-caption .buycon-tn .tn-equal{ height:0.56rem; line-height:0.56rem;}
.buydetail-caption .buycon-tn .tn-money{ height:0.37rem; line-height:0.45rem;}
.buydetail-caption .shdet-ico{ width:1.06rem; height:0.48rem; background:url(../../images/header-member-top.png) no-repeat center center; position:absolute; right:0.3rem; bottom:0.3rem; background-size:0.49rem 0.09rem; cursor:pointer;}


.buycon-num{ height:1.1rem; line-height:1.1rem;}


/*交易隐藏按钮*/






.dlrele-btn{ height:auto; display:block; overflow:hidden; width:100%;}
.dlrele-btn .dlrele-rub{ width:65%; height:0.90rem; line-height:0.90rem; text-align:center;}
.dlrele-btn .dlrele-rub a{ display:block;}
.dlrele-btn .dlrele-rub a.active{ background-color:#f75e46;}
.dlrele-btn .dlrele-rub-game-link{ width:100%; height:0.90rem; line-height:0.90rem; text-align:center;}
.dlrele-btn .dlrele-rub-game-link a{ display:block;}
.dlrele-btn .dlrele-rub-game-link a.active{ background-color:#f75e46;}
.dlrele-btn .dlrele-sdi{ width:30%; height:0.90rem; line-height:0.90rem; text-align:center;}
.dlrele-btn .dlrele-sdi a{ display:block;}

.trade-btn .dlrele-rub{ width:60%;}
.trade-btn .dlrele-sdi{ width:35%}

.dlrele-btn .rebuyer-buy{ width:34%; height:1.10rem; line-height:1.10rem; margin-right:3%; text-align:center;}
.dlrele-btn .rebuyer-buy a{height:0.8rem; line-height:0.8rem; display:block;}
.dlrele-btn .rebuyer-buy span{ display:inline-block;}
.dlrele-btn .rebuyer-buy span.phone{ background:url(../../images/rebuyer-tel.png) no-repeat left center; padding-left:0.6rem; background-size:0.37rem;}
.dlrele-btn .rebuyer-buy span.touch{ background:url(../../images/rebuyer-touch.png) no-repeat left center; padding-left:0.65rem;background-size:0.47rem;}
.dlrele-btn .rebuyer-apl{width:26%; height:1.10rem; line-height:1.10rem; text-align:center;}
.dlrele-btn .rebuyer-apl a{height:0.8rem; line-height:0.8rem; display:block;}

/**/
.recharge-content .rechcon-titl em.tr-ico{ display:block; background:url(../../images/tr-ico.png) no-repeat right center; height:1rem; padding-right:0.41rem; background-size:0.3rem 0.18rem;}
.recharge-content .reccon-buyer{ height:1.10rem; line-height:1.10rem;}
.recharge-content .reccon-buyer a{ height:0.8rem; line-height:0.8rem; width:34%; text-align:center; display:inline-block;}
.recharge-content .reccon-buyer a i.lxmj-ico{ display:inline-block; height:0.8rem; background:url(../../images/recharge/lxmj-ico.png) no-repeat left center; padding-left:0.65rem; background-size:0.47rem;}


/*发布单管理-类型*/
.recharge-genre{ height:auto; display:block; overflow:hidden;}
.recharge-genre ul li{ width:49%; height:0.96rem; text-align:center; line-height:0.94rem;}
.recharge-genre ul li span{ display:inline-block; background:url(../../images/down3.png) no-repeat right center; height:0.96rem; padding-right:0.44rem; background-size:0.23rem 0.14rem;}

.recharge-list{height:auto; display:block; overflow:hidden;}
.recharge-list ul li{height:auto; display:block; overflow:hidden;}
.recharge-list ul li .gelt-number{ height:1rem; position:relative; width:11%;}
.recharge-list ul li .gelt-number span{ display:inline-block; width:0.44rem; height:1rem; background:url(../../images/glradio-ico.png) no-repeat left center; background-size:0.44rem;}
.recharge-list ul li .gelt-number span.active{  background:url(../../images/glradio-ico-hov.png) no-repeat left center; background-size:0.44rem;}
.recharge-list ul li .gelt-number .num-radio{ position:absolute; width:0.44rem; height:0.44rem; top:0.28rem; left:0; background-color:#000; opacity:0;}


.recharge-list ul li .gelt-content{ height:1rem;width: 89%; overflow: hidden;}
.recharge-list ul li .gelt-content .gelt-img{ width:1rem; height:1rem; text-align:center; line-height:1rem;}
.recharge-list ul li .gelt-content .gelt-img span.blue{ display:block; background-color:#66c6fb;}
.recharge-list ul li .gelt-content .gelt-img span.purple{ display:block; background-color:#ef83ee;}
.recharge-list ul li .gelt-content .gelt-img span.green{ display:block; background-color:#7dd662;}
.recharge-list ul li .gelt-content .gelt-img span.quick{ display:block; background-color: #F97442;}
.recharge-list ul li .gelt-content .gelt-tex{ margin-left:0.21rem; height:auto; width: 80%;}
.recharge-list ul li .gelt-content .gelt-tex .getex-p{ height:0.5rem; line-height:0.5rem;}

/*发布单管理-上传*/
.upsing-corvn{height:auto; display:block; overflow:hidden;}
.upsing-corvn ul li{height:auto; display:block; overflow:hidden;}
.upsing-corvn ul li span{ height:1.10rem; display:inline-block; min-width:1.77rem; line-height:1.10rem; padding-left:0.66rem;}
.upsing-corvn ul li span.ico01{ background:url(../../images/upsing-ico01.png) no-repeat left center; background-size:0.35rem;}
.upsing-corvn ul li span.ico02{ background:url(../../images/upsing-ico02.png) no-repeat left center; background-size:0.35rem;}
.upsing-corvn ul li span.ico03{ background:url(../../images/upsing-ico03.png) no-repeat left center; background-size:0.35rem;}
.upsing-corvn ul li span.ico04{ background:url(../../images/upsing-ico04.png) no-repeat left center; background-size:0.35rem;}


/*店铺名称*/
.shopname-textl{ height:auto; display:block; overflow:hidden;}
.shopinput-text{width:100%; height:2rem; line-height:0.46rem; border:none;webkit-appearance: none; outline:none; border-radius:0px; opacity:1;}


/*导出数据表格并下载*/
.shopderve-sheet{ height:auto; display:block; overflow:hidden;}
.shopderve-sheet ul li{ height:0.96rem; line-height:0.96rem; width:2.5rem; text-align:center;}
.shopderve-sheet ul li span{ display:inline-block;  height:0.96rem; background:url(../../images/shopderve-ico.png)}


/*弹窗*/
.examine-main{ height:auto; display:block; overflow:hidden;}
.examine-main .examine-conn .rtun-plo{ min-height:2rem;}
.examine-main .examine-conn .rtun-plo span{ display:block;}
.examine-main .examine-conn .rtun-plo span.examine-text{ line-height:2.5rem; text-align:center;}
.examine-main .examine-conn .rtun-plo span.continue-text{ line-height:0.52rem; text-align:center; padding-top:0.75rem;}
.examine-main .examine-conn .rtun-btn{ height:auto;}
.examine-main .examine-conn .rtun-btn a{ display:block; height:1.1rem; line-height:1.1rem; text-align:center;}
.examine-main .examine-conn .rtun-btn a.rech-sub{ float:left; width:49.5%;}

.examine-main .line{    width: 100%;
    height: 1.1rem;
}
.examine-main .leftspan {
    display: inline-block;
    width: 2.917rem;
    line-height: 1.1rem;
    height: 1.1rem;
    padding-right: .208rem;
    text-align: right
}

.examine-header {
    padding: .2rem .5rem;
}

.examine-header h1 {
    text-align: center;
}

/*上传库存*/
.recharge-btn{ position: relative; width: 100%;}
.recharge-btn .fileUpload{position: absolute; top: 0.3rem; left: 0px; width: 100%; height: 0.92rem; opacity: 0; filter:alpha(opacity=0);  -moz-opacity:0; z-index: 10; }



/*列表（新）*/
.recha-conn{ height:auto; display:block; overflow:hidden;position: relative;}

.recha-conn .rech-type {
    height: auto;
    display: block;
    /*position: absolute;*/
    height: 0.98rem;
    opacity: 10;
    /*top: 1rem;*/
    z-index: 52;
    width: 100%;
}
.recha-conn .tab .dong-lcin{height:auto; display:block; overflow:hidden; width:46%;}
.recha-conn .tab .dong-lcin .tab-nav{height:auto; display:block; overflow:hidden;}
.recha-conn .tab .dong-lcin .tab-nav li{float:left; width:50%; text-align:center; height:auto; display:block; overflow:hidden;}
.recha-conn .tab .dong-lcin .tab-nav li a{width:100%; float:left; color:#000; line-height:.96rem; text-align:center; padding-left:.48rem;}
.recha-conn .tab .dong-lcin .tab-nav .active a{ color:#f75e46; }
.recha-conn .tab .dong-lcin .tab-nav li a.ios{ background:url(../../images/re07.png) 0.3rem center no-repeat; background-size:.32rem;}
.recha-conn .tab .dong-lcin .tab-nav li.active a.ios{ background:url(../../images/re07b.png) 0.3rem center no-repeat; background-size:.32rem;}
.recha-conn .tab .dong-lcin .tab-nav li a.android{ background:url(../../images/re08.png) 0.3rem center no-repeat; background-size:.32rem;}
.recha-conn .tab .dong-lcin .tab-nav li.active a.android{ background:url(../../images/re08b.png) 0.3rem center no-repeat; background-size:.32rem;}


.recha-conn .tab .dong-tern{height:auto; display:block; overflow:hidden; width:100%; position:relative; z-index:100}
.recha-conn .tab .dong-tern .don-nav li{float:left;height:auto; display:block; overflow:hidden; position:relative;}
.recha-conn .tab .dong-tern .don-nav li.width00{ width:33.3%}
.recha-conn .tab .dong-tern .don-nav li.width01{ width:33.3%;}
.recha-conn .tab .dong-tern .don-nav li.width02{ width:33.3%;}
.recha-conn .tab .dong-tern .don-nav li a{width:100%; float:left; color:#666666; line-height:.96rem; height:0.96rem; text-align:center; }
.recha-conn .tab .dong-tern .don-nav li a span{ display:inline-block; }
.recha-conn .tab .dong-tern .don-nav li a span.hotlin{ background:url(../../images/recharge/discount-ico.png)no-repeat right center; padding-right:0.4rem; background-size:0.24rem 0.29rem;}
.recha-conn .tab .dong-tern .don-nav li a span.hotlin_hov{background:url(../../images/recharge/discount-ico-hov.png) no-repeat right center; padding-right:0.4rem; background-size:0.24rem 0.29rem; color: #f75e46}
.recha-conn .tab .dong-tern .don-nav li a span.andico{ background:url(../../images/recharge/anios-ico.png) no-repeat right center;padding-right:0.4rem; background-size:0.24rem 0.25rem;}
.recha-conn .tab .dong-tern .don-nav li a span.andico_hov{background:url(../../images/recharge/anios-ico-hov.png) no-repeat right center;padding-right:0.4rem; background-size:0.24rem 0.25rem;color: #f75e46}

.recha-conn .tab .dong-tern .don-nav li a span.screen{ background:url(../../images/recharge/sx-ico.png) no-repeat right center; padding-right:0.43rem; background-size:0.24rem;}


.recha-list{height:auto; display:block; overflow:hidden;}
.recha-list .list-caption{height:auto; display:block; overflow:hidden; position:relative;}
.recha-list .list-caption .capt-title{ height:0.57rem; line-height:0.57rem;white-space: nowrap}
.recha-list .list-caption .capt-type{ height:0.5rem; line-height:0.5rem;}
.recha-list .list-caption .capt-client{ height:0.55rem; line-height:0.55rem;}
.recha-list .list-caption .capt-discount{ position:absolute;width:auto; height:auto; right:0.3rem; bottom:0.2rem;}
.recha-list .list-caption .capt-discount .dntzk{ height:0.55rem; line-height:0.55rem;}
.recha-list .list-caption .capt-discount div.dswidth{ width:2.24rem;}
.recha-list .list-caption .capt-discount .dntzk em i{ font-family:"Arial";}
.recha-list .list-caption .capt-discount i.fold-ico{ 
    display: inline-block;
    width: 1rem;
    height: 0.42rem;
    line-height: 0.3rem;
    text-align: center;
    /*padding-left: .1rem;
    padding-right: .1rem;
    padding-top: .1rem;
    padding-bottom: 0.4rem;*/
    padding: .1rem .1rem .4rem .1rem;
}

.recha-list .list-merchant{ height:0.5rem; line-height:0.94rem;}
.recha-list .list-merchant i.shang{ display:inline-block; width:0.33rem; height:0.33rem; line-height:0.33rem; background-color:#66c6fb; text-align:center; margin-top:-.1rem; margin-right:0.15rem;}



.recha-nav-list{position:absolute; top:0.94rem; left:0px; width:100%; background: #fbfbfb; z-index:999;}

.recha-nav-list ul li{ height:0.98rem; line-height:0.98rem; font-size:0.30rem;  border-bottom:1px solid #e8e8e8; padding:0 0.3rem; }
.recha-nav-list ul li.active span{ display:block; background:url(../../images/recharge/choice-ico.png) no-repeat right center; height:0.98rem; background-size:0.31rem 0.23rem; color:#f75e46;}

.rechar-seach{ height:auto; display:block; overflow:hidden; position:relative; z-index:999;}
.rechar-seach .rechseach-titl{ height:1.1rem; line-height:1.1rem;}
.rechar-seach .rech-conn{ height:auto; display:block; overflow: hidden; line-height:1.5rem;padding-bottom: 0.3rem;}
.rechar-seach .rech-conn ul li{ width:30%; float:left; margin-right:3%; margin-top:0.3rem; }
.rechar-seach .rech-conn ul li a{ display:block; width:100%; height:0.9rem; line-height:0.9rem; border:1px solid #e8e8e8; text-align:center; overflow: hidden;}
.rechar-seach .rech-conn ul li.active a{ border:1px solid #f75e46; color:#f75e46;}



.recharge-02{ position:absolute; top:0; left:100%; width:100%; display:none; overflow:hidden; background-color:#f1f1f1; }
.recharge-01{  width:100%; display:block; overflow:hidden; background-color:#f1f1f1; }


.storehd{ height:auto; display:block; overflow:hidden;}


.recharge-content .rechcon-list .chorder{ height:2.04rem; border:none; width:auto; font-size:0.3rem; color:#000; line-height:0.42rem; width:100%;}
.tab-ios{ min-height: 5rem; display: block; height: auto; overflow: hidden;}
.tab-android{min-height: 5rem;display: block; height: auto; overflow: hidden;}


/*新增（聊天和搜索样式）*/
.buydetail-head .btairg a i.ltan{ position:relative;}
.recharge-content .reccon-buyer a,.buydetail-caption .buycon-tn { position:relative;}
.badge{display:inline-block; position:absolute; min-width:0.1rem; width:0.36rem; height:0.36rem; font-size:0.2rem;line-height:0.36rem;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;background-color:#f75e46;border-radius:50%; top:-0.1rem; right:-0.1rem;}
.badge:empty{display:none}
.active .badge{display:none}
.buydetail-caption .buycon-tn a{ position:absolute; height:0.78rem; line-height:0.78rem; width:1.92rem; text-align:center; display:inline-block; right:0; bottom:0px;}


/*发页单详情*/
.rechcon-list{ }
.rechcon-list a.rech_edit{ color:#ff6633; }

.rechargeedit .dialog-body{ padding:0.4rem 0.6rem;}
.rechargeedit .rechedit-titl{ height:0.97rem; line-height:0.66rem;}
.rechargeedit .rechedit-conn{ width:92%; height:auto; display:block; overflow:hidden; margin:0 auto;}
.rechargeedit .rechedit-conn .edit-input{ height:0.65rem; width:100%; line-height:0.65rem; color:#333; border:none; padding:0 3%;}
.rechargeedit .dialog-foot{ border-color:#cccccc;}
.rechargeedit .dialog-foot a.cancel{ color:#000000; border-right:1px solid #cccccc;}
.rechargeedit .dialog-foot a.confirm{ color:#ff6633;}

.singdetail{ float:right; height:1.10rem; line-height:1.10rem;}
.singdetail .tail-ico{ float:right; display:block; width:0.37rem; height:1.10rem; background:url(../../images/recharge/singdetail-ico.png) no-repeat right center; background-size:0.14rem;}


/*发页单详情错误提示*/
.export{ height:0.96rem; line-height:0.96rem;}
.error-message{ border-top:2px solid #f67a66; height:auto; display:block; overflow:hidden;}
.error-message .error-titl{ height:0.9rem; background-color:#f3b6ad; padding:0 0.3rem 0 0.5rem;}
.error-message span{ display:block; float:left;height:0.9rem; line-height:0.9rem; color:#000; font-size:0.3rem; }
.error-message .places{ width:38%; }
.error-message .reason{ width:62%; }
.error-message .error-conn{ height:auto; display:block; overflow:hidden;}
.error-message .error-conn ul li{ height:auto; display:block; overflow:hidden; background-color:#fff; padding:0 0.3rem 0 0.5rem;}
.error-message .error-conn ul li.errbj{ background-color:#dedede;}

.recharge-01 .top-header{ opacity:80;}
.maskdiv01 { z-index: 60; filter: alpha(opacity=0); opacity: 0; position: fixed; left: 0; top: 0; right: 0; bottom: 0; background: #000; overflow-x: hidden; overflow-y: auto; display: block}
.rechop{position: absolute; top: 0; left: 0; z-index: 1;width: 100%;}

/*此游戏下暂无商品*/
.tab-empty{ height:auto; display:block; overflow:hidden;}
.empty-conn{ height:auto; display:block; overflow:hidden;}
.empty-conn .emp-img{ width:1.36rem; height:1.02rem; margin:0.76rem auto 0.3rem;}
.empty-conn .emp-img img{ width:100%; height:100%;}
.empty-conn .emp-text{ height:0.45rem; line-height:0.45rem;}
.empty-conn .emp-ware{color:#999999; height:0.45rem; border-top:1px solid #999999; margin-top:0.8rem;}
.empty-conn .emp-ware span{ display:block; width:60%; height:0.45rem; line-height:0.45rem; margin:0 auto; text-align:center; margin-top:-0.3rem;}

.rece-btn{ position:absolute; width:100%; height:0.96rem; z-index:9999;}



/*手游充值-搜索,店铺页面样式 - 曹磊 2017-03-27*/
.fixedFill-lg{width: 100%;height: 1.2rem}
.fixedFill-mx{width: 100%;height: 0.96rem;}
.fixed-box{width: 100%;height: auto;z-index: 500}

/*手游充值搜索页面*/
/*顶部搜索样式*/
.container-ms{padding: 0 0.16rem;}
.top-search{position: relative;padding:0.16rem 0;background: #fbfbfb;}
.top-search img{width: 0.25rem ;height: 0.25rem;position: absolute;left: 0.3rem;top:0.32rem }
.top-search input{border: none;width: 86%;height: 0.56rem;padding-left: 0.52rem;background: #f2f2f2;font-size: 0.28rem;
    -webkit-border-radius:0.1rem;
    -moz-border-radius:0.1rem;
    border-radius:0.1rem;}
.top-search input:focus{color: #0079fe}
.top-search a{width:14%;height:0.56rem;line-height:0.56rem;text-align:center;display:inline-block;font-size: 0.34rem;color: #fe6532;position: absolute;top: 0.16rem;right: 0}
.top-search .container-ms .clear{display: inline-block;width: 0.3rem;height: 0.3rem;background: url("../../images/del-th.png") no-repeat center;background-size: 0.3rem;position: absolute;top: 0.29rem;right: 18%}


.search-empty{text-align: center;padding: 1.5rem 0 0 0}
.search-empty img{width:1.72rem}
.search-empty p{margin-top: 0.6rem}
.search-content{color: #fe6532}

.search-result {color: #000;background: #fff}
.search-result ul li{border-bottom: 1px solid #e8e8e8;padding: 0 0.3rem;height: 0.96rem;line-height: 0.96rem;position: relative}
.search-result ul li:last-of-type{border-bottom: none}

.search-result ul li a{display: inline-block;height: 0.96rem;width: 100%;padding-left: 0.3rem}
.mobilegame{width: 0.22rem;height:0.32rem;position: absolute;left: 0.3rem;top: 0.3rem}
.to-right{width: 0.18rem;height:0.3rem;position: absolute;right: 0.3rem;top: 0.31rem}

.search-history,.hot-game{background: #fff}
.search-history{margin-bottom: 0.4rem}
.title{height: 0.9rem;line-height: 0.9rem;font-size: 0.28rem;color: #bbbbbb  }
.search-history .container-ms .close{display: inline-block;width: 14%;height: 0.9rem;background: url("../../images/common/del.png") no-repeat center;
    background-size: 0.3rem;float: right}
.game-list ul li{width: 50%;float: left;height: 0.9rem;border-bottom: 1px solid #e8e8e8;padding: 0.1rem 0;font-size: 0.28rem}
.game-list ul li a{display: inline-block;width: 100%;height: 0.7rem;line-height: 0.7rem}
.game-list ul li:nth-child(even) a{border-left: 1px solid #e8e8e8 ;padding-left: 0.16rem}

/*手游充值-店铺页面*/

.shop-list{background: #fff}
.shop-list ul li{border-bottom: 1px solid #e8e8e8;height: 1.76rem;width: 100%}
.shop-list ul li a{display: inline-block;padding: 0.32rem 0.32rem;width: 100%;height: 100%}
.shopImg{width: 1.1rem;height: 1.1rem;float: left}
.shopName{display: inline-block;margin-left: 0.2rem; color:#000;height: 1.1rem}
.shopName .shopTitle{height: 0.6rem;line-height: 0.6rem}
.shopName .mouSale{height: 0.5rem;line-height: 0.3rem}
.totalSale{float: right;color:#000;height: 1.1rem;line-height: 1.1rem}
.totalSale .totalNum{color: #f75e46;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif}

/*帐号提取页面*/
.shopItem{padding: 0.3rem 0.3rem;background: #fff;height: 1.86rem}
.shopItem img{width: 1.26rem;height: 1.26rem;float: left}
.accountTitle{display: inline-block;margin-left: 0.1rem;width: 80%;height: 1.26rem;float: right}
.accountTitle .qufu{color: #888;padding-left: 0.1rem;position: relative;}
.accountTitle .qufu .date{position: absolute;right: 0}
.accountTitle .accountMsg{padding-top: 0.1rem}

.accountDetail{background: #fff;padding: 0.3rem 0.3rem;height:1rem;font-size: 0.32rem;position: relative}
.copy{width: 0.85rem;height: 0.52rem;background: #f75e46;display: inline-block;font-size: 0.22rem;color: #fff;text-align: center;line-height: 0.52rem;position: absolute;right: 0.3rem;top: 0.24rem;border-radius: 0.1rem}
.account{float: right;margin-right: 1rem}

.downloaderGame{margin: 0.58rem auto;text-align: center}
.downloader{width: 50%;height:0.82rem;display: inline-block;background: #f75e46;color: #fff;line-height: 0.82rem ;text-align: center}
.tip{margin-top: 0.3rem}

/*手游充值订单详情页*/
.imgLine{width: 100%;height: 0.08rem;background: url("../../images/coins/border-bg.png") center}

.title-tip{width: 100%;height: 1rem;padding-left: 0.3rem;text-indent: 0.2rem;display: inline-block;line-height: 1rem;position: relative;background: #fff}
.title-tip  .tip{  width: 3px;  height: 0.3rem;  background: #f65e46;  display: inline-block;  position: absolute; left: 0.3rem;  top: 0.35rem;margin: 0 }

.title-teshu{background: #fffbfa ;height: 1.3rem; line-height: 1.3rem}
.title-teshu .tip{top: 0.5rem;}
.toShop{width: 100%;height: 0.86rem;padding:0.2rem 0.3rem;background: #fff;position: relative;margin-top: 0.26rem}
.toShop .shopLogo{width: 0.46rem ;height: 0.46rem;border-radius: 0.1rem;float: left}
.toShop a{width: 100%;height: 0.86rem;display: inline-block;position: absolute;top: 0;left: 0;line-height: 0.86rem;padding-left: 0.9rem}
.toShop .to-right{width: .18rem;height:0.3rem;top: 0.28rem}

.goods-detail{width:100%;height:1.9rem;padding: 0.3rem 0.3rem;background: #fff;position: relative}
.goods-img-box{position: relative}
.goods-img-box .goods-img{width: 1.3rem;height: 1.3rem;}

.cata-shou{ z-index:1; position:absolute; top:0; left: 0.96rem; width:.33rem; height:.33rem; text-align:center; font-size:.22rem; color:#fff; background:#ef83ee; line-height:.33rem;}
.cata-dai{ z-index:1; position:absolute; top:0; left:.96rem; width:.33rem; height:.33rem; text-align:center; font-size:.22rem; color:#fff; background:#66c6fb; line-height:.33rem;}
.cata-xu{ z-index:1; position:absolute; top:0; left:.96rem; width:.33rem; height:.33rem; text-align:center; font-size:.22rem; color:#fff; background:#7dd662; line-height:.33rem;}
.cata-a{ z-index:1; position:absolute; top:0; left:.96rem; width:.33rem; height:.33rem; text-align:center; font-size:.22rem; color:#fff; background:#8fabf5; line-height:.688rem;}
.cata-jin{ z-index:1; position:absolute; top:0; left:.96rem; width:.33rem; height:.33rem; text-align:center; font-size:.22rem; color:#fff; background:#e7b955; line-height:.33rem;}

.goods-detail .goods-describe{width:73%;height:1.3rem;position: absolute;left: 1.8rem;top: 0.3rem;}
.goods-detail .goods-describe p {position: absolute}
.goods-detail .goods-describe p:first-of-type{color: #666;top: 0}
.goods-detail .goods-describe p:nth-child(2){color: #000;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;top: 0.42rem}
.goods-detail .goods-describe p:last-of-type{color: #f75e46;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;bottom: 0}

.first-span{display: inline-block;width: 24%;text-align: left;text-indent: 0}

.handle{padding: 0.25rem 0.3rem;height:1.3rem;background: #fff;position: relative}
.handle a{width:31%;height:0.8rem;display: inline-block;border: 1px solid #e8e8e8;text-align: center;line-height: 0.8rem;color: #000;font-size: 0.3rem;}
.handle a img{width: 0.5rem;height: 0.5rem;vertical-align: middle;}
.handle a.getAccount{color: #fff;background: #f75e46;}
.handle a:nth-last-child(2){margin-left: 3.5%}
.handle a:last-of-type{margin-left: 3.5%}

.lastTime{position: absolute;height: 1.3rem;line-height: 1.3rem;color: #f75e46;top: 0;right: 0.3rem}

/*申诉*/
.appeal-conn{ height:auto; display:block; overflow:hidden;}
.appeal-conn .buycon-num span.appwhy{ display:inline-block; background:url(../../images/down4.png) no-repeat right 0.5rem; height:1.1rem; padding-right:0.58rem; background-size:0.30rem;}
.appeal-conn .buycon-num span.appwhy_hov{ display:inline-block; background:url(../../images/up2.png) no-repeat right center; height:1.1rem; padding-right:0.58rem; background-size:0.30rem;}
.appealfoot{ z-index:91;}
.appeal-footer {height:auto; display:block; overflow:hidden;background-color:#fff; }
.appeal-footer ul li{ height:0.92rem; line-height:0.92rem; border-top: 1px solid #e8e8e8}






