/*07-24新加王者荣耀活动页*/
.mt-5{margin-top: 0.05rem}
.king-ad{width: 100%;max-width: 768px;height: 1.80rem;max-height: 180px;}
.king-ad img{width: 100%;height: 1.8432rem;max-width: 768px;max-height: 184px;}

.king-top-box{width: 100%;height: 3.6rem;background: url("../../images/evaulation/king/king-top-bg.jpg") no-repeat center;background-size: 100%;position: relative}

.king-top-search-box{width: 100%;height: 0.66rem;position:absolute;top: 2.05rem;}
.king-top-search{width: 4rem;height: 0.66rem;margin: 0 auto;padding: 0.08rem;background: #e4edf3;border: 1px solid #acbbc4;
    -webkit-border-radius:0.03rem;
    -moz-border-radius:0.03rem;
    border-radius:0.03rem;}

.king-top-search input{border: none;width: 3.3rem;height: 0.47rem;background: #e4edf3}
.king-top-search i.icon-search-btn{width: 0.48rem;height: 0.48rem;background: url("../../images/evaulation/king/icon-search-btn.png") no-repeat center ;background-size: 0.46rem}

@media screen and (min-width: 769px) {
    .king-top-box{width: 768px;height: 360px}
    .king-top-search-box{height: 66px;top: 205px;}
    .king-top-search{width: 400px;height: 66px;margin: 0 auto;padding: 8px;}
    .king-top-search input{width: 330px;height: 47px;font-size: 24px}
    .king-top-search i.icon-search-btn{width: 48px;height: 48px;background-size: 46px}

}

.skin-list-nav{width: 100%;height: 0.68rem;position: absolute;top: 2.92rem;left: 0; z-index: 999;background: #1b5ba9;}
@media screen and (min-width: 769px){
    .skin-list-nav{width: 100%;height: 68px;position: absolute;top: 292px;left: 0; z-index: 999;background: #1b5ba9;}
    .skin-list-nav span{font-size: 24px}
}
.skin-list-nav li.tab{width: 14.28%;height:0.68rem;text-align: center}
.skin-list-nav li.tab span{display: inline-block;width: 80%;height: 0.68rem;line-height: 0.68rem}
.skin-list-nav li.active span{border-bottom: 1px solid #97d4fb}

.skin-list-box {width: 100%;height: auto;position: relative; }
.skin-list-box .shadow{width: 100%;height: 0.2rem;position: absolute;background: url("../../images/evaulation/king/shodow-bg.png") repeat;background-size: 1px 0.2rem }
.skin-list-box li{width:50%;padding:0.2rem;padding-right:0;box-sizing:border-box;background: #e2f2ff;border-bottom: 1px solid #5980b0;border-right: 1px solid #5980b0;}
.skin-list-box li .skin-img-box img{width: 1.3rem;height: 1.3rem}
.skin-list-box li .skin-detail-box{padding-left: 0.18rem}
.skin-list-box li:nth-child(even){border-right: none}
.skin-name{height:0.4rem;line-height: 0.4rem}
.skin-other-name{height:0.4rem;line-height: 0.4rem}
.skin-price{height:0.4rem;line-height: 0.4rem;margin-top: 0.1rem}

@media screen and (min-width: 769px){
    .skin-list-nav li.tab{height:68px;}
    .skin-list-nav li.tab span{height:68px;line-height: 68px}
    .skin-list-box li .skin-img-box img{width: 130px;height: 130px}
    .skin-name{height:40px;line-height: 40px;font-size: 20px}
    .skin-other-name{height:40px;line-height: 40px;font-size: 16px}
    .skin-price{height:40px;line-height: 40px;margin-top: 10px;font-size: 16px}
}
/*王者荣耀活动首页*/
.color-fff015{color: #fff015}
.mt-180{margin-top: 1.8rem}
.index-box{width: 100%;max-width: 768px;height: 6.78rem;background: #1d65d7;position: relative}
.index-top-title img{width: 7.68rem;height: 6.02rem}
@media screen and (min-width:769px) {
    .index-box{max-width: 768px;height: 672px;}
    .index-top-title img{width: 768px;height: 602px}
}
.index-nav{width: 100%;height: 0.77rem;max-width:768px;background: url("../../images/evaulation/king/nav-bg.jpg") no-repeat center;background-size: 100% 0.77rem;z-index: 100}
.index-nav li{width: 25%;height: 0.77rem;line-height: 0.77rem;text-align: center}

.right-box{float: right;margin-right: 0.2rem;}
.left-box{float: left;margin-left: 0.4rem;}
.right-box1{float: right;margin-right: 0.3rem;}
.right-box ul li{padding-left: 0.4rem;}
.right-box ul{width: 100%;padding: 0.4rem 0.1rem 0.2rem 0.3rem ;background: url("../../images/evaulation/king/num-list-bg.png") no-repeat 0.3rem 0.4rem;background-size: 0.26rem 3.8rem}
.more-box{width: 100%;height: 0.6rem}
.more{width: 2.02rem;height: 0.6rem;line-height:0.6rem;background: url("../../images/evaulation/king/btn-bg.jpg") no-repeat center;background-size: 2rem 0.59rem;margin: 0 auto;}
.more1{width: 2.02rem;height: 0.6rem;line-height:0.6rem;background: url("../../images/evaulation/king/btn-bg01.jpg") no-repeat center;background-size: 2rem 0.59rem;margin: 0 auto;}

@media screen and (min-width:769px){
    .mt-180{margin-top: 180px}
    .index-nav{height:77px;background-size: 100% 77px}
    .index-nav li{height: 77px;line-height: 77px;font-size: 24px!important;}
    .right-box{margin-right: 20px;}
    .left-box{margin-left: 40px;}
    .right-box1{margin-right: 30px;}
    .right-box ul li{padding-left: 40px;}
    .right-box ul{padding: 40px 10px 20px 30px ;background: url("../../images/evaulation/king/num-list-bg.png") no-repeat 30px 40px;background-size: 26px 380px}
    .more-box{height: 60px}
    .more{width: 202px;height: 60px;line-height:60px;background-size: 200px 59px;font-size: 24px}
    .more1{width: 202px;height: 60px;line-height:60px;background-size: 200px 59px;margin: 0 auto;font-size: 24px}
}

/*精品帐号*/
.jpzh{width: 100%;height:7.11rem;background: url("../../images/evaulation/king/king-index-bg02.jpg") no-repeat center;background-size:100%}
.jpzh .right-box{width: 4.46rem;margin-top: 0.9rem;margin-right: 0.3rem}
.jpzh .right-box ul li{height: 0.84rem}
.jpzh .right-box ul li i.icon-buy-btn{display: inline-block;width: 1.16rem;height: 0.38rem;background: url("../../images/evaulation/king/buy-btn-bg01.png") no-repeat center;background-size: 1.14rem 0.36rem}
.jpzh .right-box ul li p.buy-p{height: 0.38rem;line-height: 0.38rem}
@media screen and (min-width:769px){
    .jpzh{width: 100%;height:700px;}
    .jpzh .right-box{width: 446px;margin-top: 80px}
    .jpzh .right-box ul li{height: 84px}
    .jpzh .right-box ul li i.icon-buy-btn{width: 116px;height: 38px;background-size: 114px 36px}
    .jpzh .right-box ul li p{font-size: 30px}
    .jpzh .right-box ul li p.buy-p{height: 38px;line-height: 38px;font-size: 26px}
}
/*立即估价*/
.zhgj{width: 100%;height: 3.75rem;background: url("../../images/evaulation/king/king-index-bg03.jpg") no-repeat center;background-size: 100%;position: relative}
.zhgj .more-box{position: absolute;bottom: 1rem}
@media screen and (min-width:769px){
    .zhgj{height: 375px;}
    .zhgj .more-box{bottom: 100px}
}
/*转移号*/
.zyh{width: 100%;height: 6.86rem;background: url("../../images/evaulation/king/king-index-bg04.jpg") no-repeat center; background-size: 100%}
.zyh .right-box{width: 4.8rem;margin-top: 0.5rem}
.zyh .right-box ul li{padding-left: 0.42rem;height: 0.84rem;}
.zyh .right-box ul li p{line-height: 0.3rem}
.zyh .right-box ul li p span.span-price{display: inline-block;border-bottom: 1px solid #fff015;margin-right: 0.2rem}
@media screen and (min-width:769px){
    .zyh{height: 686px;}
    .zyh .right-box{width: 480px;margin-top: 50px}
    .zyh .right-box ul li{padding-left: 42px;height: 84px;}
    .zyh .right-box ul li p{line-height: 30px;font-size: 24px}
    .zyh .right-box ul li p span.span-price{margin-right: 20px}
}
/*金币小号*/
.jbxh{width: 100%;height: 5.22rem;background: url("../../images/evaulation/king/king-index-bg05.jpg") no-repeat center;background-size: 100%}
.jbxh .right-box1{width: 4.7rem;margin-top: 0.66rem;}
.jbxh .right-box1 ul{padding: 0 0.2rem}
.jbxh .right-box1 ul li{width: 50%;height:1.52rem;box-sizing: border-box;margin-top:0.25rem;position: relative}
.jbxh .right-box1 ul li .jinbi-img{width: 1.73rem;height: 1.12rem;position:absolute;left:50%;margin-left:-0.865rem;background: url("../../images/evaulation/king/jinbi-img.png") no-repeat center;background-size: 100%}
.jbxh .right-box1 ul li p{line-height: 0.4rem;height: 0.4rem;margin-top: 1.12rem;overflow: hidden;white-space: nowrap;text-overflow: clip}

.jbxh .right-box1 ul li .jinbi-img .jinbi-icon{width: 100%;height: 0.46rem;line-height: 0.46rem;}
.jbxh .right-box1 ul li .jinbi-img .jinbi-icon span{padding-left:0.46rem;display:inline-block;}
.jinbi-coin{background: url("../../images/evaulation/king/jinbi-icon01.png") no-repeat left;background-size:0.4rem}
.jinbi-zuans{background: url("../../images/evaulation/king/jinbi-icon02.png") no-repeat left;background-size:0.42rem 0.34rem}

@media screen and (min-width:769px){
    .jbxh{height: 522px;}
    .jbxh .right-box1{width: 470px;margin-top: 66px;}
    .jbxh .right-box1 ul{padding: 0 20px}
    .jbxh .right-box1 ul li{width: 50%;height:152px;margin-top: 25px;}
    .jbxh .right-box1 ul li .jinbi-img{width: 173px;height: 112px;margin-left:-86.5px;}
    .jbxh .right-box1 ul li p{line-height: 40px;height: 40px;margin-top: 112px;font-size: 24px}
    .jbxh .right-box1 ul li .jinbi-img .jinbi-icon{height: 50px;line-height: 50px;}
    .jbxh .right-box1 ul li .jinbi-img .jinbi-icon span{padding-left:56px;}
    .jinbi-coin{background-size:40px}
    .jinbi-zuans{background-size:42px 34px}
}
/*点券*/
.dianquan{width: 100%;height: 6.82rem;background: url("../../images/evaulation/king/king-index-bg06.jpg") no-repeat center;background-size: 100%;}
.dianquan .left-box{width: 4.8rem;margin-top: 0.72rem;margin-left: 0.3rem}
.dianquan .left-box ul{width:100%;padding: 0.25rem 0.25rem 0.2rem 0.25rem}
.dianquan .left-box ul li{width: 50%;height:2.2rem;padding: 0.1rem 0;position: relative;}

.dianquan-box{width: 1.36rem;height: 1.32rem;position: absolute;left: 50%;top:0.1rem;margin-left: -0.68rem;background: url("../../images/evaulation/king/dianquan.jpg") no-repeat center;background-size: 1.36rem 1.32rem }
.dianquan-box p{height: 0.24rem;line-height: 0.24rem}
.del-price{margin-top: 1.37rem;}

@media screen and (max-width:320px){
    .dianquan .left-box ul{width:100%;padding: 0.25rem 0 0.2rem 0}
}
@media screen and (max-width:414px){
    .dianquan-box p{height: 0.28rem!important;line-height: 0.28rem!important;}
}
@media screen and (min-width:769px){
    .dianquan{height: 682px;}
    .dianquan .left-box{width: 480px;margin-top: 72px;margin-left: 30px}
    .dianquan .left-box ul{padding: 25px 25px 20px 25px}
    .dianquan .left-box ul li{height:220px;padding: 10px 0}
    .dianquan-box{width: 136px;height: 132px;margin-left: -68px;background-size: 136px 132px}
    .del-price{margin-top: 137px;}
    .dianquan-box{width: 136px;height: 132px;top:10px;margin-left: -68px;background-size: 136px 132px }
    .dianquan-box p{height: 24px;line-height: 24px}
    .del-price{margin-top: 137px;}
    .mt-5{margin-top: 5px}
    .pfgm .right-box1 p{font-size: 20px!important;}
    .dianquan .left-box p{font-size: 20px!important;}
    .dianquan .left-box p del{font-size: 16px!important;}
    .csdl .left-box a{font-size: 20px!important;}
    .more-zuhe{font-size: 20px!important;}
}
/*皮肤购买*/
.pfgm{width: 100%;height: 5.86rem;background: url("../../images/evaulation/king/king-index-bg07.jpg") no-repeat center;background-size: 100%}
.pfgm .right-box1{width: 4.72rem;margin-top: 0;margin-right: 0}
.pfgm .right-box1 ul{padding: 0.3rem 0.1rem 0.3rem 0.1rem}
.pfgm .right-box1 ul li{width: 33.3%;margin-top: 0.2rem}
.pfgm .right-box1 ul li img{width: 1.23rem;height: 1.23rem}

.icon-discount{width: 0.6rem;height: 0.6rem;display: inline-block;position: absolute;top: 0;left: 0.138rem}
.icon-discount01{background: url("../../images/evaulation/king/discount01.png") no-repeat center;background-size: 0.6rem}
.icon-discount02{background: url("../../images/evaulation/king/discount02.png") no-repeat center;background-size: 0.6rem}
.icon-discount03{background: url("../../images/evaulation/king/discount03.png") no-repeat center;background-size: 0.6rem}
.icon-discount04{background: url("../../images/evaulation/king/discount04.png") no-repeat center;background-size: 0.6rem}
.icon-discount05{background: url("../../images/evaulation/king/discount05.png") no-repeat center;background-size: 0.6rem}
.icon-discount06{background: url("../../images/evaulation/king/discount06.png") no-repeat center;background-size: 0.6rem}
.icon-discount07{background: url("../../images/evaulation/king/discount07.png") no-repeat center;background-size: 0.6rem}
.icon-discount08{background: url("../../images/evaulation/king/discount08.png") no-repeat center;background-size: 0.6rem}
.icon-discount09{background: url("../../images/evaulation/king/discount09.png") no-repeat center;background-size: 0.6rem}



@media screen and (min-width:769px){
    .pfgm{height: 586px;}
    .pfgm .right-box1{width: 472px;margin-top: 0;margin-right: 0}
    .pfgm .right-box1 ul{padding: 30px 10px 30px 10px}
    .pfgm .right-box1 ul li{width: 33.3%;margin-top: 20px}
    .pfgm .right-box1 ul li img{width: 123px;height: 123px}
    .icon-discount{width: 60px;height: 60px;display: inline-block;left: 13.8px}
    .icon-discount01{background: url("../../images/evaulation/king/discount01.png") no-repeat center;background-size: 60px}
    .icon-discount02{background: url("../../images/evaulation/king/discount02.png") no-repeat center;background-size: 60px}
    .icon-discount03{background: url("../../images/evaulation/king/discount03.png") no-repeat center;background-size: 60px}
    .icon-discount04{background: url("../../images/evaulation/king/discount04.png") no-repeat center;background-size: 60px}
    .icon-discount05{background: url("../../images/evaulation/king/discount05.png") no-repeat center;background-size: 60px}
    .icon-discount06{background: url("../../images/evaulation/king/discount06.png") no-repeat center;background-size: 60px}
    .icon-discount07{background: url("../../images/evaulation/king/discount07.png") no-repeat center;background-size: 60px}
    .icon-discount08{background: url("../../images/evaulation/king/discount08.png") no-repeat center;background-size: 60px}
    .icon-discount09{background: url("../../images/evaulation/king/discount09.png") no-repeat center;background-size: 60px}
}
/*超神代练*/
.color-1cb1d6{color:#1cb1d6}
.csdl{width: 100%;height: 6.08rem;background: url("../../images/evaulation/king/king-index-bg08.jpg") no-repeat center;background-size: 100%}
.csdl .left-box{width: 3.1rem;margin-top: 1.14rem;margin-right: 0;margin-left: 0.6rem}
.csdl .left-box ul{padding: 0.5rem 0.35rem 0 0.35rem}
.csdl .left-box ul li{height: 0.48rem;line-height: 0.48rem;border: 1px solid #1cb1d6;border-radius: 0.48rem}
@media screen and (min-width:769px){
    .csdl{height: 607px;}
    .csdl .left-box{width: 310px;margin-top: 114px;margin-right: 0;margin-left: 60px}
    .csdl .left-box ul{padding: 50px 35px 0 35px}
    .csdl .left-box ul li{height: 48px;line-height: 44px;border: 1px solid #1cb1d6;border-radius: 48px}
}
/*底部*/
.footer-nav{width: 100%;height: 2.6rem;background: url("../../images/evaulation/king/king-index-bg09.jpg") no-repeat center;background-size: 100%}
.footer-nav ul li{height: 2.6rem;background: url("../../images/evaulation/king/btn-bg02.jpg") no-repeat center;background-size: 2.0rem 0.6rem;text-align: center}
.footer-nav ul li a{display: inline-block;width: 2rem;height: 0.6rem;line-height: 0.6rem;margin-top: 1rem}
.footer-nav ul li.to-index{width: 36.5%;border: none}
.footer-nav ul li.to-seller{width: 36.5%}
.footer-nav ul li.to-buy{width: 27%}

@media screen and (min-width:769px){
    .footer-nav{height: 260px;}
    .footer-nav ul li{height: 260px;background-size: 200px 60px;}
    .footer-nav ul li a{width: 200px;height: 60px;line-height: 60px;margin-top: 100px}
}

/*客服按钮*/
.fixed-kf{width: 0.9rem;height: 0.9rem;background: #000;opacity: 0.5;background-image: url("../../images/evaulation/king/xiaoneng-kf.png");background-repeat: no-repeat;background-position: center;background-size: 0.58rem;border-radius: 0.12rem;position: fixed;right: 0;bottom: 2rem}

/*选择游戏版本*/
.king-bomb-box{width: 100%;max-width: 768px;height: 4.53rem;background: url("../../images/evaulation/king/bomb-bg.png") no-repeat center;background-size: 100%;position: fixed;top:50%;;margin-top:-2.5rem;z-index: 999}
.select-ios{width: 4.75rem;height: 2.4rem;margin: 0 auto;border-radius: 0.12rem;margin-top: 1.7rem;padding: 0 0.4rem}
.select-ios h3{height: 1.6rem;line-height: 1.6rem;position: relative}
.select-ios h3 i.close{width: 0.6rem;height: 0.6rem;display: inline-block;background: url("../../images/evaulation/king/close.png") no-repeat right;background-size: 0.2rem;position: absolute;top: 0;right: 0}
.select-ios a{display: inline-block;width:46%;height: 0.5rem;line-height: 0.48rem; border-radius: 0.5rem}
.select-ios a.ios{background: #1b5ba9;margin-right: 8%}
.select-ios a.android{border: 1px solid #1b5ba9;  color: #1b5ba9;line-height: 0.46rem}

@media screen and (min-width: 769px){
    .fixed-kf{width: 90px;height: 90px;background-size: 58px;border-radius: 0.12rem;position: fixed;right: 0;bottom: 200px}
    .king-bomb-box{width: 100%;max-width: 768px;height: 453px;margin-top:-250px;z-index: 999}
    .select-ios{width: 475px;height: 240px;margin-top: 170px;padding: 0 40px}
    .select-ios h3{height: 160px;line-height: 160px;}
    .select-ios h3 i.close{width: 22px;height: 60px;background-size: 20px;}
    .select-ios a{height: 50px;line-height: 48px; border-radius: 50px}
    .select-ios a.android{line-height: 46px}
}
/*修改07-31*/
p.word-p{line-height: 0.3rem}

.jpzh{position: relative}
.jpzh .jpzh-word{width: 2.8rem; position: absolute;left:0;bottom: 0.512rem}

.zyh{position: relative}
.zyh .zyh-word{width: 2.6rem;position: absolute;left:0;bottom: 0.8rem}

.jbxh{position: relative}
.jbxh .jbxh-word{width: 2.8rem;position: absolute;left:0;bottom: 0.3rem}

.dianquan{position: relative}
.dianquan .dq-word{width: 2.4rem;position: absolute;right:0;bottom: 1.2rem}

.pfgm{position: relative}
.pfgm .pfgm-word{width: 2.4rem;position: absolute;left: 0;bottom: 0.2rem}

.csdl{position: relative}
.csdl .csdl-word{width: 2.3rem;position: absolute;right: 1.2rem;bottom: 0.4rem}

@media screen and (max-width: 360px){
    .jpzh .jpzh-word{width:3.2rem;bottom: 0.6rem}
    .zyh .zyh-word{width:2.8rem;bottom: 0.9rem}
    .dianquan .dq-word{bottom: 1rem}
    .pfgm .pfgm-word{width:2.6rem;}
}
@media screen and (min-width: 412px) {
    .jbxh .jbxh-word{bottom: 0.6rem}
}
@media screen and (min-width: 769px){
    .pl-30{padding-left: 30px!important;}
    .pl-10{padding-left: 10px!important;}
    .pr-10{padding-right: 10px!important;}
    p.word-p{line-height: 30px;font-size: 22px;}
    .jpzh .jpzh-word{width: 280px; bottom: 52px;}
    .zyh .zyh-word{width: 260px;bottom: 90px}
    .jbxh .jbxh-word{width: 280px;bottom: 60px}
    .dianquan .dq-word{width: 240px;bottom: 120px}
    .pfgm .pfgm-word{width: 240px;bottom: 20px}
    .csdl .csdl-word{width: 230px;right: 120px;bottom: 40px}
    .mb-20{margin-bottom: 20px!important;}
}
.color-705d23{color: #705d23}


@media screen and (max-width: 320px){
    .skin-list-box li{ padding:0.2rem;padding-right: 0}
    .skin-list-box li .skin-img-box img{width: 1.1rem;height: 1.1rem}
    .skin-name{height:0.36rem;line-height: 0.36rem}
    .skin-other-name{height:0.36rem;line-height: 0.36rem}
    .skin-price{margin-top: 0}
}


.pfgm .right-box1 p{overflow: hidden;white-space: nowrap;text-overflow: clip}
.dianquan .left-box p{overflow: hidden;white-space: nowrap;text-overflow: clip}