.top-header{float:left; width:100%; max-width:768px;  position: relative; background-color:#f6f6f6; line-height:2rem; z-index:50;}
.top-header .top-bt{max-width:80%; margin-left:auto; margin-right:auto;  box-sizing:border-box; height:1rem; line-height:1rem;  font-size:.36rem; color:#333; text-align:center; white-space:nowrap ; overflow:hidden;}
.withdrawal .list-left5{ float:left; width:100%; line-height:.6rem; padding:.48rem 0; text-align:center; }
.withdrawal .list-left5 span{ color:#f75e46; padding:0 10px; }

.withdrawal .list-left3{ float:left; width:65%; font-size:0px; letter-spacing: normal;word-spacing: normal;  color:#000;  line-height:60px; }
.withdrawal .list-left3 span{ float:left; font-size:30px; padding-right:20px;  }
.withdrawal .list-left3 input{ float:left; width:60%; font-size:30px; color:#000; height:60px; line-height:60px; }
.withdrawal .list-right3{ float:right; width:35%; font-size:28px; color:#000; line-height:60px; height:60px; text-align:right; }
.withdrawal .list-right3 span{ display:inline-block; width:100px; text-align:center; color:#f75e46; border:1px solid #f75e46;  line-height:40px; font-size: 16px; vertical-align: top; margin-top: 10px;}
.withdrawal .list-right3 .countdown{  color:#000; border:1px solid #ccc; background:#fff; }
.top-header .top-bt{
    font-size: .36rem
}