@charset "utf-8";
/* CSS Document */
.mstfiv{position: fixed;left: 0;top: 0;right: 0;bottom: 0;background: #000;filter: alpha(opacity=50);opacity: .5;}

/*装备列表*/
.equipment-nav{ height:auto; display:block; }
.equipment-nav .gmnav-mle{height:auto; display:block; overflow:hidden; position:relative; padding-left: 0.15rem;}
.equipment-nav .gmnav-mle .navdemo{ float:left; width:25%; height:0.95rem; text-align:center;}
.equipment-nav .gmnav-mle .active span{ color:#f75e46;}
.equipment-nav .navdemo span{ display:inline-block; height:0.95rem; line-height:0.95rem; padding-right:0.33rem;}
.equipment-nav .navdemo span.mold{ background:url(../../images/Icon/mold-md.png) no-repeat right 0.4rem; background-size:0.24rem 0.24rem;}
.equipment-nav .gmnav-mle .active span.mold{background:url(../../images/Icon/mold-md-hov.png) no-repeat right  0.4rem; background-size:0.24rem 0.24rem;}
.equipment-nav .navdemo span.server{ background:url(../../images/Icon/mold-sv.png) no-repeat right  0.44rem; background-size:0.22rem 0.13rem;}
.equipment-nav .gmnav-mle .active span.server{ background:url(../../images/Icon/mold-sv-hov.png) no-repeat right  0.44rem; background-size:0.22rem 0.13rem;}
.equipment-nav .navdemo span.price{ background:url(../../images/Icon/mold-pr.png) no-repeat right  0.4rem; background-size:0.17rem 0.25rem;}
.equipment-nav .gmnav-mle .active span.price{ background:url(../../images/Icon/mold-pr-hov.png) no-repeat right  0.4rem; background-size:0.17rem 0.25rem; color:#666;}

.equipment-nav .navdemo span.sortin{ background:url(../../images/Icon/mold-px.png) no-repeat right 0.4rem; background-size:0.23rem 0.25rem;}
.equipment-nav .gmnav-mle .active span.sortin{background:url(../../images/Icon/mold-px-hov.png) no-repeat right 0.4rem; background-size:0.23rem 0.25rem;}
.equipment-nav .navdemo span.screen{ background:url(../../images/Icon/mold-se.png) no-repeat right 0.4rem; background-size:0.24rem 0.25rem;}
.equipment-nav .gmnav-mle .active span.screen{ background:url(../../images/Icon/mold-se-hov.png) no-repeat right 0.4rem; background-size:0.24rem 0.25rem;}


.equipment-nav .gmnav-list{ position:absolute; top:0.96rem; left:0; width:100%; background:#fbfbfb; z-index:999}
.equipment-nav .gmnav-list .gmvst-mold ul li{ height:0.98rem; line-height:0.98rem;}
.equipment-nav .gmnav-list .gmvst-mold ul li.active span{ display:block; background:url(../../images/recharge/choice-ico.png) no-repeat right center; height:0.98rem; background-size:0.31rem 0.23rem; color:#f75e46;}

/*装备页面为空*/
.tab-empty{ height:auto;  overflow:hidden;}
.empty-conn{ height:auto;  overflow:hidden;}
.empty-conn .emp-img{ width:1.79rem; height:1.35rem; margin:0.76rem auto 0.1rem;}
.empty-conn .list-img{ width:4.07rem; height:1.41rem; margin:0.36rem auto 0.2rem;}
.empty-conn img{ width:100%; height:100%;}
.empty-conn .emp-text{ height:0.45rem; line-height:0.45rem;}
.empty-conn .emp-ware{color:#999999; height:0.45rem; border-top:1px solid #999999; margin-top:0.8rem;}
.empty-conn .emp-ware span{ display:block; width:60%; height:0.45rem; line-height:0.45rem; margin:0 auto; text-align:center; margin-top:-0.3rem;}


/*装备页面区服*/
.gmvst-profile{ position:absolute; top:0rem; left:0; width:100%; background:#fbfbfb;}
.gmvst-server{ width:40%; height:auto; display:block; z-index:10; position:relative;}
.gmvst-server ul li{ height:1.1rem; line-height:1.1rem;}
.gmvst-server ul li.curren{ background-color:#fff;}
.gmvst-server ul li.curren a{display:block; width:101%; height: 1.09rem; background-color:#fff;}
.gmvst-server ul li span{ display:block; height: 1.09rem; }
.gmvst-server ul li.curren span{ display:block;color:#f75e46;}


.gmvst-area{  display:block; overflow:hidden; overflow-x:scroll; width:60%; height:9.87rem; background:#fff url(../../images/Icon/gmvst-profile-bj.png) repeat-y left top; position:relative;}
.gmvst-area .gmvst-server{position:absolute; top:0; left:0; width:100%;}
.gmvst-area ul{ margin-top:0.92rem; height: 9.5rem; overflow-y: auto;}
.gmvst-area ul li{ height:1.1rem; line-height:1.1rem; padding-right: 0.3rem; }
.gmvst-area ul li.active span{ display:block; background:url(../../images/recharge/choice-ico.png) no-repeat right center; height:1.1rem; background-size:0.31rem 0.23rem; color:#f75e46;}


.gvst-seach{ height:auto; display:block; overflow:hidden;border-radius:0.1rem; position:relative; }
.gvst-seach .server-input{ width:100%; height:auto; line-height:0.38rem; outline: none; border:none; background:url(../../images/Icon/seach-ico.png) no-repeat left center; background-size:0.25rem; padding-left:0.45rem; }
.gvst-seach .login-del{ position:absolute; height:0.7rem; top:0; right:0.1rem; width:0.3rem;}
.gvst-seach .login-del .del{ display:block; background:url(../../images/del.png) no-repeat right center; width:0.3rem; height:0.7rem; background-size:0.3rem;}
/*搜索游戏*/
.equipment-seach{ height:auto; display:block; overflow:hidden;position: relative;   padding: .16rem 0; background: #c9c9ce;}
.container-ms{text-align: center;}
.container-ms .container-inp { display: block; height:.62rem; line-height:.62rem; border-radius: .1rem;}
.container-ms span{display: inline-block; padding-left: .45rem; background:url(../../images/search4.png) no-repeat 0; background-size: .33rem; }

.equipment-conn{ height:auto; display:block; overflow:hidden;}
.equipment-list{height:auto; overflow:hidden;}
.equipment-list .listware {  height:auto; display:block; overflow:hidden; position: relative;}

.equipment-list .listware .mbgmes-img{ width:1.5rem; overflow:hidden; position:relative; height:1.5rem; line-height:1.5rem; background:#f1f1f1;}
.equipment-list .listware .mbgmes-img img{ height: 1.5rem;vertical-align: top;}

.mbgmes-con{float: right; width: 4.6rem; min-width: 78%;box-sizing: border-box; padding-left: .2rem; font-size: .26rem;  overflow: hidden; line-height: .4rem;}
.mbgmes-con .mbl-title{ overflow:hidden; line-height:0.43rem;}
.mbgmes-con .mbl-cper{ height:auto; display:block; overflow:hidden; }
.mbgmes-con .mbl-cper .mbl-money{ height:0.58rem; line-height:0.58rem; }
.mbgmes-con .mbl-cper .mbl-icon{height:0.58rem;}
.mbgmes-con .mbl-cper .mbl-icon i{ display:inline-block; float:left; width:0.45rem; height:0.58rem;}
.mbgmes-con .mbl-cper .mbl-icon i.ji{ background:url(../../images/Icon/equ-ji.png) no-repeat right center; background-size:0.32rem;}
.mbgmes-con .mbl-cper .mbl-icon i.tou{background:url(../../images/Icon/equ-tou.png) no-repeat right center; background-size:0.32rem;}
.mbgmes-con .mbl-cper .mbl-icon i.ktou{background:url(../../images/Icon/icon-ktb.png) no-repeat right center; background-size:0.32rem;}
.mbgmes-con .mbl-cper .mbl-icon i.pei{background:url(../../images/Icon/equ-pei.png) no-repeat right center; background-size:0.32rem;}
.mbgmes-con .mbl-cper .mbl-icon i.an{background:url(../../images/Icon/equ-an.png) no-repeat right center; background-size:0.32rem;}
.mbgmes-con .mbl-cper .mbl-icon i.an-seller{background:url(../../images/Icon/icon-axm-seller.png) no-repeat right center; background-size:0.32rem;}
.mbgmes-con .mbl-cper .mbl-icon i.shi{background:url(../../images/Icon/equ-shi.png) no-repeat right center; background-size:0.32rem;}
.mbgmes-con .mbl-cper .mbl-icon i.bao{background:url(../../images/Icon/equ-bao.png) no-repeat right center; background-size:0.32rem;}

.mbl-parea span{ display:inline-block;}


/*筛选*/
.screen-titl{ height:1.1rem; line-height:1.1rem;}
.screen-price { height:auto; display:block; overflow:hidden;}
.screen-price .price-input{ height:0.73rem; line-height:0.43rem; padding:0.15rem 0; width:43%; background:#fafafa; text-align:center; color:#000;}
.screen-price span.hern{ display:inline-block; width:14%; height:0.73rem; background:url(../../images/Icon/and-ico.png) no-repeat center center; background-size:0.16rem 0.04rem;}
.price-list{ height:auto; display:block; overflow:hidden;}
.price-type{ height:auto; display:block; overflow:hidden;}
.price-type ul li{ height:0.99rem; width:30%; margin-right:3%}
.price-type ul li span{ display:block; line-height:0.99rem; text-align:center;}
.price-type ul li.active span{ border-color:#f75e46; color:#f75e46;}
.price-type ul li.state span{ border-color:#f75e46; color:#f75e46; background:url(../../images/Icon/choose-ico.png) no-repeat right bottom; background-size:0.36rem;}

.prty-btn{width:100%; height:auto; display:block; overflow:hidden;}
.prty-btn .prty-more{  height:0.28rem; background:url(../../images/Icon/prty-more-ico.png) no-repeat center center; background-size:0.28rem; display:block;}
.prty-btn .prty-more-hov{height:0.28rem; background:url(../../images/Icon/prty-more-ico-hov.png) no-repeat center center; background-size:0.28rem; display:block;}


.goodslist-btn{  height:auto; display:block; overflow:hidden;}
.goodslist-btn .options{height:.92rem; line-height: .92rem; background-color:#f6f6f6; width:32%;}
.goodslist-btn .purchase{height:.92rem; line-height: .92rem; display: block; width:63%;}
.goodslist-btn .total{height:.92rem; line-height: .92rem;}
.goodslist-btn .suborder{height:.92rem; line-height: .92rem;display: block; width:57%;}


/*搜索装备*/
.header{line-height:.76rem; padding-top:0.16rem; padding-bottom:0.16rem; width: 100%; background-color:#fafafa;}
.eqmt-seach{ height:auto; display:block; overflow:hidden;}
.eqmt-seach .eqmt-input{height:auto; display:block; overflow:hidden; position:relative; width:83%;}
.eqmt-seach .eqmt-input .sch-input{ height: .76rem; line-height: .76rem; outline: none;  border: none;background:#e7e8ea url(../../images/Icon/seach-ico.png) no-repeat 3% center; background-size:0.29rem;    padding-left: 0.66rem; width: 100%; vertical-align:inherit;}
.eqmt-seach a.cancel-btn{ height:0.76rem; padding-right:0.3rem; display:inline-block; width:16%; text-align:right;}
.header .header-l-ico{ line-height: 0.76rem; width: 0.6rem; position: absolute; right: 0; top: 0; text-align: center;}
.header .header-l-ico i.del{ width:.3rem; height:0.76rem; background:url(../../images/del.png) no-repeat right center;background-size:0.3rem; display:block;}

.history-conn{ height:auto; display:block; overflow:hidden;}
.history-conn .history-titl{ height:1.1rem; line-height:1.1rem;}
.history-conn .history-titl i.del-icon{height: 1.1rem; width: .3rem; background:url(../../images/del.png) no-repeat right center; background-size:0.3rem;}
.history-conn .history-record{ line-height:1.1rem; height:1.1rem;}
.history-conn .history-record i.record-ico{ display:block; width:0.17rem; height:1.1rem; background:url(../../images/right.png) no-repeat right center; background-size:0.17rem 0.29rem;}

/*装备详情*/
.goodslist{ height:auto; display:block; overflow:hidden;}
.detail-main{height:auto; display:block; overflow:hidden; position:relative;}

.swiper-container{ position:relative; width:100%}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom:.6rem;}
.swiper-container .swiper-pagination{ font-size:.3rem;  margin-right:.32rem; width:1rem; background:#333; right:0; opacity:.9; left:auto; border-radius:.06rem; color:#fff; line-height:0.54rem; bottom: .3rem;}
.swiper-container .swiper-tip{position: absolute;bottom: 0;background: rgba(0,0,0,0.6);width: 100%;height: 0.6rem;line-height: 0.6rem}
.swiper-container img{max-height: 100%;max-width: 100%;display: inline;}

.detail-content .detail-pic{}
.detail-content .detail-pic div{ float:left; margin:0 !important; width:100%; height: 5.8rem; overflow:Hidden; text-align:center;  }
.detail-content .detail-pic a{ vertical-align:middle; width:100%; line-height: 10rem; }
.detail-content .detail-pic img{ max-width:100%; max-height:100%; height: 5rem;margin-top: -5.1rem; }
.detail-content .detail-bt{ height:auto; display:block; overflow:hidden;}
.detail-content .detail-bt .detail-left{ width:84%; box-sizing:border-box; height:auto; display:block; overflow:hidden; padding: 0;}
.detail-content .detail-bt .detail-left p{line-height: .49rem;}
.detail-content .detail-bt .detail-left em{ display:block;}

.detail-content .detail-bt .detail-right{width: .7rem;height: .86rem;background: url(../../images/Icon/share_02.png) top no-repeat ;background-size: .39rem;line-height: 1.3rem;}
.detail-content .detail-price{ float:left; width:100%; box-sizing:border-box; line-height:.41rem; padding:.0rem .2rem .2rem .2rem; font-size:.36rem; color:#f75e46; text-align:left;}
.detail-content .detail-price span{ padding-left:0 ; line-height:.41em; font-size:.3rem;  color:#f75e46; }

.detail-tutorial{ height:auto; display:block; overflow:hidden;}

.detail-tutorial .hrgames-cfi{ height:0.8rem !important; line-height:0.8rem !important;}
.detail-tutorial .hrgames-cfi i{ height: 0.8rem;}
.hrgames-cfi{ height:0.6rem; line-height:0.6rem; overflow:hidden;}
.hrgames-cfi i{height:0.6rem; padding-left:0.4rem; }
.hrgames-cfi i.firm{ background:url(../../images/Icon/firm-ico.png) no-repeat left center; background-size:0.28rem;}
.detail-tutorial .sharembgs{height:0.8rem; background:url(../../images/Icon/mbgames-ico.png) no-repeat right center; width:0.6rem; float:right; background-size:0.4rem;}


.mbgame-iftion{ height:1rem; }
.mbgame-iftion .iftdemo{ width:50%; height:1rem; line-height:1rem;}
.mbgame-iftion .iftdemo a{ display:block; }
.mbgame-iftion .iftdemo:first-child a.active{border-right:1px solid #e8e8e8; border-left:none;}
.mbgame-iftion .iftdemo a.active{ background-color:#fff;height:1.02rem;border-left:1px solid #e8e8e8; color:#f75e46;}

.rechseach-titl {height: auto; display:block; overflow:hidden;}
.rechseach-titl span{display: inline-block;width: 2.35rem;text-align: center; white-space:nowrap; overflow:hidden; line-height: 1.1rem;}
.rechseach-titl .sto_rent{ height:1rem; line-height:1rem; color:#666;}
.rechseach-titl .sto_rerg{height:1rem; line-height:1rem; width:70%;}
.rechseach-titl .sto-height{ line-height:0.48rem; margin:0.28rem 0; height:auto;}


.explain-coner{ height:auto; display:block; overflow:hidden; padding:0.56rem 0.44rem 0.1rem;}
.explain-coner .excon-titl{background:url(../../images/Icon/excon-titl-bj.png) repeat-y 0.17rem 0;  height:auto; display:block; overflow:hidden; line-height:0.32rem;}
.explain-coner .excon-titl span{ display: block; width: 91%;}
.explain-coner .excon-hihg{ min-height:1.06rem; line-height:0.38rem;}

.explain-coner i{ display:block; width:0.35rem; height:0.35rem; text-indent:-999rem;}
.explain-coner i.none{ background-color:#fff;}
.explain-coner i.one{ background:#fff url(../../images/Icon/excon-one.png) no-repeat center top; background-size:100%;}
.explain-coner i.two{ background:#fff url(../../images/Icon/excon-two.png) no-repeat center top; background-size:100%}
.explain-coner i.three{ background:#fff url(../../images/Icon/excon-three.png) no-repeat center top; background-size:100%;}
.explain-coner i.four{ background:#fff url(../../images/Icon/excon-four.png) no-repeat center top; background-size:100%;}
.explain-coner i.five{ background:#fff url(../../images/Icon/excon-five.png) no-repeat center top ;background-size:100%;}

.guess-titl{ height:0.8rem; line-height:0.8rem;}
.guess-more{ height:auto; line-height:1rem;}
.guess-more span{ background:url(../../images/Icon/mbmore-ico.png) no-repeat right center; padding-right:0.36rem; background-size:0.23rem;}

.search-game .sgame{position: relative; padding:.15rem .3rem; height:1rem;  }
.search-game .sgame span{float:left; width:50%; height: 0.7rem;line-height: 0.7rem; background: url("../../images/curent.jpg") no-repeat left center; white-space:nowrap; border: none; margin-top: 0; background-size:0.06rem; padding-left: .2rem;}
.search-game .sgame .text-input{float:left; height:.88rem; width:50%; padding-left:.96rem;  border:1px solid #e8e8e8; border-radius:0;  line-height:.5rem; color:#bbb; background:url(../../images/search4.png) .3rem center no-repeat #fff; background-size:.33rem }
.search-game ul li{ line-height:0.47rem; padding:0.25rem 0; height:auto; display:block; overflow:hidden;}
.search-game ul li i.sgm-ico{ display:block; width:0.08rem; height:0.47rem; background:url(../../images/Icon/sgamels-ico.png) no-repeat left center; background-size:0.08rem;}
.search-game ul li em{ display:block; width:96%; height:auto; margin-left:0.27rem;}

.goodslist-btn .subuy{height:.92rem; line-height: .92rem;display: block; width:57%;}

.sv-guarantee{ height:auto; display:block; overflow:hidden;}
.sv-guarantee .scgtee-titl{ height:1rem; line-height:1rem; text-align:center; position:relative;}
.sv-guarantee .scgtee-titl a.close{ display:block; background:url(../../images/Icon/close-img.png) no-repeat left center; height:1rem; position:absolute; top:0; right:0; width:0.21rem; background-size:0.21rem;}
.sv-guarantee .scgtee-demo{ padding-top:0.35rem; padding-bottom:0.24rem; height:auto; display:block; overflow:hidden;}
.sv-guarantee .scgtee-demo .sgde-lf{ width:0.52rem; height:0.34rem;}
.sv-guarantee .scgtee-demo .sgde-lf i{ display:block; width:0.52rem; height:0.34rem;}
.sv-guarantee .scgtee-demo .sgde-lf i.an{ background:url(../../images/Icon/mbl-an.png) no-repeat left center; background-size:0.32rem;}
.sv-guarantee .scgtee-demo .sgde-lf i.an-seller{ background:url(../../images/Icon/icon-axm-seller.png) no-repeat left center; background-size:0.32rem;}
.sv-guarantee .scgtee-demo .sgde-lf i.shou{background:url(../../images/Icon/mbl-shou.png) no-repeat left center; background-size:0.32rem;}
.sv-guarantee .scgtee-demo .sgde-lf i.tu{background:url(../../images/Icon/mbl-tu.png) no-repeat left center; background-size:0.32rem;}

.sv-guarantee .scgtee-demo .sgde-lf i.bao{ background:url(../../images/Icon/equ-bao.png) no-repeat left center; background-size:0.32rem;}
.sv-guarantee .scgtee-demo .sgde-lf i.tou{ background:url(../../images/Icon/equ-tou.png) no-repeat left center; background-size:0.32rem;}
.sv-guarantee .scgtee-demo .sgde-lf i.ktou{ background:url(../../images/Icon/icon-ktb.png) no-repeat left center; background-size:0.32rem;}
.sv-guarantee .scgtee-demo .sgde-lf i.ji{background:url(../../images/Icon//equ-ji.png) no-repeat left center; background-size:0.32rem;}
.sv-guarantee .scgtee-demo .sgde-lf i.pei{background:url(../../images/Icon/equ-pei.png) no-repeat left center; background-size:0.32rem;}
.sv-guarantee .scgtee-demo .sgde-lf i.shi{background:url(../../images/Icon/equ-shi.png) no-repeat left center; background-size:0.32rem;}



.sv-guarantee .scgtee-demo .sgde-tn{ height:auto; display:block; overflow:hidden;}
.sv-guarantee .scgtee-demo .sgde-tn .tn-til{ height:0.32rem; line-height:0.32rem;}
.sv-guarantee .scgtee-demo .sgde-tn .tn-txt{ line-height:0.48rem;}
.sv-guarantee .sgde-btn{ height:1rem; line-height:1rem;}

/*装备下单*/
.member-tab{ height:auto; display:block; overflow:hidden;}
.member-tab .pro-list{width:100%; height:auto; display:block; overflow:hidden; box-sizing:border-box;}
.member-tab .pro-list a{float:left; width:100%;}
.member-tab .pro-col{float:left; width:100%; position: relative;  }
.member-tab .pro-list .pro-pic{float:left; width:1.28rem; overflow:hidden; position: relative; height:1.28rem; line-height:1.28rem; z-index:3; }
.member-tab .pro-list .pro-pic img{height:1.28rem; width:100%; vertical-align:top; }
.member-tab .pro-pic .photoNumBg{ z-index:1; position:absolute; bottom:0; right:0; background:#000; width:.72rem; height:.33rem; opacity:.7;filter:alpha(opacity=70);}
.member-tab .pro-pic .photoNum{ z-index:2; position:absolute; bottom:.07rem; right:.3rem; width:.3rem; height:.2rem; line-height:.2rem; background:url(../../images/icon-photo.png) left center no-repeat; background-size:.24rem;}
.member-tab .tabPc-title p.title2{line-height:1.5; color:#000; height:auto; display:block; overflow:hidden; }

.member-tab .pcOrder01{ height:auto; display:block; overflow:hidden; box-sizing:border-box; }
.member-tab .pcOrder01 p.p1{ line-height:1rem;}
.member-tab .pcOrder01 p.p2{ line-height:0.8rem; height:0.8rem;}
.member-tab .pcOrder01 p.p2 i.right{ display:inline-block; background:url(../../images/Icon/equright-ico.png) no-repeat right center; background-size:0.17rem; width:0.17rem; height:0.8rem;}




.member-tab .pcOrder02{ height:auto; display:block; overflow:hidden; box-sizing:border-box; }
.member-tab .pcOrder02 .pcOrder02-left{ line-height:.96rem; color:#000; }
.member-tab .pcOrder02 .pcOrder02-left em{ display:inline-block; line-height:.96rem;}
.member-tab .pcOrder02 .pcOrder02-left i{display:inline-block; background: url(../../images/anfw-ico.png) 0 center no-repeat; background-size:.33rem; width:.75rem; height:.96rem; }
.member-tab .pcOrder02 .pcOrder02-right{ height:auto; display:block; overflow:hidden; }
.member-tab .pcOrder02 .pcOrder02-right em{ line-height:.96rem; }
.member-tab .pcOrder02 .pcOrder02-right span{ width:1.03rem; height:0.58rem; margin-top:.17rem; }


/*左右切换按钮*/
.button-switch{ display: block; width: 1.18rem; height: .59rem}
.label-switch {display: inline-block;vertical-align: middle;width: 100%;border-radius:.4rem;box-sizing: border-box;height: 100%;position: relative;cursor: pointer;-webkit-align-self: center;align-self: center;}
.label-switch .checkbox {width: 100%;border-radius: .4rem;box-sizing: border-box;height: 100%;background: #9f9d9d;z-index: 0;margin: 0;padding: 0;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;appearance: none;border: none;cursor: pointer;position: relative;}
.label-switch .checkbox:before {content: ' ';position: absolute;left: 0px;top: 0px; margin:2%; width:96%;border-radius: .4rem;box-sizing: border-box;height: 98%;background: #9f9d9d;z-index: 1;-webkit-transition-duration: 300ms;transition-duration: 300ms;-webkit-transform: scale(1);transform: scale(1);}
.label-switch .checkbox:after {content: ' ';height: 92%;width: 50%;border-radius: .4rem;background: #fff;position: absolute;z-index: 2;top: 0px;left: 0px;margin:2%;box-shadow: 0 .05rem 0.12rem rgba(0, 0, 0, 0.4);-webkit-transform: translateX(0px);transform: translateX(0px);-webkit-transition-duration: 300ms;transition-duration: 300ms;}
.label-switch input[type="checkbox"] {display: none;}
.label-switch input[type="checkbox"]:checked + .checkbox {background: #4cd964;}
.label-switch input[type="checkbox"]:checked + .checkbox:before {-webkit-transform: scale(0);transform: scale(0);}
.label-switch input[type="checkbox"]:checked + .checkbox:after {-webkit-transform: translateX(92%);transform: translateX(92%);}
.label-switch input[type="checkbox"] + .checkbox {-webkit-transition-duration: 0;transition-duration: 0;}
.label-switch input[type="checkbox"] + .checkbox:after,html.android .label-switch input[type="checkbox"] + .checkbox:before {-webkit-transition-duration: 0;transition-duration: 0;}

.bthead h3{height:1rem; line-height:1rem;}
.bthead h3 em { height:1rem;  background:url(../../images/curent.jpg) no-repeat left center; background-size:0.06rem;}

.divInput01{ height:auto; min-height:1rem; display:block;  position:relative;}
.divInput01 span{ float:left; width:28%; line-height:1rem;}
.divInput01 input{ float:left; width:72%; padding:0.2rem 0 0.18rem; line-height:0.6rem; border:none;}
.divInput01 .divequ-titl{ position:absolute; top:1rem; left:0; width:100%; height:auto; display:block; overflow:hidden; z-index:10; background-color:#fff;}
.divInput01 .divequ-titl ul li{ height:1rem; line-height:1rem;}
.divInput01 .divequ-titl ul li em{ display:block; height:1rem;}
.divInput01 .divequ-titl ul li.active em{ background:url(../../images/recharge/choice-ico.png) no-repeat right center; background-size:0.31rem; }
.divequ-ico{ position:absolute; width:0.42rem; height:1rem; background:url(../../images/Icon/icon-mine.png) no-repeat right center; top:0; right:0.3rem; background-size:0.40rem;}
.dress-ico{ position:absolute; width:0.4rem; height:1rem; background:url(../../images/pay-ico.png) no-repeat right center; top:0; right:0.3rem; background-size:0.18rem;}




.mobun-rg{width:auto;height: 1rem; display:block; overflow:hidden;}
.mobun-rg span.list{ width:auto; display:block; margin-top:0.18rem;}
.mobun-rg span.list em{ display:inline-block; width:0.66rem; height:0.66rem; background-color:#ffffff; float:left;}
.mobun-rg span.list em a{float:left; width:0.66rem; height:0.66rem; background-size:0.27rem!important; display:block; border:1px solid #e8e8e8;}
.mobun-rg span.list em a.ch_redu{ background:url(../../images/ch_redu.png) no-repeat center center;background-color:#fff;}
.mobun-rg span.list em a.ch_redu_hov{ background:url(../../images/ch_redu_hov.png) no-repeat center center;background-color:#fff;}
.mobun-rg span.list em a.ch_add{ background:url(../../images/ch_add.png) no-repeat center center; background-color:#fff;}
.mobun-rg span.list em a.ch_add_hov{ background:url(../../images/co_add.png) no-repeat center center;background-color:#fff;}
.mobun-rg span.list .char-fabu{ height:0.66rem; line-height:0.66rem; border:1px solid #e8e8e8; border-left:none; border-right:none; background-color:#fff; color:#000000; width:0.96rem; float:left; text-align:center; -webkit-appearance: none; outline:none; border-radius:0px; opacity:1; font-family:"Arial"; padding:0; font-size:0.36rem;}
.mobilegames-mun .mobun-rg span input[disabled],input:disabled{background-color:#fff;}


.fixed-button4{ height:auto; display:block; overflow:hidden;}
.fixed-button4 .fleft{line-height:0.92rem;  }
.fixed-button4 .fleft .e1{ color:#000; margin-right:.15rem; }
.fixed-button4 .fleft .e2{ color:#f75e46; }
.fixed-button4 .fleft .e3{ color:#f75e46; }
.fixed-button4 a.fright{ display:inline-block; width:50%; background:#f75e46; text-align:center; line-height:0.92rem; color:#fff; }

/*下单页交易区服*/
.trading-dress{ height:auto; display:block; overflow:hidden; z-index:10}
.trading-dress .dress-titl{ height:1.1rem; line-height:1.1rem; }
.trading-dress .dress-titl a.close{ display:block; height:1.1rem; background:url(../../images/Icon/close-img.png) no-repeat right center; background-size:0.21rem; width:0.21rem;}
.trading-dress .dress-nav{ height:1.2rem; }
.trading-dress .dress-nav span{ display:block;  height:1.19rem; line-height:1.19rem;}
.trading-dress .dress-nav ul li{ height:1.2rem; }
.trading-dress .dress-nav ul li.area{ width:55%;}
.trading-dress .dress-nav ul li.clothes{ width:45%;}

.trading-dress .dress-nav span.active{ border-bottom:2px solid #f75e46;}

.dress-list{height:auto; display:block; overflow:hidden; }
.dress-list .listcnv{ height:1rem; line-height:1rem; padding:0 0.5rem 0 0.6rem;}
.dress-list .area-list{ width:55%;}
.dress-list .area-clothes{ width:45%;}
.dress-list .listcnv span{ display:block; overflow:hidden;}
.dress-list .active span{ background:url(../../images/recharge/choice-ico.png) no-repeat right center; background-size:0.31rem; }
